//Import dependencies
@import "@siimple/css/scss/variables.scss";

//Neutrine Text Editor class
.neutrine-te {
    display: block;
    //Editor
    &-editor {
        //Paper style
        &--paper {
            background-color: siimple-default-color("light");
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 3px solid siimple-default-color("light", "dark");
        }
        &--paper &-content {
            width: calc(90% - 2px) !important;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid transparent;
            transition: all 0.3s;
            padding-top: 25px;
            padding-bottom: 25px;
            &:focus {
                border-color: siimple-default-color("light", "dark");
            }
        }
        &--resize &-content {
            resize: vertical;
            overflow: auto;
        }
        //Editor content
        &-content {
            background-color: #ffffff;
            //padding: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            outline: none;
            color: siimple-default-color("dark", "dark");
        }
    }
    //Buttons container
    &-buttons {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 24px;
    }
    //Button element
    &-btn {
        display: inline-block;
        min-width: 24px;
        height: 24px;
        margin-right: 4px;
        background-color: siimple-default-color("light");
        background-size: 15px 15px;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 5px;
        transition: background-color 0.3s;
        cursor: pointer;
        //fill: siimple-default-color("dark", "light");
        color: siimple-default-color("dark");
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        &:hover {
            background-color: siimple-default-color("light", "dark");
        }
        //Hack to fix buttons position with missing icon
        vertical-align: top;
    }
}

