//Theme code block
.#{$website-prefix}-code {
    //font-size: 12px !important;
    //line-height: 20px !important;
    font-weight: 600 !important;
    //Code colors
    & .b {
        color: siimple-default-color("primary", "dark");
    }
    & .g {
        color: siimple-default-color("success", "dark");
    }
    & .y {
        color: siimple-default-color("warning", "dark");
    }
    //Small code block
    &--small {
        font-size: 12px !important;
        line-height: 20px !important;
    }
}

