//Import dependencies
@import "@siimple/css/scss/variables.scss";

//Global variables
$website-prefix: "website";

//Import global styles
@import "./card.scss";
@import "./code.scss";
@import "./toolkits.scss";

