//Import dependencies
@import "@siimple/css/scss/variables.scss";

//App main content wrapper
.neutrine-app-main {
    display: block;
    max-width: calc(860px - 30px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    //min-height: 100%;
    //Fluid content
    &--fluid {
        max-width: calc(100% - 30px);
    }
}

