//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@import "./_variables.scss";
@import "./_utils.scss";

//Import font from Google Fonts
@import url(#{$siimple-default-font-url});

//Default html style
html {
    font-family: $siimple-default-text-font;
    font-weight: $siimple-default-text-weight;
    font-size: $siimple-default-text-size;
    color: $siimple-default-text-color;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

//Remove the margin in all browsers
body {
    margin: 0;
}

