//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//
@import "./_variables.scss";

.siimple {
    //Align
    &--right {
        float: right !important;
    }
    &--left {
        float: left !important;
    }

    //Clear floated content 
    &--clear {
        @include siimple-utils-clear();
    }

    //Sizes 
    @each $key,$value in $siimple-default-percentages {
        &--width-#{$key} {
            width: $value !important;
        }
        &--mwidth-#{$key} {
            max-width: $value !important;
        }
        &--height-#{$key} {
            height: $value !important;
        }
        &--mheight-#{$key} {
            max-height: $value !important;
        }
    } 

    //Text 
    &--text {
        //Text alignment
        &-justify {
            text-align: justify !important;
        }
        &-left {
            text-align: left !important;
        }
        &-center {
            text-align: center !important;
        }
        &-right {
            text-align: right !important;
        }

        //Text transformation
        &-uppercase {
            text-transform: uppercase !important;
        }
        &-bold {
            font-weight: 700 !important;
        }
        &-normal {
            font-weight: 400 !important;
        }

        //Text sizes
        &-small {
            font-size: 13px !important; 
        }
    }
}
