//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Set text selection
//Mixin by @icetee (PR #5) and edited by @dyzajash (PR #11)
@mixin siimple-utils-select($select)
{
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
}
