//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

//Default color palette
$siimple-default-colors: $siimple-colors;

//Default media sizes values
$siimple-default-sizes: (
    "xl": 1280px,
    "lg": 960px,
    "md": 768px,
    "sm": 480px
);

//Default text variables
$siimple-default-text-size: 14px;
$siimple-default-text-font: 'Montserrat', sans-serif;
$siimple-default-text-line: 20px;
$siimple-default-text-weight: normal;
$siimple-default-text-color: $siimple-navy;

//Default border values
$siimple-default-border-radius: 5px;

//Default margin values
$siimple-default-margin-top: 0px;
$siimple-default-margin-bottom: 15px;
