//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

//Default text variables
$siimple-default-text-size: 14px;
$siimple-default-text-font: 'Montserrat', sans-serif;
$siimple-default-text-line: 23px;
$siimple-default-text-weight: normal;
$siimple-default-text-color: $siimple-navy;

//Default border values
$siimple-default-border-radius: 5px;

//Default margin values
$siimple-default-margin-top: 0px;
$siimple-default-margin-bottom: 15px;

//Default colors
$siimple-default-colors: (
  "navy": (#57607c, #ffffff),
  "green": (#1add9f, #ffffff),
  "teal": (#18d2ba, #ffffff),
  "blue": (#4894f0, #ffffff),
  "purple": (#b490f5, #ffffff),
  "pink": (#f45b93, #ffffff),
  "red": (#ff1a4f, #ffffff),
  "orange": (#ff8463, #ffffff),
  "yellow": (#ffbf00, #ffffff),
  "grey": (#ebf2fa, #57607c),
  "white": (#ffffff, #57607c)
);
