// Screen sizes
$tablet: 600px;
$desktop: 1200px;
$fullhd: 1800px;

// Default body styles
$default-body: (
    "background-color": "body",
    "color": "body",
    "font-family": "body",
    "font-size": "body",
    "font-weight": 400,
    "line-height": "body",
);

// Default colors
$primary: #307ad5;     // blue-500
$highlight: #e5effb;   // blue-200
$secondary: #202ba2;   // royal-600
$accent: #4622a0;      // purple-600
$light: #ebedef;       // coolgray-200
$dark: #363f4f;        // coolgray-700
$muted: #747c8b;       // coolgray-500
$black: #000000;
$white: #ffffff;

// Column sizes
$columns: (
    "one-fifth": 20%,
    "one-quarter": 25%,
    "one-third": 33.33%,
    "two-fifths": 40%,
    "half": 50%,
    "three-fifths": 60%,
    "two-thirds": 66.66%,
    "three-quarters": 75%,
    "four-fifths": 80%,
    "full": 100%,
);

// Fonts
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Common headings sizes
$headings: (
    "1": 2.5rem,
    "2": 2rem,
    "3": 1.75rem,
    "4": 1.5rem,
    "5": 1.25rem,
    "6": 1rem,
);

//Shadow
$shadow-color: black;
$shadow-ring: 0 0 0 1px rgba($shadow-color, 0.02);
$shadow-normal: 0 0.5rem 1rem -0.25rem rgba($shadow-color, 0.2), $shadow-ring;
$shadow-small: 0 0.25rem 1rem -0.125rem rgba($shadow-color, 0.15), $shadow-ring;
$shadow-large: 0rem 1rem 1rem -0.5rem rgba($shadow-color, 0.25), $shadow-ring;
//$shadow-old: 0 0.5em 1em -0.125em rgba($shadow-color,0.15), 0 0 0 1px rgba($shadow-color,0.02);

//Sizes mapping
$sizes: (
    "0": 0px,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 0.75rem,
    "4": 1rem,
    "6": 1.5rem,
    "8": 2rem,
    "12": 3rem,
    "16": 4rem,
    "24": 6rem,
    "32": 8rem,
    "48": 12rem,
    "64": 16rem,
    "96": 24rem,
    "128": 32rem,
    "256": 64rem,
);

// CSS aliases
$css-aliases: (
    "bc": ("border-color"),
    "bg": ("background-color"),
    "m": ("margin"),
    "mb": ("margin-bottom"),
    "ml": ("margin-left"),
    "mr": ("margin-right"),
    "mt": ("margin-top"),
    "mx": ("margin-left" "margin-right"),
    "my": ("margin-top" "margin-bottom"),
    "p":  ("padding"),
    "pb": ("padding-bottom"),
    "pl": ("padding-left"),
    "pr": ("padding-right"),
    "pt": ("padding-top"),
    "px": ("padding-left" "padding-right"),
    "py": ("padding-top" "padding-bottom"),
    "radius": ("border-radius"),
    "size": ("width" "height"),
);

// Map css properties to theme fields
$css-mappings: (
    "background-color": "backgrounds",
    "border-color": "backgrounds",
    "border-bottom-color": "backgrounds",
    "border-left-color": "backgrounds",
    "border-right-color": "backgrounds",
    "border-top-color": "backgrounds",
    "border-radius": "radius",
    "border-bottom-left-radius": "radius",
    "border-bottom-right-radius": "radius",
    "border-top-left-radius": "radius",
    "border-top-right-radius": "radius",
    "border-width": "sizes",
    "border-bottom-width": "sizes",
    "border-left-width": "sizes",
    "border-right-width": "sizes",
    "border-top-width": "sizes",
    "bottom": "spacing",
    "box-shadow": "shadows",
    "color": "colors",
    "fill": "backgrounds",
    "font-family": "fonts",
    "font-size": "font-sizes",
    "font-weight": "font-weights",
    "height": "sizes",
    "left": "spacing",
    "line-height": "line-heights",
    "margin": "spacing",
    "margin-bottom": "spacing",
    "margin-left": "spacing",
    "margin-right": "spacing",
    "margin-top": "spacing",
    "max-height": "sizes",
    "max-width": "sizes",
    "min-height": "sizes",
    "min-width": "sizes",
    "opacity": "opacities",
    "padding": "spacing",
    "padding-bottom": "spacing",
    "padding-left": "spacing",
    "padding-right": "spacing",
    "padding-top": "spacing",
    "right": "spacing",
    "text-shadow": "shadows",
    "top": "spacing",
    "width": "sizes",
);

// Overflow properties
$overflow-properties: (
    "overflow": "overflow",
    "overflow.x": "overflow-x",
    "overflow.y": "overflow-y",
);

// Properties for sizing helpers
$sizing-properties: (
    "width": (
        "name": "w",
        "properties": ("width"),
    ),
    "width.min": (
        "name": "minw",
        "properties": ("min-width"),
    ),
    "width.max": (
        "name": "maxw",
        "properties": ("max-width"),
    ),
    "height": (
        "name": "h",
        "properties": ("height"),
    ),
    "height.min": (
        "name": "minh",
        "properties": ("min-height"),
    ),
    "height.max": (
        "name": "maxh",
        "properties": ("max-height"),
    ),
    "size": (
        "name": "s",
        "properties": ("width" "height"),
    ),
);

// Properties for spacing helpers
$spacing-properties: (
    "padding": (
        "name": "p",
        "properties": ("padding"),
    ),
    "padding.x": (
        "name": "px",
        "properties": ("padding-left" "padding-right"),
    ),
    "padding.y": (
        "name": "py",
        "properties": ("padding-top" "padding-bottom"),
    ),
    "padding.top": (
        "name": "pt",
        "properties": ("padding-top"),
    ),
    "padding.bottom": (
        "name": "pb",
        "properties": ("padding-bottom"),
    ),
    "padding.left": (
        "name": "pl",
        "properties": ("padding-left"),
    ),
    "padding.right": (
        "name": "pr",
        "properties": ("padding-right"),
    ),
    "margin": (
        "name": "m",
        "properties": ("margin"),
    ),
    "margin.x": (
        "name": "mx",
        "properties": ("margin-left" "margin-right"),
    ),
    "margin.y": (
        "name": "my",
        "properties": ("margin-top" "margin-bottom"),
    ),
    "margin.top": (
        "name": "mt",
        "properties": ("margin-top"),
    ),
    "margin.bottom": (
        "name": "mb",
        "properties": ("margin-bottom"),
    ),
    "margin.left": (
        "name": "ml",
        "properties": ("margin-left"),
    ),
    "margin.right": (
        "name": "mr",
        "properties": ("margin-right"),
    ),
);

// Placement properties
$placement-properties: (
    "bottom": (
        "name": "bottom",
        "properties": ("bottom"),
    ),
    "left": (
        "name": "left",
        "properties": ("left"),
    ),
    "right": (
        "name": "right",
        "properties": ("right"),
    ),
    "top": (
        "name": "top",
        "properties": ("top"),
    ),
);

// Background sizes
$background-size-values: (
    "auto": auto,
    "cover": cover, 
    "contain": contain,
);

// Background repeat
$background-repeat-values: (
    "repeat": repeat,
    "repeat-x": repeat-x,
    "repeat-y": repeat-y,
    "no-repeat": no-repeat,
);

// Cursors
$cursor-values: (
    "hand": pointer,
    "pointer": pointer,
    "move": move,
    "none": none,
    "zoom-in": zoom-in,
    "zoom-out": zoom-out,
    "not-allowed": not-allowed,
);

// Display values
$display-values: (
    "none": none,
    "inline": inline,
    "block": block,
    "inline-block": inline-block,
    "flex": flex,
    "inline-flex": inline-flex,
) !default;

// Display flex values
$display-flex-values: (
    "default": flex,
    "inline": inline-flex,
) !default;

// Flex values
$flex-values: (
    "none": none,
    "initial": initial,
    "auto": auto,
) !default;

// Flex direction values
$flex-direction-values: (
    "row": row, 
    "column": column, 
    "row-rev": row-reverse, 
    "column-rev": column-reverse,
) !default;

// Flex wrap values
$flex-wrap-values: (
    "wrap": wrap,
    "no-wrap": nowrap,
) !default;

// Flex grow values
$flex-grow-values: (
    "grow": 1,
    "no-grow": 0,
) !default;

// Flex shring values
$flex-shrink-values: (
    "shrink": 1,
    "no-shrink": 0,
) !default;

// Align content values
$align-content-values: (
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "between": space-between,
    "around": space-around,
    "evenly": space-evenly,
) !default;

// Align items
// https://developer.mozilla.org/en-US/docs/Web/CSS/align-items
$align-items-values: (
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "stretch": stretch,
    "baseline": baseline,
) !default;

// ALign self
// https://developer.mozilla.org/en-US/docs/Web/CSS/align-self
$align-self-values: (
    "auto": auto,
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "stretch": stretch,
    "baseline": baseline,
) !default;

// Justify content values
// https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
$justify-content-values: (
    "start": flex-start,
    "end": flex-end,
    "center": center,
    "between": space-between,
    "around": space-around,
    "evenly": space-evenly,
) !default;

// Order values
$order-values: (
    "none": 0,
    "first": -999,
    "last": 999,
) !default;

// Float values
$float-values: (
    "left": left,
    "right": right,
    "none": none,
) !default;

// Overflow values
$overflow-values: (
    "auto": auto,
    "scroll": scroll,
    "hidden": hidden,
) !default;

// Position values
$position-values: (
    "relative": relative,
    "absolute": absolute,
    "sticky": sticky,
    "fixed": fixed,
    "initial": initial,
) !default;

// Text transform values
$text-transform-values: (
    "capitalize": capitalize,
    "uppercase": uppercase,
    "lowercase": lowercase,
) !default;

// Text decoration values
$text-decoration-values: (
    "underline": underline,
    "no-underline": none,
) !default;

// Text align values
$text-align-values: (
    "justify": justify, 
    "left": left, 
    "center": center, 
    "right": right,
) !default;

// Font family values
$font-family-values: (
    "sans": $font-sans,
    "serif": $font-serif,
    "mono": $font-monospace,
) !default;

// Font size values
$font-size-values: (
    "xs": 0.75rem,
    "sm": 0.875rem,
    "base": 1rem,
    "lg": 1.25rem,
    "xl": 1.5rem,
    "2xl": 2rem,
    "3xl": 2.5rem,
    "4xl": 3rem,
) !default;

// Font-style values
$font-style-values: (
    "italic": italic,
    "no-italic": normal,
) !default;

// Font weight values
$font-weight-values: (
    "light": 300,
    "normal": 400,
    "medium": 500,
    "bold": 700,
    "black": 900,
) !default;

// Line height values
$line-height-values: (
    "none": 1,
    "normal": normal,
    "sm": 1.25,
    "base": 1.5,
    "lg": 2,
) !default;

// Vertical aligns values
$vertical-align-values: (
    "baseline": baseline,
    "top": top,
    "middle": middle,
    "bottom": bottom,
    "text-top": text-top,
    "text-bottom": text-bottom,
) !default;

// Placement values
$placement-values: (
    "auto": auto,
    "0": 0px,
    "half": 50%,
    "full": 100%,
) !default;

// Opacity values
$opacity-values: (
    "0": 0,
    "5": 0.05,
    "10": 0.1,
    "15": 0.15,
    "20": 0.2,
    "25": 0.25,
    "30": 0.3,
    "35": 0.35,
    "40": 0.4,
    "45": 0.45,
    "50": 0.5,
    "55": 0.55,
    "60": 0.6,
    "65": 0.65,
    "70": 0.7,
    "75": 0.75,
    "80": 0.8,
    "85": 0.85,
    "90": 0.9,
    "95": 0.95,
    "100": 100
);

// Border radius values
$border-radius-values: (
    //"xs": 0.125rem,
    "sm": 0.25rem,
    "default": 0.5rem,
    // "base": 0.5rem,
    "lg": 0.75rem,
    "xl": 1rem,
    "full": 9999px,
    "none": 0px,
) !default;
