@use "sass:map";
@use "siimple:lib" as lib;

// Default values
$theme: lib.empty-map() !default;
$prefix: "siimple-" !default;
$variants: lib.empty-map() !default;
$plugins: lib.empty-list() !default;
$styles: lib.empty-map() !default;
$flags: lib.empty-map() !default;
$body: lib.empty-map() !default;

// Build siimple mixin
@mixin build() {
    // Initialize sheet configuration
    $sheet: lib.create-sheet();
    // $sheet: map.set($sheet, "prefix", $prefix); // Assign prefix
    // $sheet: map.set($sheet, "theme", theme.parse-theme($options)); // Assign theme config
    // $sheet: map.set($sheet, "breakpoints", breakpoints.parse-breakpoints($breakpoints));
    // Initialize prefix
    @if lib.is-string($prefix) {
        @include lib.prefix(("components": $prefix));
    }
    // Initialize theme values
    @if lib.is-map($theme) {
        @include lib.theme($theme);
    }
    // Initialize variants
    @if lib.is-map($variants) {
        @include lib.variants($variants);
    }
    // Register body styles
    @if lib.get-in($flags, "add-body-styles", true) {
        $sheet: lib.add-styles-to-sheet($sheet, "body", map.merge(lib.$body, $body));
    }
    // Register custom styles
    @if lib.is-map($styles) {
        @each $selector,$rules in $styles {
            $sheet: lib.add-styles-to-sheet($sheet, $selector, $rules);
        }
    }
    // Register plugins
    @each $plugin in lib.flatten($plugins) {
        //$plugin: list.nth($plugins, $index);
        // Check for component plugin
        @if lib.is-plugin($plugin, "component") {
            $sheet: lib.apply-component-plugin($sheet, $plugin);
        }
        // Check for helper plugin
        @else if lib.is-plugin($plugin, "helper") {
            $sheet: lib.apply-helper-plugin($sheet, $plugin);
        }
        // Check for font plugin
        @else if lib.is-plugin($plugin, "font") {
            $sheet: lib.add-font-to-sheet($sheet, $plugin);
        }
        // Check for keyframes plugin
        @else if lib.is-plugin($plugin, "keyframes") {
            $sheet: lib.add-keyframes-to-sheet($sheet, $plugin);
        }
        // Check for styles plugin
        @else if lib.is-plugin($plugin, "styles") {
            @each $selector,$rules in lib.get-in($plugin, "styles", lib.empty-map()) {
                $sheet: lib.add-styles-to-sheet($sheet, $selector, $rules);
            }
        }
    }
    // Compile sheet
    @include lib.compile-sheet($sheet);
}

// Build siimple
@include build();
