@use "sass:map";
@use "sass:list";

@use "./constants.scss" as constants;
@use "./naming.scss" as naming;
@use "./plugins.scss" as plugins;
@use "./sheet.scss" as sheet;
@use "./theme.scss" as theme;
@use "./utils.scss" as utils;
@use "./variants.scss" as variants;

// Default plugins included with siimple
// @use "./plugins/components.scss";
// @use "./plugins/experiments.scss";

// Internal variables
$-custom-plugins: utils.empty-list();
$-custom-flags: utils.empty-map();
$-custom-body: null;
$-custom-styles: null;

// @description Configure siimple css
@mixin configure($prefix: nulll, $theme: null, $variants: null, $plugins: null, $styles: null, $flags: null, $body: null) {
    // Update prefix used in siimple
    @if $prefix and utils.is-string($prefix) {
        @include naming.set-prefixes(("components": $prefix));
    }
    // Initialize theme values
    @if $theme and utils.is-map($theme) {
        @include theme.set-theme($theme);
    }
    // Initialize variants
    @if $variants and utils.is-map($variants) {
        @include variants.set-variants($variants);
    }
    // Initialize flags
    @if $flags and utils.is-map($flags) {
        $-custom-flags: map.merge($-custom-flags, $flags) !global;
    }
    // Initialize plugins
    @if $plugins and utils.is-list($plugins) {
        $-custom-plugins: $plugins !global;
    }
    // Initialize styles
    @if $styles and utils.is-map($styles) {
        $-custom-styles: $styles !global;
    }
    // Initialize body styles
    @if $body and utils.is-map($body) {
        $-custom-body: $body !global;
    }
}

// @description generate siimple css styles
@mixin css() {
    $sheet: sheet.create-sheet();
    // Register body styles
    @if utils.get-in($-custom-flags, "use-custom-body", true) and utils.is-map($-custom-body) {
        // $new-body: map.merge(constants.$default-body, $-custom-body);
        $sheet: sheet.add-styles-to-sheet($sheet, "body", $-custom-body);
    } @else {
        $sheet: sheet.add-styles-to-sheet($sheet, "body", constants.$default-body);
    }
    // Register custom styles
    @if utils.get-in($-custom-flags, "use-custom-styles", true) and utils.is-map($-custom-styles) {
        @each $selector,$rules in $-custom-styles {
            $sheet: sheet.add-styles-to-sheet($sheet, $selector, $rules);
        }
    }
    // Add experiments plugin
    // By default adding experiments plugin is disabled
    @if utils.get-in($-custom-flags, "use-experiments", false) {
        $-custom-plugins: list.join(plugin-helpers(), $-custom-plugins);
    }
    // Add components plugin
    @if utils.get-in($-custom-flags, "use-components", true) {
        $-custom-plugins: list.join(plugin-components(), $-custom-plugins);
    }
    // Add reboot styles
    @if utils.get-in($-custom-flags, "use-reboot", true) {
        $-custom-plugins: list.join(plugin-reboot(), $-custom-plugins);
    }
    // Add border-box
    @if utils.get-in($-custom-flags, "use-borderbox", true) {
        $-custom-plugins: list.join(plugin-borderbox(), $-custom-plugins);
    }
    // Register plugins
    @each $plugin in utils.flatten($-custom-plugins) {
        //$plugin: list.nth($plugins, $index);
        // Check for component plugin
        @if plugins.is-plugin($plugin, "component") {
            $sheet: plugins.apply-component-plugin($sheet, $plugin);
        }
        // Check for helper plugin
        @else if plugins.is-plugin($plugin, "helper") {
            $sheet: plugins.apply-helper-plugin($sheet, $plugin);
        }
        // Check for font plugin
        @else if plugins.is-plugin($plugin, "font") {
            $sheet: sheet.add-font-to-sheet($sheet, $plugin);
        }
        // Check for keyframes plugin
        @else if plugins.is-plugin($plugin, "keyframes") {
            $sheet: sheet.add-keyframes-to-sheet($sheet, $plugin);
        }
        // Check for styles plugin
        @else if plugins.is-plugin($plugin, "styles") {
            @each $selector,$rules in utils.get-in($plugin, "styles", utils.empty-map()) {
                $sheet: sheet.add-styles-to-sheet($sheet, $selector, $rules);
            }
        }
    }
    // Compile sheet
    @include sheet.compile-sheet($sheet);
}
