@use "@siimple/lib" as siimple;

//Side styles
.neutrine__side {
    //Background 
    &-background {
        display: none;
        //visibility: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;
        background-color: rgba(siimple.color-darker("dark"), 0.4);
        overflow-x: hidden;
        overflow-y: hidden;
        //transition: visibility 0.3s;
    }
    //Side visible
    &--visible &-background {
        display: block;
        //visibility: visible;
    }
    //Side header and body common styles
    &-header,
    &-body {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }
    &-header {
        //display: block;
        height: 24px;
        line-height: 24px;
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    //Side body
    &-body {
        //display: block;
        //padding-left: 25px;
        //padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        //overflow-y: auto;
    }
    //Side content
    &-content {
        display: block;
        //display: none;
        //width: 400px; //Default width
        //height: 100%;
        background-color: siimple.color("white");
        border-radius: 0px;
        position: fixed;
        //top: 0px;
        z-index: 120;
        overflow-x: hidden;
        overflow-y: auto;
        //Right aligned side
        &--right {
            top: 0px;
            right: calc(-1 * 100%);
            transition: right 0.3s;
        }
        //Left aligned side
        &--left {
            top: 0px;
            left: calc(-1 * 100%);
            transition: left 0.3s;
        }
        //Top aligned side
        &--top {
            left: 0px;
            top: calc(-1 * 100%);
            transition: top 0.3s;
        }
        //Bottom aligned side
        &--bottom {
            left: 0px;
            bottom: calc(-1 * 100%);
            transition: bottom 0.3s;
        }
    }
    //Side visible
    //&--visible &-content {
    //    display: block;
    //}
    &--visible &-content--right {
        right: 0px;
    }
    &--visible &-content--left {
        left: 0px;
    }
    &--visible &-content--top {
        top: 0px;
    }
    &--visible &-content--bottom {
        bottom: 0px;
    }
    //Side close icon
    &-close {
        display: block;
        position: relative;
        //top: 10px;
        //right: 16px;
        width: 16px;
        height: 24px;
        cursor: pointer;
        opacity: 0.6;
        float: right;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1.0;
        }
        &::before,
        &::after {
            content: "";
            width: 16px;
            height: 3px;
            background-color: siimple.color("dark");
            position: absolute;
            border-radius: 1px;
            top: 10px;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
            display: block;
        }
    }
}

