@use "@siimple/lib" as siimple;

//Side variables
$side-border-radius: 2 * siimple.$border-radius;

//Side styles
.neutrine__side {
    //Background 
    &-background {
        display: none;
        //visibility: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;
        background-color: rgba(siimple.color-darker("dark"), 0.4);
        overflow-x: hidden;
        overflow-y: hidden;
        //transition: visibility 0.3s;
    }
    //Side visible
    &--visible &-background {
        display: block;
        //visibility: visible;
    }
    //Side content
    &-content {
        display: block;
        //display: none;
        //width: 400px; //Default width
        //height: 100%;
        background-color: siimple.color("white");
        border-radius: 0px;
        position: fixed;
        //top: 0px;
        z-index: 120;
        overflow-x: hidden;
        overflow-y: auto;
        //Right aligned side
        &--right {
            top: 0px;
            right: calc(-1 * 100%);
            transition: right 0.3s;
        }
        //Left aligned side
        &--left {
            top: 0px;
            left: calc(-1 * 100%);
            transition: left 0.3s;
        }
        //Top aligned side
        &--top {
            left: 0px;
            top: calc(-1 * 100%);
            transition: top 0.3s;
        }
        //Bottom aligned side
        &--bottom {
            left: 0px;
            bottom: calc(-1 * 100%);
            transition: bottom 0.3s;
        }
    }
    //Side visible
    //&--visible &-content {
    //    display: block;
    //}
    &--visible &-content--right {
        right: 0px;
    }
    &--visible &-content--left {
        left: 0px;
    }
    &--visible &-content--top {
        top: 0px;
    }
    &--visible &-content--bottom {
        bottom: 0px;
    }
    //Rounded side
    &--rounded &-content--right {
        border-top-left-radius: $side-border-radius;
        border-bottom-left-radius: $side-border-radius;
    }
    &--rounded &-content--left {
        border-top-right-radius: $side-border-radius;
        border-bottom-right-radius: $side-border-radius;
    }
    &--rounded &-content--top {
        border-bottom-left-radius: $side-border-radius;
        border-bottom-right-radius: $side-border-radius;
    }
    &--rounded &-content--bottom {
        border-top-left-radius: $side-border-radius;
        border-top-right-radius: $side-border-radius;
    }
}

