//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Checkbox variables
$siimple-checkbox-width: 18px;
$siimple-checkbox-height: 18px;

//Checkbox class
.siimple-checkbox {
    display: inline-block;
    position: relative;
    width: $siimple-checkbox-width;
    height: $siimple-checkbox-height;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: top;
    //Checkbox label
    & label {
        width: $siimple-checkbox-width;
        height: $siimple-checkbox-height;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        background: siimple-default-color("light");
        //Tick
        &:after {
            content: "";
            opacity: 0.2;
            width: 8px;
            height: 4px;
            transform: rotate(-45deg);
            transition: all 0.3s;
            position: absolute;
            top: 5px;
            left: 4px;
            background: transparent;
            border: 2px solid siimple-default-color("dark");
            border-top: 0px;
            border-right: 0px;
        }
        &:hover::after {
            opacity: 0.5;
        }
    }
    //Input style
    & input[type=checkbox] {
        visibility: hidden;
    }
    //Checked -> change tick
    & input[type=checkbox]:checked + label:after {
        opacity: 1;
        border-color: $siimple-default-white;
    }
    //Checked -> change background
    & input[type=checkbox]:checked + label {
        background-color: siimple-default-color("primary");
    }
    //Checkbox colors
    @each $color in $siimple-default-form-colors {
        &--#{$color} input[type=checkbox]:checked + label {
            background-color: siimple-default-color($color);
        }
    }
}

