//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Checkbox variables
$checkbox-width: 18px;
$checkbox-height: 18px;
$checkbox-margin: 6px;

//Checkbox class
.#{siimple.$name}-checkbox {
    display: inline-block;
    position: relative;
    width: $checkbox-width;
    height: $checkbox-height;
    margin: $checkbox-margin;
    vertical-align: top;
    //Checkbox label
    & label {
        width: $checkbox-width;
        height: $checkbox-height;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        background: siimple.color("light");
        //Tick
        &:after {
            content: "";
            opacity: 0.2;
            width: 8px;
            height: 4px;
            transform: rotate(-45deg);
            transition: all 0.3s;
            position: absolute;
            top: 5px;
            left: 4px;
            background: transparent;
            border: 2px solid siimple.color("dark");
            border-top: 0px;
            border-right: 0px;
        }
        &:hover::after {
            opacity: 0.5;
        }
    }
    //Input style
    & input[type=checkbox] {
        visibility: hidden;
    }
    //Checked -> change tick
    & input[type=checkbox]:checked + label:after {
        opacity: 1;
        border-color: siimple.color("white");
    }
    //Checked/Indeterminate -> change background
    & input[type=checkbox]:checked + label,
    & input[type=checkbox]:indeterminate + label {
        background-color: siimple.color("primary");
    }
    //Indeterminate -> change tick
    & input[type=checkbox]:indeterminate + label:after {
        opacity: 1;
        border-color: siimple.color("white");
        border-left: 0px;
        transform: rotate(0);
        top: 4px;
        left: 5px;
    }
    //Checkbox colors
    @each $color in siimple.utils-keys(siimple.$status-colors) {
        &--#{$color} input[type=checkbox]:checked + label,
        &--#{$color} input[type=checkbox]:indeterminate + label {
            background-color: siimple.color($color);
        }
    }
}

