//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Field variables
$field-label-text-size: 15px;
$field-label-line-height: 22px;
$field-helper-text-size: 13px;
$field-helper-line-height: 19px;

//Form field class
.#{siimple.$name}-field {
    display: block;
    vertical-align: top;
    margin-bottom: siimple.$margin-bottom;
    margin-top: 0px;
    //Field label
    &-label {
        display: block;
        vertical-align: top;
        font-weight: 600;
        font-size: $field-label-text-size;
        line-height: $field-label-line-height;
        color: siimple.$text-color;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    &-helper {
        display: block;
        vertical-align: top;
        font-weight: normal;
        font-size: $field-helper-text-size;
        line-height: $field-helper-line-height;
        color: siimple.color-lighter("dark");
        margin-top: 5px;
        margin-bottom: siimple.$margin-bottom;
    }
}

