//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://wwww.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Input variables
$input-height: 30px;
$input-text-size: 14px;
$input-padding: 10px;

//Input style
.#{siimple.$name}-input {
    display: inline-block;
    height: $input-height;
    line-height: $input-height;
    font-size: $input-text-size;
    font-weight: normal;
    color: siimple.$text-color;
    padding-left: $input-padding;
    padding-right: $input-padding;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    border-radius: siimple.$border-radius;
    outline: 0px;
    background-color: siimple.color("light");
    vertical-align: top;
    box-sizing: border-box;
    //Fluid input
    &--fluid {
        width: 100%;
    }
    //Dark input
    &--dark {
        background-color: siimple.color("dark");
        color: siimple.color("white");
    }
}

