//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Label variables
$label-padding-top: 3px;
$label-padding-bottom: 3px;
$label-padding-right: 10px;
$label-text-size: siimple.$text-size;
$label-line-height: siimple.$line-height;

//Label class
.#{siimple.$prefix}label {
    display: inline-block;
    //min-height: 34px;
    line-height: $label-line-height;
    font-size: $label-text-size;
    color: siimple.$text-color;
    font-weight: siimple.$weight-bold;
    padding-right: $label-padding-right;
    padding-left: 0px;
    padding-top: $label-padding-top;
    padding-bottom: $label-padding-bottom;
    vertical-align: top;
}

