//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Radio variables
$radio-width: 18px;
$radio-height: 18px;
$radio-margin: 6px;
$radio-border: 4px;
$radio-circle: 4px;

//Radio class
.#{siimple.$prefix}radio {
    display: inline-block;
    width: $radio-width;
    height: $radio-height;
    position: relative;
    vertical-align: top;
    margin: $radio-margin;
    cursor: pointer;
    //Radio outer circle
    & > label {
        display: block;
        width: calc(#{$radio-width} - 2 * #{$radio-border});
        height: calc(#{$radio-height} - 2 * #{$radio-border});
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100px;
        border-width: $radio-border;
        border-style: solid;
        border-color: siimple.color("light");
        //transition: border-color 0.3s ease;
        cursor: pointer;
    }
    //Radio inner circle
    & > label:after {
        position: absolute;
        display: block;
        content: "";
        width: $radio-circle;
        height: $radio-circle;
        background-color: transparent;
        border-radius: 100px;
        top: calc(50% - #{$radio-circle} / 2);
        left: calc(50% - #{$radio-circle} / 2);
        //transition: all 0.3s ease;
    }
    &:hover > label:after {
        background-color: siimple.color("light");
    }
    //Hide radio input
    & input[type=radio] {
        visibility: hidden;
    }
    //Checked -> change tick
    & input[type=radio]:checked + label:after {
        background-color: siimple.color("primary");
    }
    //Checked -> change background
    & input[type=radio]:checked + label {
        border-color: siimple.color("primary");
    }
    //Radio colors
    @each $color in siimple.utils-keys(siimple.$status-colors) {
        &--#{$color} input[type=radio]:checked + label:after {
            background-color: siimple.color($color);
        }
        &--#{$color} input[type=radio]:checked + label {
            border-color: siimple.color($color);
        }
    }
}

