//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Select variables
$select-padding: 15px;
$select-height: 40px;
$select-text-size: 15px; //siimple.$text-size;

//Select class
.#{siimple.$prefix}select {
    display: inline-block;
    height: $select-height;
    line-height: $select-height;
    font-size: $select-text-size;
    font-weight: normal;
    color: siimple.$text-color;
    padding-left: $select-padding;
    padding-right: $select-padding;
    //padding-top: 0px;
    //padding-bottom: 0px;
    border: 0px;
    border-radius: siimple.$border-radius;
    outline: 0px;
    background-color: siimple.color("light");
    vertical-align: top;
    box-sizing: border-box;
    //Fluid select
    &--fluid {
        width: 100%;
    }
    //Dark select style
    &--dark {
        background-color: siimple.color("dark");
        color: siimple.color("white");
    }
}

