//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Switch variables
$switch-width: 32px;
$switch-height: 20px;
$switch-border-radius: 50px;
$switch-margin: 5px;

//Switch class
.#{siimple.$prefix}switch {
    //Structure:
    //<div class="siimple-switch" id="switchDiv">
    //	<input type="checkbox" value="1" id="mySwitch" name="" />
    //	<label for="mySwitch"></label>
    //</div>
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    position: relative;
    border-radius: $switch-border-radius;
    margin: $switch-margin;
    //cursor: pointer;
    vertical-align: top;
    //Label style -> circle
    & label {
        cursor: pointer;
        &::after {
            display: block;
            content: "";
            width: 14px;
            height: 14px;
            border-radius: $switch-border-radius;
            transition: left 0.3s ease;
            //cursor: pointer;
            background: siimple.color("white");
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: 2;
            //opacity: 0.6;
            //&:hover {
            //    opacity: 1.0;
            //}
        }
        //Switch background
        &::before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-color: siimple.color("light");
            border-radius: $switch-border-radius;
            transition: background-color 0.3s;
            position: absolute;
            top: 0px;
            z-index: 1;
        }
    }
    //Hide the checkbox
    & input[type=checkbox] {
        visibility: hidden;
    }
    //Checkbox active -> background color
    & input[type=checkbox]:checked ~ label::before {
        background-color: siimple.color("primary");
    }
    //Checkbox active -> move circle
    & input[type=checkbox]:checked ~ label::after {
        left: 15px;
        //opacity: 1.0;
        //background-color: siimple.color("white");
    }
    //Colored switch 
    @each $color in siimple.utils-keys(siimple.$status-colors) {
        &--#{$color} input[type=checkbox]:checked ~ label::before {
            background-color: siimple.color($color);
        }
    }
}

