//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Textarea variables
$textarea-padding: 15px;
$textarea-text-size: 15px;
$textarea-line-height: 22px;

//Textarea class
.#{siimple.$prefix}textarea {
    display: inline-block;
    line-height: $textarea-line-height;
    font-size: $textarea-text-size;
    color: siimple.$text-color;
    padding: $textarea-padding;
    border: 0px;
    border-radius: siimple.$border-radius;
    outline: 0px;
    background-color: siimple.color("light");
    vertical-align: top;
    box-sizing: border-box;
    resize: vertical;
    //Fluid textarea
    &--fluid {
        width: 100%;
    }
    //Dark textarea style
    &--dark {
        background-color: siimple.color("dark");
        color: siimple.color("white");
    }
}

