@use "@siimple/lib" as siimple;

//Scrim styles
.neutrine__scrim {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 400;
    justify-content: center;
    align-items: center;
    background-color: rgba(siimple.color-darker("dark"), 0.5);
}

