@import "@siimple/css/scss/variables.scss";

//Add a new block
.root {
    display: block;
    margin: 10px;
    padding: 15px;
    border: 2px dashed siimple-default-color("light");
    border-radius: 5px;
}
//Add item
.item {
    display: inline-block;
    @include siimple-utils-select(none);
    width: 130px;
    //height: 100px;
    color: rgba(siimple-default-color("dark"), 0.7);
    //padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px dashed siimple-default-color("light");
    border-radius: 5px;
    //background-color: rgba(siimple-default-color("light"), 0.8);
    transition: all 0.3s;
    cursor: pointer;
    //Item hover
    &:hover {
        background-color: rgba(siimple-default-color("primary"), 0.2);
        //color: rgba(siimple-default-color("primary"), 0.9);
        //background-color: rgba(siimple-default-color("light"), 0.8);
        border-color: rgba(siimple-default-color("primary"), 0.8);
        //border-style: solid;
        color: rgba(siimple-default-color("dark"), 0.9);
    }
}

