//Search class
.#{$press-base}-search {
    //Search box
    &-box {
        display: block;
        background-color: siimple-default-color("light", "light");
        border-radius: 5px;
        width: calc(100% - 30px);
        //margin-right: 20px;
        margin-bottom: 15px;
        padding: 15px;
        &-submit {
            //margin-top: 10px;
        }
        &-title {
            display: none;
            margin-bottom: 5px;
        }
        &-input {
            background-color: #ffffff !important;
            margin-bottom: 8px;
        }
    }
    //Search results
    &-results {
        display: block;
        min-height: 300px;
        //padding-top: 40px;
        padding-bottom: 40px;
        &-title {
            display: block;
            font-size: 25px;
            //margin-bottom: 5px;
        }
        &-count {
            display: block;
            color: siimple-default-color("dark", "light");
            margin-bottom: 15px;
            font-size: 15px;
        }
        &-item {
            display: block;
            //width: calc(50% - 50px);
            //padding: 15px;
            //margin: 10px;
            margin-bottom: 20px;
            //float: left;
            border-radius: 5px;
            transition: background-color 0.3s;
            text-decoration: none;
            //background-color: rgba(siimple-default-color("light"), 0.3);
            &:hover {
                //background-color: siimple-default-color("light", "light");
            }
            &-title {
                display: block;
                font-size: 20px;
                //font-weight: bold;
                color: siimple-default-color("primary");
                margin-bottom: 3px;
                text-decoration: none;
                transition: color 0.3s;
            }
            &:hover &-name {
                text-decoration: underline;
                color: siimple-default-color("primary");
            }
            &-url {
                display: block;
                color: siimple-default-color("success", "dark");
                font-size: 14px;
                margin-bottom: 4px;
            }
            &-description {
                display: block;
                line-height: 22px;
                font-size: 15px;
                color: siimple-default-color("dark");
                //margin-bottom: 20px;
            }
        }
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
}
