@use "siimple-lib" as lib;

// Alert component mixin
@mixin alert () {
    @include lib.use-component-selector("alert") {
        align-items: center;
        display: flex;
        min-width: 0px;
        position: relative;

        // Include scale values
        @include lib.use-scale("font-weight", "bold");
        @include lib.use-scale("margin-bottom", "1rem");
        @include lib.use-scale("margin-top", "0px");
        @include lib.use-scale("padding", "1rem");
        @include lib.use-scale("radius", "default");

        // Include alert variants
        @include lib.use-variant("alert", (
            "default": (
                "background-color": "primary",
                "color": "white",
            ),
            "secondary": (
                "background-color": "secondary",
                "color": "white",
            ),
        ));
    }
}

