@use "siimple-lib" as lib;

// Generate badge component configuration
@mixin badge() {
    @include lib.use-component-selector("badge") {
        display: inline-block;
        font-size: 0.75rem;
        line-height: 1.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-decoration: none;
        vertical-align: text-top;
        //margin-right: 1px;
        //margin-bottom: 8px;
        
        // Include scales values
        @include lib.use-scale("font-weight", "bold");
        @include lib.use-scale("radius", "small");

        //Include variants
        @include lib.use-variant("badge", (
            "default": (
                "background-color": "primary",
                "color": "white",
            ),
            "secondary": (
                "background-color": "secondary",
                "color": "white",
            ),
        ));
    }
}

