@use "siimple-lib" as lib;

// Generate card component configuration
@mixin card() {
    @include lib.use-component-selector("card") {
        display: block;
        padding: 1.75rem;
        text-decoration: none !important;
        width: 100%;
        
        // Include scales
        @include lib.use-scale("radius", "default");
    
        // Include card variants
        @include lib.use-variant("card", (
            "default": (
                "background-color": "white",
                "box-shadow": "0 0 0.5rem rgba(0, 0, 0, 0.125)",
                "color": "inherit",
            ),
        ));
    }
}

