@use "siimple-lib" as lib;

// Generate checkbox component configuration
@mixin checkbox() {
    @include lib.use-component-selector("checkbox") {
        appearance: none;
        border-radius: 0.25rem;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        height: 1.125rem;
        margin: 0.1875rem;
        position: relative;
        width: 1.125rem;
        vertical-align: top;
        &:after {
            background-color: transparent;
            content: "";
            height: 0.375rem;
            position: absolute;
        }
        &:checked,
        &:indeterminate {
            transition: background-color 0.3s;
        }
        &:indeterminate:after {
            border-bottom-style: solid;
            border-bottom-width: 0.125rem;
            left: 0.3125rem;
            top: 0.25rem;
            width: 0.5rem;
        }
        &:checked:after {
            border-bottom-style: solid;
            border-bottom-width: 0.125rem;
            border-left-style: solid;
            border-left-width: 0.125rem;
            left: 0.25rem;
            top: 0.3125rem;
            transform: rotate(-45deg);
            width: 0.625rem;
        }
        // Include checkbox variants
        @include lib.use-variant("form.checkbox", (
            "default": (
                "background-color": "fill",
                "color": "white",
                "&:checked, &:indeterminate": (
                    "background-color": "primary",
                ),
                "&:indeterminate:after": (
                    "border-bottom-color": "white",
                ),
                "&:checked:after": (
                    "border-bottom-color": "white",
                    "border-left-color": "white",
                ),
            ),
        ));
    }
}

