@use "sass:map";
@use "siimple-lib" as lib;

// Generate colum component configuration
@mixin column () {
    $column-variants: lib.empty-map();
    @each $name,$size in lib.$columns {
        $column-variants: map.set($column-variants, $name, (
            "flex": none,
            "width": $size,
        ));
    }
    // Generate column component config
    @include lib.use-component-selector("column") {
        flex: 1;
        min-height: 0;
        padding: 0.75rem;
        // Load columns variants
        @include lib.use-variant("column", $column-variants);
    }

    // Columns wrapper configuration
    @include lib.use-component-selector("columns") {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        //width: 100%;
    }
}

