@use "siimple-lib" as lib;

// Generate paragraph component configuration
@mixin paragraph() {
    @include lib.use-component-selector("paragraph") {
        display: block;
        margin-bottom: 1rem;
        margin-top: 0px;

        // Load paragraph variants
        @include lib.use-variant("text.paragraph", (
            "lead": (
                "color": "muted",
                "font-size": "large",
                "font-weight": "bold",
            ),
        ));
    }
}


