@use "siimple-lib" as lib;

// Generate textarea component configuration
@mixin textarea () {
    @include lib.use-component-selector("textarea") {
        border-color: transparent;
        border-style: solid;
        border-width: 0.125rem;
        box-sizing: border-box;
        color: inherit;
        display: block;
        font-size: inherit;
        line-height: inherit;
        margin: 0px;
        min-width: 0px;
        outline: 0px;
        padding-bottom: 0.375rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.375rem;
        resize: vertical;
        vertical-align: top;
        width: 100%;
        // Load textarea scales
        @include lib.use-scale("radius", "default");
        // Load textarea variants
        @include lib.use-variant("form.textarea", (
            "default": (
                "background-color": "fill",
                //"background-color": "white",
                //"border-color": "muted",
                "&:focus": (
                    "border-color": "primary",
                ),
            ),
        ));
    }
}

