@use "siimple-lib" as lib;

// Generate title component configuration
@mixin title() {
    $title-variants: lib.empty-map();
    $title-variants: lib.set-in($title-variants, "default", (
        "color": "heading",
    ));
    @each $key,$size in lib.$headings {
        $title-variants: lib.set-in($title-variants, $key, (
            "font-size": "#{$size}",
        ));
    }
    //@debug $title-variants;
    @include lib.use-component-selector("title") {
        display: block;
        margin-bottom: 0.5em;
        padding: 0px;
        // Not first child --> add margin top
        &:not(:first-child) {
            margin-top: 2rem;
        }

        // Include scale values
        @include lib.use-scale("font-weight", "heading");
        @include lib.use-scale("line-height", "heading");

        // Include title variants
        @include lib.use-variant("text.headings", $title-variants);
    }
}

