@use "@siimple/lib" as siimple;

//Theme code block
.website-code {
    //font-size: 12px !important;
    //line-height: 20px !important;
    font-weight: 600 !important;
    //Code colors
    & .b {
        color: siimple.color-darker("primary");
    }
    & .g {
        color: siimple.color-darker("success");
    }
    & .y {
        color: siimple.color-darker("warning");
    }
    //Small code block
    &--small {
        font-size: 12px !important;
        line-height: 20px !important;
    }
}

