@use "@siimple/lib" as siimple;

//Website hero component
.website-hero {
    display: block;
    overflow: hidden;
    //max-width: 960px;
    //padding-left: calc(50% - 960px / 2);
    //padding-right: calc(50% - 960px / 2);
    padding-top: 20px;
    padding-bottom: 20px;
    //Hero main content
    &-content {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    //Hero head text
    &-head {
        font-size: 65px;
        line-height: 90px;
        color: siimple.color("primary");
    }
    //Hero subheading
    &-subhead {
        font-size: 40px;
        line-height: 50px;
        //opacity: 0.8;
        margin-bottom: 10px;
        color: siimple.color("primary");
    }
    //Hero text
    &-text {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 10px;
        color: siimple.color("primary");
        //opacity: 0.8;
    }
    //Buttons wrapper
    &-buttons {
        //margin-top: 30px;
    }
    //Hero image wrapper
    &-image {
    }
}

