@use "@siimple/lib" as siimple;

//Import partials
@use "./code.scss";
@use "./hero.scss";
@use "./snippet.scss";

//Override siimple styles
.siimple-code {
    font-size: 85% !important;
    line-height: 1.5 !important;
    //padding: 0px !important;
    //font-weight: normal !important;
    color: siimple.color-darker("primary") !important;
    //background-color: siimple.grey("1");
    //border-radius: 5px;
}
.siimple-breadcrumb {
    white-space: nowrap !important;
}

