@use "@siimple/lib" as siimple;

//Snippet
.website-snippet {
    border-radius: siimple.$border-radius;
    background-color: siimple.color("light") !important;
    //background-color: siimple.color("dark") !important;
    padding: 10px;
    margin-bottom: siimple.$margin-bottom;
}
.website-snippet-demo { 
    background-color: siimple.color("white");
    //border-radius: siimple.$border-radius;
    overflow: scroll;
    padding: 10px;
}
.website-snippet-code {
    border-radius: 0px !important;
    background-color: siimple.color("light") !important;
    color: siimple.color("dark") !important;
    padding-top: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    width: calc(100% - 20px) !important;
    margin-bottom: 0px !important;
}


