//
// @siimple/icons: A suite of scalable icons for web, desktop and mobile projects
// License:    MIT License 
// Repository: https://github.com/siimple/siimple
// Website:    https://icons.siimple.xyz
//

//Import dependencies
@forward "@siimple/lib"; //Forward lib variables
@forward "./scss/variables.scss"; //Forward icons variables

@use "./scss/base.scss";


