# General files and folders
.DS_Store
node_modules
*.iml
.idea
*.swp
package-lock.json
firebase-debug.log
*.tgz
*.tar.gz
*.log
.cache

# Env files
.env
.env.development
.env.production
.env.test

# Release folders and files
dist
distributions
release
siimple.css
siimple/*.css
siimple-icons/*.css
siimple-icons/siimple-icons.svg
packages/*/*.css

# Applications output folders
public

# Other folders and files
.firebaserc
.firebase
