.DS_Store
node_modules
*.iml
.idea
*.swp
package-lock.json
packages/*/dist
packages/*/www
docs/www
website/www

# Custom paths
packages/siimple-colors/docs/data
packages/website/data/documentation.json

