# General files and folders
.DS_Store
node_modules
*.iml
.idea
*.swp
package-lock.json
firebase-debug.log
*.tgz
*.log
.cache

# Env files
.env
.env.development
.env.production
.env.test

# Release folders
dist
distributions
release

# Applications output folders
public

# Other folders and files
old-scripts
drafts
packages
