/****************************************************************************************************************/
/* 
/* Siimple v0.1.3 - Minimal CSS Framework for flat and clean websites by Josemi Juanes.
/* Not created for competing with Bootstrap.
/*
/* https://jmjuanes.github.io/siimple
/* 
/* Under the MIT License. Enjoy!
/* :)
/*
/****************************************************************************************************************/


/* Basic elements
***********************************/
/* Body */
body { background-color: #ffffff; margin: 0px; padding: 0px; } 
body { font-size: 16px; font-family: OpenSans; color: #526475; font-weight: 300; } 

/* Headers */
h1, h2, h3, h4, h5, h6 { margin-left: 0px; margin-right: 0px; margin-top: 30px; } 
h1 { font-size: 40px; margin-bottom: 12px; } 
h2 { font-size: 34px; margin-bottom: 10px; } 
h3 { font-size: 28px; margin-bottom: 8px; } 
h4 { font-size: 22px; margin-bottom: 6px; } 
h5 { font-size: 18px; margin-bottom: 4px; } 
h6 { font-size: 16px; margin-bottom: 2px; } 

/* Links */
a { color: #526475; text-decoration: none; font-weight: bold; } 
a:hover { text-decoration: underline; } 

/* Blockquote */
blockquote { border-left: 4px solid #e2e3e7; padding-left: 20px; padding-right: 5px; } 
blockquote { padding-bottom: 5px; padding-top: 5px; } 


/* Page sections 
***********************************/
/* Page cover */
.page-cover { display: block; width: 100%; padding-top: 50px; padding-bottom: 50px; } 
.page-cover { background-color: #f1f2f4; text-align: center; } 


/* Page title */
.page-title { width: 920px; padding: 20px; display: block; margin-top: 15px; margin-bottom: 15px; } 
.page-title { border-radius: 5px; border: 1px solid #e2e3e7; background-color: #f1f2f4; } 
.page-title { margin-left: auto; margin-right: auto; } 

/* Page title media */
@media (max-width: 960px) { .page-title { width: 88%; padding: 5%; } } 


/* Page nav */
.page-nav { display: block; width: 960px; height: 70px; border-bottom: 1px solid #e2e3e7; } 
.page-nav { margin-top: 15px; margin-left: auto; margin-right: auto; margin-bottom: 15px; } 

/* Page nav title */
.page-nav .title { display: inline-block; height: 80px; color: #526475; float: left; } 
.page-nav .title { font-size: 25px; font-weight: bold; line-height: 80px; text-align: left; } 
.page-nav .title { text-decoration: none; } 

/* Page nav item */
.page-nav .item { display: inline-block; height: 40px; margin-top: 20px; color: #ffffff; } 
.page-nav .item { background-color: #526475; float: right; font-size: 16px; line-height: 40px; } 
.page-nav .item { text-decoration: none; text-align: center; border-radius: 5px; font-weight: bold; } 
.page-nav .item { margin-left: 5px; padding-left: 15px; padding-right: 15px; cursor: pointer; } 
.page-nav .item:hover { background-color: #4b5a6a; } 


/* Page navbar */
.page-navbar { display: block; width: 100%; background-color: #526475; color: #ffffff; height: 60px; } 

/* Page navbar contanier */
.page-navbar .container { display: block; width: 960px; height: 60px; margin-left: auto; margin-right: auto; } 
@media (max-width: 960px) { .page-navbar .container { width: 99%; }  } 

/* Page navbar fixed */
.page-navbar-fixed { position: fixed; z-index: 99999; top: 0px; left: 0px; } 

/* Page navbar elements */
.page-navbar .item, .page-navbar .title { display: inline-block; height: 60px; color: #ffffff; } 
.page-navbar .item, .page-navbar .title { line-height: 60px; text-align: center; font-weight: bold; } 
.page-navbar .item, .page-navbar .title { text-decoration: none; padding-left: 15px; padding-right: 15px; } 
.page-navbar .item { float: right; min-width: 60px; font-size: 16px; cursor: pointer; } 
.page-navbar .title { float: left; min-width: 100px; font-size: 20px; } 
.page-navbar .item:hover, .page-navbar .title:hover { background-color: #4b5a6a; } 


/* Main page */
.page-main { width: 960px; margin-left: auto; margin-right: auto; margin-top: 15px; } 
.page-main { text-align: left; display: block; } 

/* Main page media */
@media (max-width: 960px) { .page-main { width: 98%; } }  

/* Page main content */
.page-main .content { width: 610px; padding: 10px; display: inline-block; margin-top: 15px; } 
.page-main .content { vertical-align: top; } 

/* Page main bar */
.page-main .bar { border-radius: 5px; border: 1px solid #e2e3e7; background-color: #f1f2f4; } 
.page-main .bar { width: 300px; padding: 10px; display: inline-block; margin-top: 15px; } 
.page-main .bar { vertical-align: top; } 


/* Page foot */
.page-foot { width: 960px; display: block; margin-top: 30px; text-align: center; } 
.page-foot { margin-left: auto; margin-right: auto; padding-top: 30px; padding-bottom: 40px; } 
.page-foot { border-top: 1px solid #e2e3e7; } 



/* Box 
***********************************/
/* Normal box */
.box { width: 96%; display: block; padding: 2%; margin-top: 10px; margin-bottom: 10px; } 
.box { border: 1px solid #e2e3e7; border-radius: 5px; } 

/* Code box */
code { border-radius: 5px; background-color: #f1f2f4; color: #f1868d; padding-left: 5px; padding-right: 5px; } 

/* Code box - multiple lines */
pre { width: 96%; display: block; padding: 2%; margin-top: 10px; margin-bottom: 10px; } 
pre { border-radius: 5px; border: 1px solid #e2e3e7; background-color: #f1f2f4; } 


/* Inputs 
***********************************/
/* Text inputs */
.input { width: 98%; display: block; padding: 2%; margin-top: 10px; margin-bottom: 10px; } 
.input { border-radius: 5px; border: 1px solid #e2e3e7; background-color: #ffffff; } 
.input { font-size: 15px; font-family: OpenSans; } 

/* text inputs size */
.input-small { font-size: 12px; width: 98%; padding: 1%; } 
.input-big { font-size: 22px; } 


/* Buttons 
***********************************/
/* Button basic */
.btn { display: inline-block; min-width: 90px; min-height: 40px; line-height: 40px; } 
.btn { text-align: center; text-decoration: none; font-weight: normal; font-size: 16px; } 
.btn { border-radius: 5px; border-width: 2px; border-style: solid; background-color: transparent; } 
.btn { padding-left: 15px; padding-right: 15px; margin: 5px; cursor: pointer; } 
.btn:hover { color: #ffffff; text-decoration: none; } 

/* Button white */
.btn-white { color: #ffffff; border-color: #ffffff; } 
.btn-white:hover { background-color: #ffffff; color: #526475; } 

/* Button navy */
.btn-navy { color: #526475; border-color: #526475; } 
.btn-navy:hover { background-color: #526475; } 

 /* Button blue */
.btn-blue { color: #5c9ded; border-color: #5c9ded; } 
.btn-blue:hover { background-color: #5c9ded; } 

/* Button green */
.btn-green { color: #99d468; border-color: #99d468; } 
.btn-green:hover { background-color: #99d468; } 

/* Button yellow */
.btn-yellow { color: #fcce54; border-color: #fcce54; } 
.btn-yellow:hover { background-color: #fcce54; } 
 
 /* Button red */
.btn-red { color: #ed5f55; border-color: #ed5f55; } 
.btn-red:hover { background-color: #ed5f55; } 

/* Button sizes */
.btn-small { min-width: 80px; min-height: 28px; line-height: 28px; font-size: 12px; } 
.btn-small { padding-left: 6px; padding-right: 6px; } 
.btn-big { min-width: 100px; min-height: 60px; line-height: 60px; font-size: 25px; } 
.btn-big { padding-left: 30px; padding-right: 30px; } 


/* Alerts
***********************************/
/* Alert basic */
.alert { width: 96%; display: block; padding: 2%; margin-top: 10px; margin-bottom: 10px; } 
.alert { border-width: 1px; border-style: solid; border-radius: 5px; text-decoration: none; } 

/* Alert default color */
.alert { color: #4a8bdb; border-color: #4a8bdb; background-color: #d1e3f9; } .alert a { color: #4a8bdb; } 

/* Alert colours */
.alert-green { color: #82c250; border-color: #82c250; background-color: #e2f3d4; } .alert-green a { color: #82c250; } 
.alert-yellow { color: #f5ba42; border-color: #f5ba42; background-color: #fef1cf; } .alert-yellow a { color: #f5ba42; } 
.alert-red { color: #da4d44; border-color: #da4d44; background-color: #f9d2cf; } .alert-red a { color: #da4d44; } 


/* Panels
***********************************/
/* Panel basic */
.panel { display: block; width: 100%; margin-top: 10px; margin-bottom: 10px; } 
.panel { border-style: solid; border-width: 1px; border-radius: 5px; } 
.panel { border-color: #526475; background-color: #526475; } 

/* Panel header */
.panel .head { color: #ffffff; display: block; width: 98%; padding: 1%; } 

/* Panel body */
.panel .body { display: block; width: 98%; padding: 1%; background-color: #ffffff; } 
.panel .body { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; } 
.panel .body { padding-top: 15px; padding-bottom: 15px; } 

/* Panel colours */
.panel-blue { border-color: #5c9ded; background-color: #5c9ded; } 
.panel-green { border-color: #99d468; background-color: #99d468; } 
.panel-yellow { border-color: #fcce54; background-color: #fcce54; }
.panel-red { border-color: #ed5f55; background-color: #ed5f55; }


/* Table
***********************************/

/* Table general */
.table { display: table; width: 100%; border-width: 0px; border-collapse: collapse; } 
.table { margin-top: 10px; margin-bottom: 10px; } 
.table tr td { border-bottom: 1px solid #e2e3e7; padding-top: 10px; padding-bottom: 10px; } 
.table tr td { padding-left: 10px; } 
.table thead { font-weight: bold; border-bottom: 2px solid #e2e3e7; } 

/* Table hover */
.table-hover tr:hover > td { background-color: #5c9ded; color: #ffffff; cursor: pointer; } 
.table-hover thead tr:hover > td { background-color: #ffffff; color: #526475; cursor: auto; } 

/* Table striped */
.table-striped tr:nth-child(even) { background-color: #f1f2f4; } 

/* Table border */
.table-border { border: 1px solid #e2e3e7; border-radius: 5px; } 

/* Table col border */
.table-border-column td { border-right: 1px solid #e2e3e7; } 
.table-border-column td:last-child { border-right: 0px solid #e2e3e7; } 


/* Others
***********************************/

/* Heart */
.heart { color: #ed5f55; } 
.heart:after { content: "\2764"; } 

/* Text size */
.text-big { font-size: 28px; } 
.text-huge { font-size: 40px; } 
.text-small { font-size: 14px; } 
.text-tiny { font-size: 12px; } 

/* Text color */
.color-blue { color: #5c9ded; } 
.color-green { color: #99d468; } 
.color-yellow { color: #fcce54; }
.color-red { color: #ed5f55; } 
.color-navy { color: #526475; } 
.color-white { color: #ffffff; }  


/* Background */
.bg-blue { background-color: #5c9ded; } 
.bg-green { background-color: #99d468; } 
.bg-yellow { background-color: #fcce54; } 
.bg-red { background-color: #ed5f55; } 
.bg-navy { background-color: #526475; } 
.bg-white { background-color: #ffffff; } 


