@import "@siimple/css/scss/variables.scss";

//Neutrine group style
.neutrine-group {
    display: block;
    margin-bottom: $siimple-default-margin-bottom;
    //Group row style
    &-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        width: calc(100% - 20px);
        border-radius: $siimple-default-border-radius;
        //margin-bottom: 11px;
        position: relative;
        border: 2px solid transparent;
        cursor: pointer;
        transition: background-color 0.3s;
        //Group on hover
        &--hover:hover {
            background-color: siimple-default-color("light");
            //cursor: pointer;
        }
        //Not last child
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        //Bordered row
        &--border:not(:last-child) {
            margin-bottom: 12px;
            //Bottom border
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: siimple-default-color("light");
                bottom: -8px;
                left: 0px;
            }
        }
        //Daashed row
        &--dashed {
            border: 2px dashed siimple-default-color("light");
        }
    }
    //Group column
    &-column {
        padding: 5px;
        //flex-grow: 1;
        //Item only visible on hover
        &--visible-only-on-hover {
            opacity: 0;
            transition: opacity 0.3s;
        }
        //Primary column
        &--primary {
            flex-grow: 3;
        }
        //Secondary column
        &--secondary {
            flex-grow: 1;
        }
    }
    //Group on hover --> display item
    &-row:hover &-column {
        opacity: 1.0;
    }
    //Group title
    &-title {
        display: block;
        font-weight: bold;
        font-size: 15px;
        //color: siimple-default-color("primary");
        line-height: 23px;
        transition: color 0.3s;
    }
    &-row:hover &-title {
        color: siimple-default-color("primary");
    }
    //Group text
    &-text {
        display: block;
        font-size: 15px;
        line-height: 23px;
    }
    //Group description
    &-description {
        display: block;
        //margin-top: 3px;
        line-height: 20px;
        font-size: 13px;
        color: siimple-default-color("dark", "light");
    }
    //Group icon and add elements
    &-icon {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 24px;
        color: #ffffff; //Default icon color
        border-radius: 100px;
    }
    //Group icon specific styles
    &-icon {
        background-color: siimple-default-color("primary"); //Default icon background color
    }
    //Group add specific styles
    &-add {
        transition: all 0.3s;
        opacity: 0.5;
        color: siimple-default-color("dark");
        font-size: 28px;
        //background-color: siimple-default-color("light", "light");
    }
    //Row hover --> change add group
    &-row:hover &-add {
        //color: siimple-default-color("dark");
        //background-color: #ffffff;
        opacity: 1.0;
    }
    //Group action icon
    &-action {
        color: siimple-default-color("dark");
        //color: siimple-default-color("dark", "light");
        transition: opacity 0.3s;
        font-size: 22px;
        height: 34px;
        width: 34px;
        line-height: 34px;
        text-align: center;
        opacity: 0.4;
        //Action icon hover
        &:hover {
            //color: siimple-default-color("dark");
            opacity: 1.0;
        }
    }
    //Group label 
    &-label {
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 100px;
        //Label colors
        @each $color in $siimple-default-colors {
            &--#{$color} {
                background-color: rgba(siimple-default-color($color, "light"), 0.5);
                color: siimple-default-color($color, "dark");
            }
        }
    }
}

