@use "@siimple/lib" as siimple;

//DataTable class
.neutrine-datatable {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: siimple.$text-size;
    color: siimple.$text-color;
    margin-bottom: siimple.$margin-bottom;
    //Table container 
    &-container {
        display: block;
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
    }
    //Table style
    &-table {
        margin-bottom: 0px !important;
    }
    //Empty table
    &-empty {
        //Here goes the empty table styles
        //TO_DO
    }
    //Table cell
    &-cell {
        //vertical-align: top;
        //Cell with a checkbox
        &--selectable {
            width: 45px;
        }
    }
    //Table row
    &-row {
        //Nothing special
    }
    //Highlighted row
    &-row--highlighted &-cell {
        background-color: rgba(siimple.color-lighter("primary"), 0.7) !important;
    }
    //Table header
    &-header {
        //Header cell style
        &-cell {
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            //Selectable cell style
            &--selectable {
                width: 45px;
            }
        }
    }
    //Fixed table header
    &--fixed-header {
        //Overwrite table body style
        & .siimple-table-body {
            display: block;
            //max-height: 450px;
            overflow-y: scroll;
        }
        //Overwrite table row style
        & .siimple-table-header,
        & .siimple-table-body .siimple-table-row {
            display: table;
            width: 100%; 
            table-layout: fixed;
        }
    }
    //Pagination controls
    &-pagination {
        display: block;
        width: 100%;
        height: 34px;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: top;
        //Pagination text content
        &-text, 
        &-page {
            display: inline-block;
            height: 34px;
            line-height: 34px;
            vertical-align: top;
        }
        //Pagination actual page
        &-page {
            padding-left: 6px;
            padding-right: 6px;
        }
        //Pagination left content
        &-left {
            display: inline-block;
            float: left;
            vertical-align: top;
        }
        //Pagination right content
        &-right {
            display: inline-block;
            float: right;
            vertical-align: top;
        }
        //Pagination entries selector
        &-entries {
            margin-left: 7px;
            vertical-align: top;
        }
        //Pagination space
        &-space {
            display: inline-block;
            width: 15px;
        }
        //Pagination buttons
        &-btn {
            background-color: siimple.color("light") !important;
            color: siimple.color("dark") !important;
        }
    }
}

