//Import dependencies
@import "@siimple/css/scss/variables.scss";

//DataTable class
.neutrine-datatable {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: $siimple-default-font-size;
    color: $siimple-default-color;
    margin-bottom: $siimple-default-margin-bottom;
    //Table container 
    &-container {
        display: block;
        width: 100%;
        //font-family: $siimple-default-font-family;
        //font-size: $siimple-default-font-size;
        //color: $siimple-default-color;
        overflow-x: auto;
        overflow-y: auto;
    }
    //Table style
    &-table {
        margin-bottom: 0px !important;
    }
    //Empty table
    &-empty {
        //Here goes the empty table styles
        //TO_DO
    }
    //Table cell
    &-cell {
        //vertical-align: top;
    }
    //Table row
    &-row {
        //Nothing special
    }
    //Highlighted row
    &-row--highlighted &-cell {
        background-color: rgba(siimple-default-color("primary", "light"), 0.7) !important;
    }
    //Table header
    &-header {
        &-cell {
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            //Sortable class
            //&--sortable {
            //    padding-right: 20px !important;
            //    cursor: pointer;
            //}
            ////Cell triangle up
            //&--sortable::before {
            //    content: "";
            //    position: absolute;
            //    right: 5px;
            //    top: 12px;
            //    width: 0;
            //    height: 0;
            //    border-left: 6px solid transparent;
            //    border-right: 6px solid transparent;
            //    border-bottom: 8px solid siimple-default-color("light");
            //    transition: all 0.3s;
            //}
            ////Cell triangle down
            //&--sortable::after {
            //    content: "";
            //    position: absolute;
            //    right: 5px;
            //    bottom: 12px;
            //    width: 0;
            //    height: 0;
            //    border-left: 6px solid transparent;
            //    border-right: 6px solid transparent;
            //    border-top: 8px solid siimple-default-color("light");
            //    transition: all 0.3s;
            //}
            ////Asc order
            //&--asc::before {
            //    border-bottom-color: siimple-default-color("primary");
            //}
            ////Desc order
            //&--desc::after {
            //    border-top-color: siimple-default-color("primary");
            //}
        }
    }
    //Pagination controls
    &-pagination {
        display: block;
        width: 100%;
        height: 34px;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: top;
        //Pagination text content
        &-text, 
        &-page {
            display: inline-block;
            height: 34px;
            line-height: 34px;
            vertical-align: top;
        }
        //Pagination actual page
        &-page {
            padding-left: 6px;
            padding-right: 6px;
        }
        //Pagination left content
        &-left {
            display: inline-block;
            float: left;
            vertical-align: top;
        }
        //Pagination right content
        &-right {
            display: inline-block;
            float: right;
            vertical-align: top;
        }
        //Pagination entries selector
        &-entries {
            margin-left: 7px;
            vertical-align: top;
        }
        //Pagination space
        &-space {
            display: inline-block;
            width: 15px;
        }
        //Pagination buttons
        &-btn {
            background-color: siimple-default-color("light") !important;
            color: siimple-default-color("dark") !important;
        }
    }
}

