@use "../plugins.scss" as plugins;
@use "../utils.scss" as utils;

// @description Scrim component
// @experimental true
@function plugin-scrim() {
    //$bg-color: lib.get($options, "background", lib.get-color("dark"));
    //$bg-opacity: lib.get($options, "opacity", 0.5);
    @return plugins.create-component-plugin((
        "id": "dialog.scrim",
        "name": "scrim",
        "styles": (
            "align-items": center,
            "background-color": rgba(black, 0.5),
            "display": flex,
            "height": 100%,
            "justify-content": center,
            "left": 0px,
            "overflow-y": hidden,
            "overflow-x": hidden,
            "position": fixed,
            "top": 0px,
            "width": 100%,
            "z-index": 400,
        ),
        "variants": utils.empty-map(),
    ));
}

