@import "@siimple/css/scss/variables.scss";

//Neutrine appbar style
.neutrine__appbar {
    display: block;
    position: fixed;
    width: 40px; //calc(260px - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    transition: all 0.3s;
    top: 0px !important;
    left: 0px;
    background-color: siimple-default-color("dark");
    color: #ffffff;
    //Appbar wrapper
    &-wrapper {
        display: block;
        //min-height: 100%;
        padding-left: 70px;
        transition: all 0.3s;
        position: relative;
    }
    //Appbar item and brand common styles
    &-item,
    &-brand {
        display: block;
        width: 24px;
        padding-left: 8px;
        padding-right: 8px;
        min-height: 40px;
        line-height: 40px;
        margin-bottom: 5px;
        border-radius: 3px;
        transition: background-color 0.3s;
        cursor: pointer;
        //text-overflow: clip;
        overflow: hidden;
    }
    //Appbar item
    &-item {
        font-size: 24px;
        font-weight: normal !important;
        color: rgba(#ffffff, 0.6);
        //Active item
        &--active {
            color: #ffffff !important;
            //font-weight: 600;
            background-color: rgba(#ffffff, 0.2) !important;
        }
        //Item hover 
        &:hover {
            color: #ffffff;
            background-color: rgba(#ffffff, 0.1);
        }
    }
    //Appbar brand
    &-brand {
        font-size: 16px;
        font-weight: bold;
        background-position: 8px 13px;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-image: url("./images/logo.png");
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

//Terrible hack: appbar + toolbar
.neutrine__appbar-wrapper .neutrine__toolbar {
    left: 70px !important;
}

