@use "@siimple/lib" as siimple;

//Neutrine appbar style
.neutrine__appbar {
    display: block;
    position: fixed;
    width: 40px; //calc(260px - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    transition: all 0.3s;
    top: 0px !important;
    left: 0px;
    background-color: siimple.color("dark");
    color: siimple.color("white");
    //Appbar wrapper
    &-wrapper {
        display: block;
        //min-height: 100%;
        padding-left: 70px;
        transition: all 0.3s;
        position: relative;
    }
    &-item,
    &-brand,
    &-avatar {
        display: block;
        width: 24px;
        height: 24px;
        //padding: 8px;
        margin-bottom: 5px;
        cursor: pointer;
        //text-overflow: clip;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 8px 8px;
        padding: 8px;
        transition: background-color 0.3s;
        &:hover {
            background-color: rgba(siimple.color("white"), 0.2);
        }
    }
    //Appbar item
    &-item {
        font-size: 24px;
        font-weight: normal !important;
        line-height: 24px;
        color: rgba(siimple.color("white"), 0.6);
        border-radius: 3px;
        &--active {
            color: siimple.color("white") !important;
            //font-weight: 600;
            background-color: rgba(siimple.color("white"), 0.2) !important;
        }
    }
    &-brand {
        border-radius: 3px;
        background-image: url("./images/logo.png");
    }
    &-avatar {
        background-image: url("./images/user.svg");
        border-radius: 100%;
        position: absolute;
        bottom: 10px;
    }
}

//Terrible hack: appbar + toolbar
.neutrine__appbar-wrapper .neutrine__toolbar {
    left: 70px !important;
}

