//Toast variables
$neutrine-toast-width: 600px;
$neutrine-toast-index: 4000;

//Toast element class
.neutrine-toast {
    width: $neutrine-toast-width;
    transition: all 0.3s;
    min-height: 50px;
    z-index: $neutrine-toast-index;
    position: fixed;
    left: calc(50% - #{$neutrine-toast-width} / 2);
    margin: 0px !important;
    padding: 0px !important;
    opacity: 0;
    //Toast position top
    &--top { 
        top: -50px; 
    }
    //Toast position top visible
    &--top#{&}--visible { 
        top: 40px !important; 
        opacity: 1.0 !important;
    }
    //Toast position bottom
    &--bottom { 
        top: calc(100% + 10px); 
    }
    //Toast position bottom visible
    &--bottom#{&}--visible { 
        top: calc(100% - 80px); 
        opacity: 1.0 !important;
    }
}
