//Documentation content class
.#{$press-base}-documentation {
    padding-top: 30px;
    padding-bottom: 40px;
    //Content title
    &-title {
        display: block;
        font-size: 30px;
        font-weight: 600;
        color: siimple-default-color("dark");
        margin-bottom: 5px;
    }
    //Content description
    &-description {
        display: block;
        font-size: 18px;
        color: siimple-default-color("dark", "light");
        margin-bottom: 25px;
    }
    //Content changes
    &-changes {
        display: block;
        color: siimple-default-color("dark", "light");
        font-size: 13px;
        line-height: $siimple-default-line-height;
    }
}

//Columns media
@media (max-width: 600px) {
    .#{$press-base}-documentation-column {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 100%;
    }
}

