//
// @siimple/icons: A suite of scalable icons for web, desktop and mobile projects
// License:    MIT License 
// Repository: https://github.com/siimple/siimple
// Website:    https://icons.siimple.xyz
//

@use "@siimple/lib" as siimple;
@use "./variables.scss" as variables;
@use "./functions.scss" as icons;

//Font face
@font-face {
    font-family: variables.$font-name;
    src: url(variables.$font-url-ttf) format("truetype"),
    url(variables.$font-url-woff) format("woff"),
    url(variables.$font-url-woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

//Icon class
.#{siimple.$prefix}icon {
    display: inline-block;
    font-family: variables.$font-name;
    font-size: variables.$font-size;
    line-height: normal;
    font-weight: normal !important;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &::before {
        box-sizing: inherit;
    }
    //For each icon in the list
    @each $icon in icons.get-list() {
        &-#{$icon}:before {
            content: icons.use-icon($icon);
        }
    }
}


