//
// @siimple/icons: A suite of scalable icons for web, desktop and mobile projects
// License:    MIT License 
// Repository: https://github.com/siimple/siimple
// Website:    https://icons.siimple.xyz
//

@use "sass:map";
@use "sass:string" as str;
@use "./icons.scss" as icons;

//Get list of icons names
@function get-list() {
    @return map.keys(icons.$list);
}

//Get a single icon
@function get-icon($name) {
    @return map.get(icons.$list, "#{$name}");
}

//Use an icon by name
@function use-icon($name) {
    @return str.unquote("\"") + str.unquote(str.insert(get-icon($name), "\\", 1)) + str.unquote("\"");
}

