//Import dependencies
@import "@siimple/css/scss/variables.scss";

//Documentation styles
.siimple-docs-css {
    //Colors
    &-colors {
        display: inline-block;
        width: 130px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
        //color: #ffffff;
        &::after {
            display: block;
            opacity: 0.8;
        }
        //Default colors
        @each $color in $siimple-default-colors {
            &--#{$color} {
                background-color: siimple-default-color($color, "base");
                color: siimple-default-color($color, "over");
            }
            &--#{$color}::after {
                content: quote(inspect(siimple-default-color($color, "base")));
            }
        }
        //Colors wrapper
        &-wrapper {
            margin-bottom: 15px;
            margin-top: 20px;
        }
    }
    //Categories
    &-categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        //Categories item
        &-item {
            display: block;
            //flex-grow: 1;
            //flex-shrink: 1;
            float: left;
            position: relative;
            width: calc(50% - 75px);
            min-height: 40px;
            padding: 10px;
            padding-left: 65px;
            //margin: 10px;
            margin-bottom: 10px;
            text-decoration: none !important;
            color: siimple-default-color("dark");
            //background-color: siimple-default-color("light");
            border-radius: 5px;
            transition: background-color 0.3s ease;
            //Media style
            @media (max-width: 700px) {
                & {
                    width: calc(100% - 75px);
                }
            }
            //Item title
            &-icon {
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
                height: 40px;
                width: 40px;
            }
            //Item title
            &-title {
                font-size: 18px;
                font-weight: bold;
                color: siimple-default-color("dark");
                margin-bottom: 5px;
            }
            //Item description
            &-description {
                font-size: 14px;
                line-height: 20px;
                color: siimple-default-color("dark", "light");
            }
            //Item hover
            &:hover {
                cursor: pointer;
                //background-color: $siimple-default-white;
                background-color: rgba(siimple-default-color("primary"), 0.15);
            }
        }
    }
}

