//Page content style
.root {
    display: block;
    padding-left: 0px;
    //padding-right: 45px;
    padding-right: 0px;
    transition: all 0.3s;
}
//Editable page
.editable {
    padding-right: 45px;
}

