@import "@siimple/css/scss/variables.scss";

//Color option
.root {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}
//Color option item
.item {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    //position: relative;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
    margin: 5px;
    margin-bottom: 0px !important;
    //Hover
    &:hover {
        opacity: 1.0;
    }
    //Item icon
    &Icon {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 24px;
        opacity: 0.0;
        transition: opacity 0.3s;
    }
    //Active option color
    &Active &Icon {
        opacity: 1.0;
    }
}

