@use "@siimple/lib" as siimple;

//Bottom side component
.neutrine-bottom-side {
    display: block;
    position: fixed;
    width: 100%;
    //height: 400px;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    border-top: 2px solid siimple.color("light");
    transition: bottom 0.3s;
    z-index: 90;
    //Bottom side header
    &-header {
        display: block;
        cursor: pointer;
        height: 26px;
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 2px solid siimple.color("light");
    }
    //Chevron icon
    &-chevron {
        display: block;
        width: 26px;
        height: 26px;
        float: right;
        position: relative;
        transform: rotate(-180deg);
        transition: transform 0.3s;
        &::after,
        &::before {
            content: "";
            width: 13px;
            height: 4px;
            position: absolute;
            top: 10px;
            background-color: siimple.color-lighter("dark");
            border-radius: 1px;
        }
        &::before {
            left: 3px;
            transform: rotate(-45deg);
        }
        &::after {
            right: 3px;
            transform: rotate(45deg);
        }
    }
    //Bottom side body
    &-body {
        display: block;
        //padding-left: 20px;
        //padding-right: 20px;
        //padding-top: 10px;
        //padding-bottom: 10px;
        //width: calc(100% - 40px);
        //height: calc(350px - 20px);
        width: 100%;
        overflow-y: auto;
    }
    //Collapsed
    &--collapsed {
        //bottom: -350px;
    }
    &--collapsed &-chevron {
        transform: rotate(0deg);
    }
}

