.icon {
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s;
}

.icon:hover {
    background-color: #4e91e4;
    color: #ffffff;
}

.icon .icon-sprite {
    width: 32px;
    height: 32px;
    display: block;
    fill: #546778;
    transition: all 0.3s;
}

.icon:hover .icon-sprite {
    fill: #ffffff;
}

.icon .icon-font {
    font-size: 35px;
    color: #546778;
}

.icon:hover .icon-font {
    color: #ffffff;
}

