//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Small text
@mixin siimple-small
{
  //Font
  @include siimple-font; font-size: $siimple-font-small; color: $siimple-navy;
}

//Paragraph
@mixin siimple-paragraph
{
  //Display
  display: block;

  //Text
  @include siimple-font; line-height: $siimple-lh;

  //Margin
  margin: { bottom: $siimple-margin-bottom; top: $siimple-margin-top; }
}

//Link
@mixin siimple-link
{
  //Text
  @include siimple-font; color: $siimple-navy; font-weight: bold; text-decoration: underline;

  //Transition
  transition: all 0.3s;

  //Link hover style
  &:hover { text-decoration: underline; cursor: pointer; }
}
