//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;
@use "../variables.scss" as variables;

//Grid variables
$grid-margin-left: auto;
$grid-margin-right: auto;
$grid-row-margin: -12px;
$grid-column-margin: 10px;
$grid-column-padding: 12px;
$grid-sizes: variables.$grid;

//Grid class
.#{siimple.$name}-grid {
    display: block;
    width: 100%;
    margin-left: $grid-margin-left;
    margin-right: $grid-margin-right;
    //Grid row
    &-row {
        display: block;
        //width: 100%;
        margin-left: $grid-row-margin;
        margin-right: $grid-row-margin;
        &:after {
            content: " ";
            clear: both;
            display: table;
            line-height: 0;
        }
    }
    //Grid column
    &-col {
        display: inline-block;
        vertical-align: top;
        float: left;
        padding: $grid-column-padding;
    }
    //Grid default column sizes
    @each $grid-name, $grid-width in $grid-sizes {
        &-col--#{$grid-name} {
            //width: #{$grid-width};
            width: calc(#{$grid-width} - 2 * #{$grid-column-padding});
        }
    }
    //Grid columns for each breakpoint
    @each $grid-breakpoint, $grid-screen in variables.$breakpoints-alias {
        @media (max-width: $grid-screen) {
            @each $grid-name, $grid-width in $grid-sizes {
                &-col--#{$grid-breakpoint}-#{$grid-name},
                &-col-#{$grid-breakpoint}--#{$grid-name} {
                    //width: #{$grid-width};
                    width: calc(#{$grid-width} - 2 * #{$grid-column-padding});
                }
            }
            //Hide grid column
            &-col--#{$grid-breakpoint}-hide {
                display: none !important;
            }
        }
    }
}

