//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Alert global variables
$alert-padding-top: 10px;
$alert-padding-bottom: 10px;
$alert-padding-left: 15px;
$alert-padding-right: 30px;

//Alert class
.#{siimple.$name}-alert {
    display: block;
    width: calc(100% - #{$alert-padding-left} - #{$alert-padding-right});
    //color: $siimple-navy;
    line-height: siimple.$line-height;
    font-size: siimple.$text-size;
    position: relative;
    border-radius: siimple.$border-radius;
    //Default background and text color
    background-color: siimple.color("light");
    color: siimple.color("dark");
    padding-top: $alert-padding-top;
    padding-right: $alert-padding-right;
    padding-bottom: $alert-padding-bottom;
    padding-left: $alert-padding-left;
    //margin-top: $alert-margin-top;
    margin-bottom: siimple.$margin-bottom;
    //Alert title
    &-title {
        font-size: 19px;
        font-weight: bold;
        //margin-bottom: 5px;
        line-height: 26px;
    }
    //Alert close button
    &-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1.0;
        }
        &::before,
        &::after {
            content: "";
            width: 16px;
            height: 3px;
            background-color: siimple.color("dark");
            position: absolute;
            border-radius: 1px;
            top: 6px;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    //Alert colors 
    @each $color in siimple.utils-keys(siimple.$colors) {
        &--#{$color} {
            background-color: siimple.utils-lighten(siimple.color($color), 30%);
            color: siimple.color-darker($color);
        }
        //Close icon color
        &--#{$color} &-close::before,
        &--#{$color} &-close::after {
            background-color: siimple.color-darker($color);
        }
    }
}

