//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Breadcrumb variables
$breadcrumb-text-size: 15px;
$breadcrumb-item-height: 24px;
$breadcrumb-item-padding-top: 8px;
$breadcrumb-item-padding-bottom: 8px;
$breadcrumb-item-padding-left: 15px;
$breadcrumb-item-padding-right: 25px;

//Breadcrumb class
.#{siimple.$prefix}breadcrumb {
    display: flex;
    flex-wrap: no-wrap;
    //width: 100%;
    //height: $breadcrumb-height;
    margin-bottom: siimple.$margin-bottom;
    background-color: siimple.color("light");
    border-radius: siimple.$border-radius;
    //border: 0px;
    overflow: hidden;
    overflow-x: auto;
    //Breadcrumb item
    &-item {
        //display: block;
        //float: left;
        position: relative;
        height: $breadcrumb-item-height;
        font-size: $breadcrumb-text-size;
        line-height: $breadcrumb-item-height;
        padding-left: $breadcrumb-item-padding-left;
        padding-right: $breadcrumb-item-padding-right;
        padding-top: $breadcrumb-item-padding-top;
        padding-bottom: $breadcrumb-item-padding-bottom;
        background-color: siimple.color("light");
        //text-align: center;
        //font-family: $siimple-default-text-font;
        font-weight: siimple.$weight-bold;
        text-decoration: none;
        color: siimple.color("primary");
        //transition: color 0.3s;
        cursor: pointer;
        //Crumb hover
        &:hover {
            transition: color 0.3s;
            color: siimple.color-darker("primary");
        }
        //Crumb after
        &:not(:last-child)::after {
            display: block;
            content: "";
            //background-color: siimple.color-lighter("dark");
            width: 6px;
            height: 6px;
            border-top: 2px solid siimple.color-lighter("dark");
            border-right: 2px solid siimple.color-lighter("dark");
            position: absolute;
            top: 16px;
            right: 3px;
            transform: rotate(45deg);
        }
        //Active crumb
        &--active {
            color: siimple.color("dark") !important;
            cursor: default !important;
            //font-weight: normal !important;
            pointer-events: none; //Disable clicks
        }
    }
}

