//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Card variables
$card-padding: 20px;

//Card element class
.#{siimple.$prefix}card {
    display: block;
    width: 100%;
    margin-bottom: siimple.$margin-bottom;
    border-radius: siimple.$border-radius;
    text-decoration: none !important;
    background-color: siimple.color("white"); //Default using white color
    color: siimple.$text-color; //siimple.color("dark");
    //Common styles
    &-image,
    &-content, 
    &-link {
        display: block;
         //First child of the card --> add border top radius
        &:first-child {
            border-top-left-radius: siimple.$border-radius;
            border-top-right-radius: siimple.$border-radius;
        }
        //Last child of the card --> add border bottom radius
        &:last-child {
            border-bottom-left-radius: siimple.$border-radius;
            border-bottom-right-radius: siimple.$border-radius;
        }
    }
    //Card image
    &-image {
        background-color: siimple.color-lighter("dark");
        //font-weight: bold;
    }
    //Card content
    &-content {
        //display: block;
        padding-top: $card-padding;
        padding-left: $card-padding;
        padding-right: $card-padding;
        //Last card content child
        &:last-child {
            padding-bottom: $card-padding;
        }
    }
    //Card link 
    &-link {
        position: relative;
        //font-weight: bold;
        //font-size: 15px;
        padding: $card-padding;
        color: siimple.$text-color; //siimple.color("dark");
        cursor: pointer;
        //transition: opacity 0.3s;
        opacity: 0.5;
        //Card link arrow
        &::before {
            display: block;
            content: "";
            width: 11px;
            height: 11px;
            border-top: 4px solid siimple.color("dark"); 
            border-right: 4px solid siimple.color("dark");
            transform: rotate(45deg);
            border-radius: 2px;
            position: absolute;
            top: 24px;
            right: 18px;
            transition: right 0.3s;
        }
    }
    //Card hover --> active link
    &:hover &-link,
    &-link:hover {
        transition: opacity 0.3s;
        opacity: 1.0;
    }
    &:hover &-link::before,
    &-link:hover &-link::before {
        right: 15px;
    }
    //Light card --> default style
    &--light {
        background-color: siimple.color("light");
        //color: siimple.color("dark");
    }
    &--light &-link {
        color: siimple.$text-color; //siimple.color("dark");
    }
    &--light &-link::before {
        border-top-color: siimple.color("dark");
        border-right-color: siimple.color("dark");
    }
    //Dark card
    &--dark {
        background-color: siimple.color("dark");
        color: siimple.color("white");
    }
    &--dark &-link {
        color: siimple.color("white");
    }
    &--dark &-link::before {
        border-top-color: siimple.color("white");
        border-right-color: siimple.color("white");
    }
}

