//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../variables.scss";
@import "../functions.scss";
@import "../mixins.scss";

//Card element class
.#{$siimple-prefix}-card {
    display: block;
    width: 100%;
    margin-bottom: $siimple-default-margin-bottom;
    border-radius: $siimple-default-border-radius;
    text-decoration: none !important;
    //color: $siimple-default-color;
    //font-size: $siimple-default-font-size;
    //Common styles
    &-image,
    &-content, 
    &-link {
        display: block;
         //First child of the card --> add border top radius
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        //Last child of the card --> add border bottom radius
        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    //Card image
    &-image {
        background-color: siimple-default-color("dark", "light");
        //font-weight: bold;
    }
    //Card content
    &-content {
        //display: block;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        //Last card content child
        &:last-child {
            padding-bottom: 15px;
        }
    }
    //Card link 
    &-link {
        position: relative;
        //color: siimple-default-color("primary");
        //font-weight: bold;
        //font-size: 15px;
        padding: 15px;
        cursor: pointer;
        transition: opacity 0.3s;
        opacity: 0.5;
        //Card link arrow
        &::before {
            display: block;
            content: "";
            width: 11px;
            height: 11px;
            border-top: 4px solid transparent; 
            border-right: 4px solid transparent;
            transform: rotate(45deg);
            border-radius: 2px;
            position: absolute;
            top: 17px;
            right: 18px;
            transition: right 0.3s;
        }
    }
    //Card hover --> active link
    &:hover &-link,
    &-link:hover {
        opacity: 1.0;
    }
    &:hover &-link::before,
    &-link:hover &-link::before {
        right: 15px;
    }
    //Light card --> default style
    &--light {
        background-color: siimple-default-color("light");
        color: siimple-default-color("dark");
    }
    &--light &-link {
        color: siimple-default-color("dark");
    }
    &--light &-link::before {
        border-top-color: siimple-default-color("dark");
        border-right-color: siimple-default-color("dark");
    }
    //Dark card
    &--dark {
        background-color: siimple-default-color("dark");
        color: siimple-default-color("white");
    }
    &--dark &-link {
        color: siimple-default-color("white");
    }
    &--dark &-link::before {
        border-top-color: siimple-default-color("white");
        border-right-color: siimple-default-color("white");
    }
}

