//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../variables.scss";
@import "../functions.scss";
@import "../mixins.scss";

//List class
.#{$siimple-prefix}-list {
    display: block;
    width: 100%;
    margin-bottom: $siimple-default-margin-bottom;
    color: $siimple-default-color;
    font-size: $siimple-default-font-size;
    line-height: $siimple-default-line-height;
    //List item 
    &-item {
        display: block;
        padding: 10px;
        background-color: siimple-default-color("light");
        transition: all 0.3s ease;
        text-decoration: none;
        color: $siimple-default-color;
        //position: relative;
        //List with tag
        & .#{$siimple-prefix}-tag {
            //position: absolute;
            //top: 0px;
            //right: 0px;
            float: right;
        }
    }
    &-item:first-child {
        border-top-left-radius: $siimple-default-border-radius;
        border-top-right-radius: $siimple-default-border-radius;
    }
    &-item:last-child {
        border-bottom-left-radius: $siimple-default-border-radius;
        border-bottom-right-radius: $siimple-default-border-radius;
    }
    &-item:not(:last-child) {
        //border-bottom: 1px solid siimple-default-color("light", "dark");
        margin-bottom: 2px;
    }
    &--hover &-item:not(#{&}-item--selected):hover {
        background-color: darken(siimple-default-color("light"), 10%);
        cursor: pointer;
    }
    //Item selected
    &-item--selected {
        background-color: siimple-default-color("primary", "light");
    }
}

