//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Menu class
.#{siimple.$prefix}menu {
    display: block;
    //width: 100%;
    //margin-top: 0px;
    margin-bottom: siimple.$margin-bottom;
    //padding: 0px;
    //Menu group
    &-group {
        display: block;
        width: 100%;
        height: 25px;
        line-height: 24px;
        //transition: color 0.3s;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: siimple.utils-lighten(siimple.color("dark"), 40%);
        //Menu group not first margin top
        &:not(:first-child) {
            margin-top: 10px;
        }
        //Menu group hover
        &:hover {
            text-decoration: none !important;
        }
    }
    //Menu item
    &-item {
        display: block;
        //height: 34px;
        min-height: 24px;
        line-height: 24px;
        //border: 0px;
        border-radius: siimple.$border-radius;
        font-size: 15px;
        font-weight: bold;
        color: siimple.color-lighter("dark");
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        //margin-bottom: 5px;
        //opacity: 1.0;
        //transition: all ease 0.3s;
        cursor: pointer;
        //Hover styles
        &:not(#{&}--selected):hover {
            transition: all ease 0.3s;
            text-decoration: none !important;
            color: siimple.color("primary");
        }
        //Active item
        &--active {
            background-color: siimple.color("light");
            color: siimple.color("dark") !important;
            //font-weight: bold;
        }
    }
    //Submenu
    & #{&} { 
        display: block;
        padding-left: 10px;
        margin-left: 10px; 
        margin-top: 5px;
        margin-bottom: 5px;
        border-left: 1px solid siimple.color-darker("light");
    }
    //Menu divider
    &-divider {
        display: block;
        height: 2px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: siimple.color("light");
    }
}

