//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Tabs variables
$tabs-height: 34px;
$tabs-text-size: 14px;
$tabs-padding: 15px;

//Tabs class
.#{siimple.$name}-tabs {
    display: block;
    position: relative;
    width: 100%;
    height: $tabs-height;
    //font-size: siimple.$text-size;
    margin-bottom: siimple.$margin-bottom;
    border-bottom: 2px solid siimple.color("light");
    //Disable user selection
    @include siimple.user-select(none);
    //Tab item
    &-item {
        display: inline-block;
        float: left;
        height: calc(#{$tabs-height} - 2px);
        line-height: $tabs-height;
        font-weight: 600;
        font-size: $tabs-text-size;
        color: siimple.color-lighter("dark");
        padding-left: $tabs-padding;
        padding-right: $tabs-padding;
        margin-bottom: -1px;
        border: 2px solid transparent;
        border-top-left-radius: siimple.$border-radius;
        border-top-right-radius: siimple.$border-radius;
        cursor: pointer;
        transition: color 0.3s;
        //Hover tab
        &:not(#{&}--active):hover {
            //border-top-color: siimple.color("light");
            //border-left-color: siimple.color("light");
            //border-right-color: siimple.color("light");
            color: siimple.color("primary");
        }
        //Active tab
        &--active {
            border-top-color: siimple.color("light") !important;
            border-left-color: siimple.color("light") !important;
            border-right-color: siimple.color("light") !important;
            border-bottom-color: siimple.color("white") !important;
            background-color: siimple.color("white") !important;
            color: siimple.color("dark") !important;
        }
    }
}

