//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../variables.scss";
@import "../functions.scss";
@import "../mixins.scss";

//Tabs variables
$siimple-tabs-height: 40px;

//Tabs class
.#{$siimple-prefix}-tabs {
    display: block;
    position: relative;
    width: 100%;
    height: $siimple-tabs-height;
    //line-height: $siimple-tabs-height;
    //font-family: $siimple-default-font-family;
    font-size: $siimple-default-font-size;
    margin-bottom: $siimple-default-margin-bottom;
    border-bottom: 2px solid siimple-default-color("light");
    //Disable user selection
    @include siimple-utils-select(none);
    //Tab item
    &-item {
        display: inline-block;
        float: left;
        height: calc(#{$siimple-tabs-height} - 2px);
        line-height: $siimple-tabs-height;
        font-weight: 600;
        color: siimple-default-color("dark", "light");
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -1px;
        border: 2px solid transparent;
        border-top-left-radius: $siimple-default-border-radius;
        border-top-right-radius: $siimple-default-border-radius;
        cursor: pointer;
        transition: color 0.3s;
        //Hover tab
        &:not(#{&}--selected):hover {
            //border-top-color: siimple-default-color("light");
            //border-left-color: siimple-default-color("light");
            //border-right-color: siimple-default-color("light");
            color: siimple-default-color("primary");
        }
        //Selected tab
        &--selected {
            border-top-color: siimple-default-color("light") !important;
            border-left-color: siimple-default-color("light") !important;
            border-right-color: siimple-default-color("light") !important;
            border-bottom-color: $siimple-default-white !important;
            background-color: $siimple-default-white !important;
            color: siimple-default-color("dark") !important;
        }
    }
}

