//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Tabs variables
$tabs-min-width: 100px;
$tabs-height: 40px;
$tabs-padding: 10px;

//Tabs class
.#{siimple.$prefix}tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    background-color: siimple.color("light");
    padding-top: $tabs-padding;
    padding-right: $tabs-padding;
    //position: relative;
    //width: 100%;
    //height: $tabs-height;
    //font-size: siimple.$text-size;
    margin-bottom: siimple.$margin-bottom;
    border-radius: siimple.$border-radius;
    //Disable user selection
    @include siimple.user-select(none);
    //Tab item
    &-item {
        display: block;
        flex-grow: 1;
        min-width: $tabs-min-width;
        min-height: calc(#{$tabs-height} - 2 * #{$tabs-padding});
        padding: $tabs-padding;;
        line-height: calc(#{$tabs-height} - 2 * #{$tabs-padding});
        font-weight: 600;
        text-align: center;
        //font-size: $tabs-text-size;
        color: siimple.color-lighter("dark");
        //padding-left: $tabs-padding;
        //padding-right: $tabs-padding;
        //margin-bottom: -1px;
        //border: 2px solid transparent;
        border-radius: siimple.$border-radius;
        cursor: pointer;
        //transition: color 0.3s;
        //Tabs margin
        margin-left: $tabs-padding;
        margin-bottom: $tabs-padding;
        //Hover tab
        &:not(#{&}--active):hover {
            //border-top-color: siimple.color("light");
            //border-left-color: siimple.color("light");
            //border-right-color: siimple.color("light");
            color: siimple.color("primary");
            transition: color 0.3s;
        }
        //Active tab
        &--active {
            background-color: siimple.color("white") !important;
            color: siimple.color("dark") !important;
        }
    }
    //Tab style for mobile devices
    @media screen and (max-width: siimple.$mobile) {
        flex-direction: column;
    }
}

