//
// @siimple/colors - An elegant and minimalistic color palette for UI design
// License:    MIT License
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

//Import dependencies
@import "./palette.scss";

//Get a color
@function siimple-color($color, $index: "base") {
    $list: map-get($siimple-colors, "#{$color}");
    $value: map-get($list, "#{$index}");
    @return $value;
}

//Get the base color
@function siimple-color-base($color) {
    @return siimple-color($color, "base");
}

//Get the light variant of the color
@function siimple-color-light($color) {
    @return siimple-color($color, "light");
}

//Get the extra-light variant of the color
@function siimple-color-extra-light($color) {
    @return siimple-color($color, "extra-light");
}

//Get the dark variant of the color
@function siimple-color-dark($color) {
    @return siimple-color($color, "dark");
}

//Get the extra-dark variant of the color
@function siimple-color-extra-dark($color) {
    @return siimple-color($color, "extra-dark");
}

//Get the over color [DEPRECATED]
//Use the siimple-color-invert function instead. 
@function siimple-color-over($color) {
    @if $color == "grey" {
        @return $siimple-navy;
    } @else {
        @return $siimple-white;
    }
}

//Return the luminance of a color
//From: https://css-tricks.com/snippets/sass/luminance-color-function/ 
//Reference: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef 
@function siimple-color-luminance($color) {
    $colors: ("red": red($color), "green": green($color), "blue": blue($color));
    @each $name, $value in $colors {
        $adjusted: 0;
        $value: $value / 255;
        @if $value < 0.03928 {
            $value: $value / 12.92;
        } @else {
            $value: ($value + .055) / 1.055;
            //Terrible hack to calculate pow($value, 2.4)
            $value: $value * $value;
        }
        $colors: map-merge($colors, ($name: $value));
    }
    @return (map-get($colors, "red") * .2126) + (map-get($colors, "green") * .7152) + (map-get($colors, "blue") * .0722);
}


//Invert a color
@function siimple-color-invert($color) {
    @if siimple-color-luminance($color) > 0.55 {
        //Return the default dark color
        @return $siimple-navy;
    } @else {
        //Return the default white color
        @return $siimple-white;
    }
}


