@use "sass:map";
@use "./colors.scss" as colors;

// Global colors
$global-colors: (
    "white": #ffffff,
    "black": #000000,
    "transparent": transparent,
);
$white: map.get($global-colors, "white");
$black: map.get($global-colors, "black");

// @description Get all colors
@function get-all-colors () {
    @return map.merge(colors.$list, $global-colors);
}

//Get color by name
@function get-color($name, $shade: "500", $fallback: $white) {
    @if map.has-key($global-colors, $name) {
        @return map.get($global-colors, $name);
    }
    // Check if this color exists in the color palette
    $color-name: "#{$name}-#{$shade}";
    @if map.has-key(colors.$list, $color-name) {
        @return map.get(colors.$list, $color-name);
    }
    // Color not found --> return fallback color
    @return $fallback;
}

// Check if the specified color name and variant exists
// TODO
@function has-color($name, $variant: "500") {
    @return false;
}


