@use "sass:map";

@use "../constants.scss" as constants;
@use "../plugins.scss" as plugins;
@use "../utils.scss" as utils;

// Generate colum component configuration
@function plugin-column() {
    $column-variants: utils.empty-map();
    @each $name,$size in constants.$columns {
        $column-variants: map.set($column-variants, $name, (
            "flex": none,
            "width": $size,
        ));
    }
    // TODO: Register responsive breakpoints
    // @each $breakpoint in breakpoints.get-breakpoints-names() {
    //     @each $name,$size in constants.$columns {
    //         $column-variants: map.set($column-variants, "#{$name}-#{$breakpoint}", (
    //             "@breakpoint #{$breakpoint}": (
    //                 "flex": none,
    //                 "width": $size,
    //             ),
    //         ));
    //     }
    //     // Additional hidden column variant
    //     $column-variants: map.set($column-variants, "hidden-#{$breakpoint}", (
    //         "@breakpoint #{$breakpoint}": (
    //             "display": "none",
    //         ),
    //     ));
    // }
    // Return column plugin
    @return (
        // Base column component
        plugins.create-component-plugin((
            "id": "column",
            "name": "column",
            "styles": (
                "flex": 1,
                "min-height": 0,
                "padding": 0.75rem,
                "width": 100%,
            ),
            "variants": $column-variants,
        )),
        // Columns wrapper component
        plugins.create-component-plugin((
            "id": "columns",
            "name": "columns",
            "styles": (
                "display": flex,
                "flex-wrap": wrap,
                "margin-left": -0.75rem,
                "margin-right": -0.75rem,
                //"width": 100%,
            ),
            "variants": utils.empty-map(),
        )),
    );
}
