@use "../plugins.scss" as plugins;
@use "../utils.scss" as utils;

// Default options for content
$content-default-gap: 1.5rem;
$content-default-sizes: (
    "small":  "608px",    //--> 560px
    "medium": "768px",    //--> 720px
    "large":  "1008px",   //--> 960px
    "xlarge": "1188px",   //--> 1140px
    "huge":   "1328px",   //--> 1280px
);

// Generate content component configuration
@function plugin-content() {
    // $content-gap: lib.get-in($options, "gap", 1.5rem);
    $content-variants: utils.empty-map();
    @each $name,$size in $content-default-sizes {
        $content-media: "@media screen and (min-width: #{$size})";
        $content-variants: utils.set-in($content-variants, $name, (
            "#{$content-media}": (
                "max-width": $size,
            ),
        ));
    }
    // Return content component configuration
    @return plugins.create-component-plugin((
        "id": "layout.content",
        "name": "content",
        "styles": (
            "display": block,
            "margin-left": auto,
            "margin-right": auto,
            "padding-left": $content-default-gap,
            "padding-right": $content-default-gap,
            "width": 100%,
        ),
        "variants": $content-variants,
    ));
}
