@use "../selectors.scss" as selectors;
@use "../variants.scss" as variants;

// Generate label component configuration
@mixin label() {
    @include selectors.use-component-selector("label") {
        align-items: center;
        display: flex;
        font-size: 0.857rem;
        min-width: 0px;
        width: 100%;

        // Include label variants
        @include variants.use-variant("form.label", (
            "default": (
                "color": "inherit",
                "font-weight": "bold",
            ),
        ));
    }
}

