@use "../plugins.scss" as plugins;

// Generate label component configuration
@function plugin-label() {
    @return plugins.create-component-plugin((
        "id": "form.label",
        "name": "label",
        "styles": (
            "align-items": center,
            "display": flex,
            "font-size": 0.857rem,
            "min-width": 0px,
            "width": 100%,
        ),
        "variants": (
            "default": (
                "color": "inherit",
                "font-weight": "bold",
            ),
        ),
    ));
}
