@use "../scales.scss" as scales;
@use "../selectors.scss" as selectors;
@use "../variants.scss" as variants;

// Generate switch component configuration
@mixin switch () {
    @include selectors.use-component-selector("switch") {
        appearance: none;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        height: 1.25rem;
        position: relative;
        width: 2rem;
        &:after {
            border-radius: 100%;
            content: "";
            display: block;
            height: 0.875rem;
            left: 0.1875rem;
            position: absolute;
            top: 0.1875rem;
            transition: left 0.3s ease;
            width: 0.875rem;
            z-index: 2;
            //Include scale values
            @include scales.use-scale("background-color", "white");
        }
        &:before {
            border-radius: 2rem;
            content: "";
            display: block;
            height: 100%;
            left: 0px;
            position: absolute;
            top: 0px;
            transition: background-color 0.3s ease;
            width: 100%;
            z-index: 1;
            // Include scale values
            @include scales.use-scale("background-color", "fill");
        }
        &:checked:after {
            left: 1rem;
        }
        &:checked:before {
            background-color: currentColor;
        }
        // Load switch variants
        @include variants.use-variant("form.switch", (
            "default": (
                "color": "primary",
            ),
        ));
    }
}
