@use "../breakpoints.scss" as breakpoints;
@use "../scales.scss" as scales;
@use "../selectors.scss" as selectors;
@use "../variants.scss" as variants;

// Tab mixin
@mixin tab () {
    // Tabs wrapper styles
    @include selectors.use-component-selector("tabs") {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: auto;
        //width: 100%;
        //margin-top: 0px;
        margin-bottom: 1rem;
        //padding: 0.5rem;
        user-select: none;
        //Tab style for mobile devices
        //@media screen and (max-width: lib.$mobile) {
        @include breakpoints.use-breakpoint("mobile") {
            flex-direction: column;
        }
        // Register scales
        @include scales.use-scale("background-color", "fill");
        @include scales.use-scale("radius", "default");
    }

    // Single tab style
    @include selectors.use-component-selector("tab") {
        color: currentColor;
        cursor: pointer;
        display: block;
        flex-grow: 1 !important;
        margin: 0.75rem;
        //opacity: 1.0;
        padding: 0.5rem;
        text-align: center !important;
        text-decoration: none !important;
        //Tab scales
        @include scales.use-scale("font-weight", "bold");
        @include scales.use-scale("radius", "default");
        // Tab variants
        @include variants.use-variant("navigation.tab", (
            "default": (
                "background-color": "transparent",
                "&:hover": (
                    "color": "primary",
                ),
            ),
            "active": (
                "background-color": "white",
                "color": "primary",
            ),
        ));
    }
}
