@use "../plugins.scss" as plugins;
@use "../utils.scss" as utils;

// Table class
@function plugin-table() {
    @return (
        // Core table styles
        plugins.create-component-plugin((
            "id": "table",
            "name": "table",
            "styles": (
                "background-color": transparent,
                "border-collapse": separate,
                "border-spacing": 0,
                "border-width": 0px,
                "box-sizing": border-box,
                "display": table,
                "margin-bottom": 1rem,
                "width": 100%,
                // Table row
                "& tr": (
                    "box-sizing": border-box,
                    "display": table-row,
                ),
                // Table cell
                "& th,& td": (
                    "box-sizing": border-box,
                    "display": table-cell,
                    "line-height": inherit,
                    // "overflow": hidden,
                    // "white-space": nowrap,
                ),
                // Table header
                "& thead": (
                    "box-sizing": border-box,
                    "display": table-header-group,
                ),
                "& thead th": (
                    "font-weight": 600,
                    "text-align": left,
                    "vertical-align": bottom,
                ),
                // Table body
                "& tbody": (
                    "display": table-row-group,
                    "vertical-align": middle,
                ),
                "& tbody td": (
                    "vertical-align": top,
                ),
                // Default table will be rounded
                //Bordered table with rouded corners
                //&--border &-header &-row:first-child &-cell:first-child {
                "& thead tr:first-child th:first-child": (
                    "border-top-left-radius": "normal",
                ),
                //&--border &-header &-row:first-child &-cell:last-child {
                "& thead tr:first-child th:last-child": (
                    "border-top-right-radius": "normal",
                ),
                //&--border &-body &-row:last-child &-cell:first-child {
                "& tbody tr:last-child td:first-child": (
                    "border-bottom-left-radius": "normal",
                ),
                //&--border &-body &-row:last-child &-cell:last-child {
                "& tbody tr:last-child td:last-child": (
                    "border-bottom-right-radius": "normal",
                ),
            ),
            "variants": (
                "default": (
                    "& th, & td": (
                        "background-color": "white",
                        "padding": "1rem",
                    ),
                ),
                "divided": (
                    "& thead th": (
                        "border-bottom-color": "fill",
                        "border-bottom-style": "solid",
                        "border-bottom-width": "0.125rem",
                    ),
                    "& tbody td": (
                        "border-top-color": "fill",
                        "border-top-style": "solid",
                        "border-top-width": "0.125rem",
                    ),
                ),
                "bordered": (
                    "& th, & td": (
                        "border-color": "fill",
                        "border-style": "solid",
                        "border-width": "0.125rem",
                    ),
                    "& th:not(:last-child), & td:not(:last-child)": (
                        "border-right-width": "0px !important",
                    ),
                    "& tbody tr:not(:last-child) td": (
                        "border-bottom-width": "0px !important",
                    ),
                ),
                "hoverable": (
                    "& tbody tr:hover td": (
                        "background-color": "highlight",
                        "transition": "background-color 0.3s",
                    ),
                ),
                "striped": (
                    "& tbody tr:nth-child(odd) td": (
                        "background-color": "fill",
                    ),
                ),
                "fixed": (
                    "table-layout": "fixed",
                ),
            ),
        )),
        // Responsive table container
        plugins.create-component-plugin((
            "id": "table.responsive",
            "name": "table-responsive",
            "styles": (
                "display": block,
                "overflow-x": auto,
                "width": 100%,
            ),
            "variants": utils.empty-map(),
        )),
        // Table cell style
        plugins.create-component-plugin((
            "id": "table.cell",
            "name": "cell",
            "styles": (
                "cursor": pointer,
                //"padding-right": 20px !important,
                "position": relative,
                // Sortable triangles common styles
                "&::before, &::after": (
                    "border-left-color": transparent,
                    "border-left-style": solid,
                    "border-left-width": 0.375rem,
                    "border-right-color": transparent,
                    "border-right-style": solid,
                    "border-right-width": 0.375rem,
                    "content": '""',
                    "display": block,
                    "height": 0px,
                    "position": absolute,
                    "right": 0.25rem,
                    "transition-duration": 0.3s,
                    "transition-property": all,
                    "width": 0px,
                ),
                // Sortable triangle up
                "&::before": (
                    "top": 1rem,
                    "border-bottom-color": transparent,
                    "border-bottom-style": solid,
                    "border-bottom-width": 0.5rem,
                ),
                // Sortable triangle down
                "&::after": (
                    "bottom": 1rem,
                    "border-top-color": transparent,
                    "border-top-style": solid,
                    "border-top-width": 0.5rem,
                ),
            ),
            "variants": (
                "sortable": (
                    "&::before": (
                        "border-bottom-color": "fill",
                    ),
                    "&::after": (
                        "border-top-color": "fill",
                    ),
                ),
                "asc": (
                    "&::before": (
                        "border-bottom-color": "primary",
                    ),
                ),
                "desc": (
                    "&::after": (
                        "border-top-color": "primary",
                    ),
                ),
            ),
        )),
    );
}
