@use "../constants.scss" as constants;
@use "../scales.scss" as scales;
@use "../selectors.scss" as selectors;
@use "../variants.scss" as variants;
@use "../utils.scss" as utils;

// Generate title component configuration
@mixin title() {
    $title-variants: utils.empty-map();
    $title-variants: utils.set-in($title-variants, "default", (
        "color": "heading",
    ));
    @each $key,$size in constants.$headings {
        $title-variants: utils.set-in($title-variants, $key, (
            "font-size": "#{$size}",
        ));
    }
    //@debug $title-variants;
    @include selectors.use-component-selector("title") {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5em;
        padding: 0px;
        // Not first child --> add margin top
        &:not(:first-child) {
            margin-top: 2rem;
        }

        // Include scale values
        // @include scales.use-scale("font-weight", "heading");
        @include scales.use-scale("line-height", "heading");

        // Include title variants
        @include variants.use-variant("text.headings", $title-variants);
    }
}
