//Import dependencies
@import "siimple/scss/_variables.scss";

//Import font from Google Fonts
//@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

//Cookies consent variables
$neutrine-cc-text-size: 14px;
$neutrine-cc-text-color: rgba(#ffffff, 0.7);

//Cookies consent class
.neutrine-cc {
    //font-family: $siimple-default-font-family;
    //font-smooth: antialiased;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    //Link styles
    &-link {
        color: $neutrine-cc-text-color;
        text-decoration: underline;
        font-size: $neutrine-cc-text-size;
        opacity: 0.8;
        transition: opacity 0.3s;
        &:hover {
            opacity: 1.0;
        }
    }
    //Cookies consent dialog
    &-dialog {
        display: block;
        width: calc(100% - 30px);
        max-width: 500px;
        //min-height: calc(110px - 30px);
        padding: 15px;
        //margin-left: auto;
        //margin-right: auto;
        border-radius: 5px;
        background-color: siimple-default-color("dark");
        //Dialog container
        &-container {
            width: calc(100% - 40px);
            position: fixed;
            bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
        //Dialog message text
        &-message {
            color: $neutrine-cc-text-color;
            font-size: $neutrine-cc-text-size;
            margin-bottom: 10px;
        }
        //Dialog buttons
        &-buttons > .siimple-btn {
            margin-left: 5px;
        }
    }   
    //Manage cookies window
    &-settings {
        display: block;
        width: calc(90% - 40px);
        max-width: 500px;
        background-color: siimple-default-color("dark");
        padding: 20px;
        border-radius: 10px;
        color: #ffffff !important;
        //Settings container
        &-container {
            display: flex;
            position: fixed;
            overflow-x: hidden;
            overflow-y: hidden;
            justify-content: center;
            align-items: center;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(siimple-default-color("light", "dark"), 0.8);
        }
        //Settings title
        &-title {
            display: block;
            text-align: center;
            font-size: 25px;
            margin-bottom: 15px; 
        }
        //Settings description
        &-description {
            display: block;
            font-size: 14px;
            opacity: 0.8;
            color: #ffffff !important;
            margin-bottom: 15px;
        }
        //Content section
        &-section {
            margin-bottom: 15px;
            &-title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            &-description {
                font-size: 14px;
                opacity: 0.8;
            }
            &-label {
                display: inline-block;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                opacity: 0.6;
            }
        }
    }
    //Cookies icon
    &-icon {
        position: fixed;
        width: 40px;
        height: 40px;
        left: 0px;
        bottom: 50px;
        background-image: url("./images/cookie.svg");
        background-size: 24px 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: siimple-default-color("primary", "dark");
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        opacity: 0.8;
        transition: opacity 0.3s;
        cursor: pointer;
        &:hover {
            opacity: 1.0;
        }
    }
}

