@import "@siimple/css/scss/variables.scss";

//Block style
.root {
    //Block wrapper
    display: block;
    position: relative;
    //margin: 8px;
    //border: 2px dashed siimple-default-color("light");
    //padding-left: 5px;
    //padding-top: 5px;
    //padding-bottom: 5px;
    //padding-right: 45px;
}
//Block actions
.actions {
    display: flex;
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0px;
    right: -35px;
    flex-direction: column;
    //justify-content: center;
    align-items: flex-start;
    opacity: 0.4;
    transition: opacity 0.3s;
    //Actions item
    &Item {
        display: flex;
        //width: 100px;
        //height: 100px;
        border-radius: 5px;
        background-color: siimple-default-color("light");
        //font-size: 30px;
        color: rgba(siimple-default-color("dark"), 0.7);
        padding: 5px;
        cursor: pointer;
        margin-bottom: 3px;
        transition: color 0.3s;
        //Item hover
        &:hover {
            //color: siimple-default-color("dark");
            color: siimple-default-color("primary");
        }
    }
}
//On hover --> display block actions
.root:hover .actions {
    //display: flex;
    opacity: 1.0;
}

