@import "@siimple/css/scss/variables.scss";

//Preferences menu
.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 25px;
    margin-right: -5px;
    margin-left: -5px;
    //Menu item 
    &Item {
        display: block;
        border: 2px solid siimple-default-color("light");
        border-radius: 5px;
        padding: 10px;
        flex-basis: 100%;
        //width: 80px;
        margin-right: 5px;
        margin-left: 5px;
        color: siimple-default-color("dark");
        opacity: 0.5;
        transition: all 0.3s;
        //Active theme item
        &Active {
            color: siimple-default-color("primary") !important;
            border-color: rgba(siimple-default-color("primary"), 0.2) !important;
            background-color: rgba(siimple-default-color("primary"), 0.2) !important;
            //background-color: siimple-default-color("light");
            opacity: 1.0;
        }
        //Hover theme item
        &:hover {
            cursor: pointer;
            opacity: 1.0;
        }
        //Item icon
        &Icon {
            font-size: 24px;
            //line-height: 34px;
            vertical-align: top;
        }
        //Item text
        &Text {
            //margin-top: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
        }
    }
}

