@import "@siimple/css/scss/variables.scss";

//Preferences dialog
.siimple-studio-preferences {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    //Preferences menu
    &-menu {
        display: block;
        width: 200px;
        //height: calc(100% - 10px);
        //background-color: siimple-default-color("light");
        padding: 10px;
        //Menu item style
        & .siimple-menu-item {
            margin-bottom: 5px;
        }
        //Menu item selected
        & .siimple-menu-item--selected {
            background-color: siimple-default-color("primary") !important;
            color: siimple-default-color("white") !important;
        }
        //Menu item hover
        & .siimple-menu-item:hover {
            background-color: siimple-default-color("light");
        }
    }
    //Preferences body
    &-body {
        display: block;
        width: calc(100% - 250px);
        padding: 15px;
    }
}

