//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Grid
@mixin siimple-grid
{
  display: block;
  width: 100%;
  min-height: 40px;
  margin: { left: auto; right: auto; }

  //Grid row style
  &-row
  {
    display: inline-block;
    width: 100%;
    margin: { left: 0px; right: 0px; }

    //Row after
    &:after
    {
      content: " ";
      clear: both;
      display: table;
      line-height: 0;
    }
  }

  //Grid column style
  &-col
  {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: { left: 10px; right: 10px }
  }

  //12 columns
  @each $i,$w in $siimple-grid-columns
  {
    &-col--#{$i} { width: calc(#{$w} - 20px); }
  }

  //Media column style
  @media(max-width: 450px)
  {
    &-col { width: calc(100% - 20px) !important; }
  }
}
