//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://wwww.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Close variables
$siimple-close-size: 20px;
$siimple-close-border: 100px;
$siimple-close-color: $siimple-default-white;
$siimple-close-background: siimple-default-color("dark", "base");
$siimple-close-opacity: 0.3;
$siimple-close-hover-opacity: 0.5;
$siimple-close-small-size: 16px;
$siimple-close-large-size: 30px;

//Close element class
//DEPRECATED!!! WILL BE REMOVED IN A FUTURE MAJOR RELEASE
.siimple-close {
    display: inline-block;
    width: $siimple-close-size;
    height: $siimple-close-size;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    border-radius: 100px;
    background-color: rgba($siimple-close-background, $siimple-close-opacity);
    &:after, 
    &:before {
        content: "";
        display: block;
        width: 12px;
        height: 2px;
        position: absolute;
        top: 9px;
        left: 4px;
        background-color: $siimple-close-color;
    }
    &:after {
        transform: rotate(45deg);
    }
    &:before {
        transform: rotate(-45deg);
    }

    &:hover {
        background-color: rgba($siimple-close-background, $siimple-close-hover-opacity);
    }
}
