//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Tag variables
$siimple-tag-height: 19px;

//Tag class
.siimple-tag {
    display: inline-block;
    //height: $siimple-tag-height;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    line-height: $siimple-tag-height;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: text-top;
    //margin-right: 1px;
    //margin-bottom: 8px;
    //Rounded tag 
    &--rounded {
        border-radius: 15px;        
    }
    //Tag colors
    @each $color in $siimple-default-colors {
        &#{&}--#{$color} {
            background-color: siimple-default-color($color);
            color: siimple-default-color($color, "over");
        }
    }
    //Legacy colors
    //To be deprecated in future major release
    @each $color in $siimple-legacy-colors {
        &#{&}--#{$color} {
            background-color: siimple-legacy-color($color, "base");
            color: siimple-legacy-color($color, "over");
        }
    }
}
