//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Button class
.#{siimple.$name}-btn {
    display: inline-block;
    //min-height: 24px;
    //transition: opacity 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    //font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: siimple.$border-radius;
    //Disable default button element borders
    //https://github.com/siimple/siimple/pull/17
    border: 0px;
    //Disable user selection
    @include siimple.user-select(none);
    //Default button style
    color: siimple.$text-color;
    background-color: siimple.color("white");
    //Button hover style
    &:hover {
        text-decoration: none;
        //opacity: 0.8;
        background-color: siimple.color("light");
    }
    //Button colors
    @each $color in siimple.utils-keys(siimple.$colors) {
        &--#{$color} {
            background-color: siimple.color($color);
            color: siimple.color-invert($color);
            //Button hover
            &:hover {
                background-color: siimple.color-darker($color);
            }
        }
    }
    //Disabled button
    &--disabled {
        //background-color: $siimple-btn-disabled-background !important;
        //color: rgba($siimple-btn-disabled-color, $siimple-btn-disabled-color-alpha) !important;
        opacity: 0.6 !important;
        cursor: not-allowed !important;
    }
    //Small button
    &--small {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 10px;
        line-height: 15px;
    }
    //Big button
    &--big {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 18px;
        line-height: 30px;
    }
    //Fluid button
    &--fluid {
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    //Rounded button
    &--rounded {
        border-radius: 50px !important;
    }
    //Group buttons
    &-group {
        display: inline-block;
    }
    &-group > &:not(:first-child) {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: -1px;
    }
    &-group > &:not(:last-child) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-right: -2px;
    }
    //White button
    &--white {
        transition: opacity 0.3s !important;
        background-color: siimple.color("white");
        opacity: 1.0;
        &:hover {
            background-color: siimple.color("white") !important;
            opacity: 0.8;
        }
    }
}

