//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Rule class 
.#{siimple.$name}-rule {
    display: block;
    height: 2px;
    background-color: siimple.color("light");
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0px;
    //Rule first and last child
    &:first-child {
        margin-top: 0px !important;
    }
    &:last-child {
        margin-bottom: 0px !important;
    }
}

