//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

$rule-background: siimple.$gray2 !default;
$rule-height: 2px !default;
$rule-margin-top: 15px !default;
$rule-margin-bottom: 15px !default;

//Rule class 
.#{siimple.$prefix}rule {
    display: block;
    height: $rule-height;
    background-color: $rule-background; //siimple.color("light");
    padding: 0px;
    //margin-top: $rule-margin-top;
    //margin-bottom: $rule-margin-bottom;
    border: 0px;
    //Rule first and last child
    &:not(:first-child) {
        margin-top: $rule-margin-top;
    }
    &:not(:last-child) {
        margin-bottom: $rule-margin-bottom;
    }
}

