//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "sass:map";
@use "@siimple/lib" as siimple;

//Base spinner mixin
@mixin siimple-spinner-base {
    width: 12px;
    height: 12px;
    //content: "";
    background-color: siimple.color("white");
    animation: siimple-spinner-animation 0.6s infinite alternate;
    animation-fill-mode: both;
    border-radius: 100px;
}

//Spinner animation
@keyframes siimple-spinner-animation {
    to {
        /*opacity: 0.1;*/
        background-color: transparent;
        transform: translate3d(0, -10px, 0);
    }
}

//Spinner class
.#{siimple.$name}-spinner {
    @include siimple-spinner-base();
    display: block;
    text-indent: -9999em;
    font-size: 10px;
    position: relative;
    transform: translateZ(0);
    animation-delay: 0.2s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    //First spinner circle
    &:before {
        @include siimple-spinner-base();
        //animation-delay: 0s;
        content: "";
        position: absolute;
        left: -15px;
        top: 5px;
    }
    //Last spinner circle
    &:after {
        @include siimple-spinner-base();
        content: "";
        animation-delay: 0.4s;
        position: absolute;
        left: 15px;
        top: 5px;
    }
    //Spinner colors
    @each $color in map.keys(siimple.$colors) {
        &--#{$color}, 
        &--#{$color}:after,
        &--#{$color}:before {
            background-color: siimple.color($color);
        }
    }
}

