//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Spinner variables
$spinner-width: 30px !default;
$spinner-height: 30px !default;
$spinner-border-width: 4px !default;
$spinner-border-color: siimple.color("white") !default;

//Spinner animation
@keyframes siimple-spinner-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}    

//Spinner class
.#{siimple.$name}-spinner {
    display: inline-block;
    position: relative;
    width: $spinner-width;
    height: $spinner-height;
    //Spinner anlimation elements
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: $spinner-width - 2 * $spinner-border-width;
        height: $spinner-height - 2 * $spinner-border-width;
        border: $spinner-border-width solid transparent;
        border-radius: 100%;
    }
    //Spinner animation background
    &:before {
        opacity: 0.2;
        border-color: $spinner-border-color; 
    }
    //Spinner animation circle
    &:after {
        border-top-color: $spinner-border-color;
        animation: siimple-spinner-animation 1s infinite linear;
    }
    //Spinner colors
    @each $color in siimple.utils-keys(siimple.$colors) {
        &--#{$color}:before {
            border-color: siimple.color($color) !important;
        }
        &--#{$color}:after {
            border-top-color: siimple.color($color) !important;
        }
    }
}

