//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "sass:map";
@use "@siimple/lib" as siimple;

//Tag class
.#{siimple.$name}-tag {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    line-height: 19px;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: text-top;
    //margin-right: 1px;
    //margin-bottom: 8px;
    //Rounded tag 
    &--rounded {
        border-radius: 15px;        
    }
    //Tag colors
    @each $color in map.keys(siimple.$colors) {
        &--#{$color} {
            background-color: siimple.color($color);
            color: siimple.color-invert($color);
        }
    }
}

