//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Tag class
.#{siimple.$name}-tag {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    line-height: 20px;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: text-top;
    //margin-right: 1px;
    //margin-bottom: 8px;
    //Rounded tag 
    &--rounded {
        border-radius: 15px;        
    }
    //Tag colors
    @each $color in siimple.utils-keys(siimple.$colors) {
        &--#{$color} {
            background-color: siimple.color($color);
            color: siimple.color-invert($color);
        }
    }
    //Grouped tag
    &-group {
        //font-size: 0px; //To remove spacing between tags
        vertical-align: text-top;
        display: inline-flex; //Important!!!
    }
    &-group > &:not(:first-child) {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    &-group > &:not(:last-child) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

