//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../variables.scss";
@import "../functions.scss";

//Tip class
.#{$siimple-prefix}-tip {
    display: block;
    position: relative;
    //width: calc(100% - 25px - 20px - 5px);
    border-left-style: solid;
    border-left-width: 40px;
    border-radius: $siimple-default-border-radius;
    padding-top: 15px;
    padding-right: 15px !important;
    padding-bottom: 15px;
    padding-left: 15px !important;
    margin-bottom: $siimple-default-margin-bottom;
    //background-color: siimple-default-color("light");
    //font-family: $siimple-default-text-font;
    font-size: $siimple-default-font-size;
    color: $siimple-default-color;
    line-height: $siimple-default-line-height;
    //Tip colors
    @each $color in $siimple-default-basic-colors {
        &#{&}--#{$color} {
            background-color: lighten(siimple-default-color($color, "light"), 8%);
            border-left-color: siimple-default-color($color);
        }
    }
    //Exclamation tip
    &--exclamation::before {
        content: "!";
    }
    //Question tip
    &--question::before {
        content: "?";
    }
    //Heart tip icon
    &--heart::before,
    &--heart::after {
        content: "";
        position: absolute;
        top: 17px;
        background-color: $siimple-default-white;
        border-radius: 100px 100px 0 0;
        width: 10px;
        height: 15px;
    }
    &--heart::before {
        transform: rotate(-45deg);
        left: -27px;
    }
    &--heart::after {
        transform: rotate(45deg);
        left: -23px;
    }
    //Info tip
    &--info::before {
        content: "i";
        font-family: monospace;
    }
}

