//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Tip class
.#{siimple.$name}-tip {
    display: block;
    position: relative;
    //width: calc(100% - 25px - 20px - 5px);
    border-left-style: solid;
    border-left-width: 40px;
    border-radius: siimple.$border-radius;
    padding-top: 15px;
    padding-right: 15px !important;
    padding-bottom: 15px;
    padding-left: 15px !important;
    margin-bottom: siimple.$margin-bottom;
    //font-size: $siimple-default-font-size;
    color: siimple.$text-color;
    //line-height: $siimple-default-line-height;
    //Tip colors
    @each $color in siimple.utils-keys(siimple.$colors) {
        &--#{$color} {
            background-color: lighten(siimple.color-lighter($color), 8%);
            border-left-color: siimple.color($color);
        }
    }
    //Exclamation tip icon
    &--exclamation::before {
        content: "!";
    }
    //Question tip
    &--question::before {
        content: "?";
    }
    //Common question and exclamation styles
    &--exclamation::before,
    &--question::before {
        position: absolute;
        color: siimple.color("white");
        width: 20px;
        left: -30px;
        top: 16px;
        text-align: center;
        font-weight: 600;
        //font-family: monospace;
        //font-size: 16px;
    }
    &--exclamation::after,
    &--question::after {
        content: "";
        position: absolute;
        border: 2px solid siimple.color("white");
        border-radius: 100px;
        width: 20px;
        height: 20px;
        top: 15px;
        left: -32px;
    }
    //Heart tip icon
    &--heart::before,
    &--heart::after {
        content: "";
        position: absolute;
        top: 17px;
        background-color: siimple.color("white");
        border-radius: 100px 100px 0 0;
        width: 10px;
        height: 15px;
    }
    &--heart::before {
        transform: rotate(-45deg);
        left: -27px;
    }
    &--heart::after {
        transform: rotate(45deg);
        left: -23px;
    }
    //Info tip icons
    &--info::before {
        content: "i";
        color: siimple.color("white");
        font-family: monospace;
        position: absolute;
        top: 13px;
        left: -30px;
        width: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
    //Cross tip icon
    &--cross::after,
    &--cross::before {
        content: "";
        position: absolute;
        background-color: siimple.color("white");
        width: 5px;
        height: 20px;
        border-radius: 2px;
        top: 16px;
    }
    &--cross::after {
        transform: rotate(-45deg);
        left: -22px;
    }
    &--cross::before {
        transform: rotate(45deg);
        left: -22px;
    }
    //Check tip icon
    &--check::after,
    &--check::before {
        content: "";
        position: absolute;
        background-color: siimple.color("white");
        width: 5px;
        border-radius: 2px;
    }
    &--check::after {
        transform: rotate(45deg);
        left: -20px;
        height: 20px;
        top: 15px;
    }
    &--check::before {
        transform: rotate(-45deg);
        left: -28px;
        height: 12px;
        top: 22px;
    }
}

