.#{$press-base}-navbar {
    //display: block;
    //background-color: $siimple-default-white !important;
    //border-bottom: 1px solid rgba($siimple-default-white, 0.1);
    //Navbar color
    background-color: siimple-default-color("light");
    color: siimple-default-color("primary");
    //border-bottom: 2px solid siimple-default-color("light");
    //Navbar title
    & .siimple-navbar-title {
        color: siimple-default-color("primary");
    }
    //Navbar subtitle
    & .siimple-navbar-subtitle {
        color: siimple-default-color("primary");
    }
    //Navbar item
    & .siimple-navbar-item {
        transition: all 0.3s;
        color: siimple-default-color("primary");
        background-color: rgba(siimple-default-color("primary"), 0.1);
        border-radius: $siimple-default-border-radius;
        font-weight: 600;
        margin-left: 4px;
        //Hover
        &:hover {
            color: siimple-default-color("primary", "dark");
            background-color: rgba(siimple-default-color("primary"), 0.2);
        }
    }
}

