.sd-examples {
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    vertical-align: top;
    &-header {
        padding-bottom: 40px;
        &-title {
            font-size: 30px;
            color: siimple-default-color("dark");
        }
        &-description {
            font-size: 18px;
            color: siimple-default-color("dark", "light");
            line-height: 28px;
        }
    }
    &-item {
        text-decoration: none !important;
        display: inline-block;
        vertical-align: top;
        max-width: calc(315px - 20px);
        height: 300px;
        //padding-bottom: 15px;
        margin: 10px;
        &-image {
            display: block;
            width: 295px;
            height: 169px;
            background-repeat: no-repeat;
            background-size: 295px 169px;
            background-position: center center;
        }
        &-title {
            display: block;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            color: siimple-default-color("dark");
            margin-top: 10px;
            margin-bottom: 2px;
        }
        &-description {
            display: block;
            text-decoration: none;
            color: siimple-default-color("dark", "light");
            font-size: 14px;
            line-height: 20px;
        }
    }
}
