//Search variables
$sd-search-results-breakpoint: 600px;

//Search class
.sd-search {
    &-header {
        display: block;
        background-color: siimple-default-color("light");
        padding-top: 50px;
        padding-bottom: 50px;
        &-title {
            display: block;
            font-size: 30px;
            color: $siimple-default-color;
            margin-bottom: 16px;
        }
        &-input {
            background-color: #ffffff !important;
            text-align: center;
        }
        &-submit {
            margin-top: 10px;
        }
    }
    &-results {
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
        &-count {
            display: block;
            color: siimple-default-color("dark", "light");
            margin-bottom: 15px;
            font-size: 15px;
        }
        &-item {
            display: block;
            width: calc(50% - 50px);
            padding: 15px;
            margin: 10px;
            float: left;
            border-radius: 5px;
            transition: background-color 0.3s;
            text-decoration: none;
            background-color: rgba(siimple-default-color("light"), 0.3);
            &:hover {
                background-color: siimple-default-color("light", "light");
            }
            &-name {
                display: block;
                font-size: 24px;
                font-weight: bold;
                color: siimple-default-color("dark");
                margin-bottom: 3px;
                text-decoration: none;
                transition: color 0.3s;
            }
            &:hover &-name {
                text-decoration: underline;
                color: siimple-default-color("primary");
            }
            &-url {
                display: block;
                color: siimple-default-color("success", "dark");
                font-size: 14px;
                margin-bottom: 4px;
            }
            &-description {
                display: block;
                line-height: 22px;
                font-size: 15px;
                color: siimple-default-color("dark");
                //margin-bottom: 20px;
            }
        }
        @media (max-width: $sd-search-results-breakpoint) {
            &-item {
                width: calc(100% - 50px);
            }
        }
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
}
