.sd-typo {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: siimple-default-color("dark", "light");
    font-size: 14px;
    line-height: $siimple-default-line-height;
}
.sd-typo-link {
    color: $siimple-default-color;
    //text-decoration: none;
    font-weight: bold;
    opacity: 0.9;
    transition: all 0.3s;
}
.sd-typo-link:hover {
    opacity: 1.0;
}

