/* Siimple branding styles */
.siimple {
    font-family: 'Nunito', 'Ubuntu', 'Roboto', sans-serif !important;
    font-weight: 800 !important;
}

/* Code style */
.livecode {
    border-radius: 0.5rem;
    display: block;
    font-family: monospace;
    font-size: 0.8rem;
    overflow: auto;
    padding: 1.5rem;
    width: 100%;
}
/* hide scrollbar but allow scrolling */
.livecode pre {
    scrollbar-width: none;
}
.livecode pre::-webkit-scrollbar {
    display: none;
}

/* Headline style */
.headline {
    /* font-size: 6.5rem; */
    font-size: min(16vw, 7rem);
    font-weight: 900;
    line-height: 1;
}
.headline .has-text-gradient {
    background: linear-gradient(15deg, #1c76fd, #363f4f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Subhead style */
.subhead {
    /* font-size: 3.5rem; */
    font-size: min(16vw, 3.5rem);
    font-weight: 800;
}
