<!-- Get started section -->
<div class="siimple-content siimple-content--large siimple--py-5 siimple--my-5">
    <div align="center">
        <img src="/assets/icons/get-started.svg" width="100px" height="100px" />
    </div>
    <div class="siimple-h3 siimple--text-normal siimple--mb-5 siimple--mt-3" align="center">
        Let's <strong>get started!</strong>
    </div>
    <div class="siimple-row">
        <!-- Read the documentation -->
        <div class="siimple-column siimple-column--6 siimple-column--sm-12">
            <a class="siimple-card siimple-card--light" href="/docs/index.html">
                <div class="siimple-card-content">
                    <div class="siimple-h5 siimple--mb-1 siimple--text-primary">
                        Documentation
                    </div>
                    Our documentation covers all you need to know to start building your website with <strong>siimple</strong>!
                </div>
                <div class="siimple-card-link">
                    Read the <strong>documentation</strong>
                </div>
            </a>
        </div>
        <!-- Get help -->
        <div class="siimple-column siimple-column--6 siimple-column--sm-12">
            <a class="siimple-card siimple-card--light" href="https://gitter.im/siimple/siimple">
                <div class="siimple-card-content">
                    <div class="siimple-h5 siimple--mb-1 siimple--text-primary">
                        Get support
                    </div>
                    Need more help? Join our <strong>Gitter</strong> chat for getting help from the <strong>siimple</strong> community!
                </div>
                <div class="siimple-card-link">
                    Join <strong>our chat on Gitter</strong>
                </div>
            </a>
        </div>
    </div>
</div>

