@import "@siimple/css/scss/variables.scss";

//Page style
.root {
    display: block;
    padding: 5px;
    background-color: siimple-default-color("light", "dark");
    min-height: calc(100% - 10px);
}

//Page content
.content {
    background-color: #ffffff;
}

