//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Button mixin
@mixin siimple-btn
{
  //Display
  display: inline-block; height: 30px; transition: opacity 0.3s;

  //Text
  line-height: 30px; text: { align: center; decoration: none; }

  //Cursor
  cursor: pointer;

  //Text font
  @include siimple-font; font-size: $siimple-font-btn; font-weight: bold;

  //Padding
  padding: { left: 10px; right: 10px; }

  //Border
  border-radius: $siimple-border-radius;

  //Disable default button element borders
  //https://github.com/siimple/siimple/pull/17
  border: none;

  //Disable user selection
  @include siimple-utils-select(none);

  //Hover
  &:hover { opacity: 0.8; text-decoration: none; }

  //Disabled button
  &--disabled
  {
    //Backbround color
    background-color: $siimple-grey-0 !important;

    //Text color
    color: $siimple-navy !important;

    //Cursor
    cursor: not-allowed !important;
  }
}
