@use "@siimple/lib" as siimple;

//Thumb mixin
@mixin neutrine-range-thumb () {
    box-sizing: border-box;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: siimple.color("primary");
    cursor: pointer;
}

//Range component styles
.neutrine-range {
    -webkit-appearance: none;
    //width: 100%;
    height: 12px;
    background: siimple.color-lighter("light");
    outline: none;
    //opacity: 0.7;
    border-radius: 5px;
    margin-top: 11px;
    margin-bottom: 11px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    //Range hover
    //&:hover {
    //    opacity: 1.0;
    //}
    //Fluid range
    &--fluid {
        width: 100%;
    }
    //Range disabled
    &--disabled {
        opacity: 0.7 !important;
        cursor: not-allowed !important;
        //Thumb disbaled style
        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        &::-ms-thumb {
            background: siimple.color("dark") !important;
        }
    }
    //Thumb style
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        @include neutrine-range-thumb;
    }
    &::-moz-range-thumb {
        @include neutrine-range-thumb;
    }
    &::-ms-thumb {
        margin-top: 0px;
        @include neutrine-range-thumb;
    }
}

