//Import dependencies
@import "@siimple/css/scss/variables.scss";

//Panel component
.neutrine-panel {
    display: block;
    padding: 15px;
    border-radius: 5px;
    background-color: siimple-default-color("light");
    margin-bottom: $siimple-default-margin-bottom;
    //Panel header
    &-header {
        display: block;
        font-size: 16px;
        font-weight: bold;
        height: 24px;
        line-height: 24px;
        //cursor: pointer;
    }
    //Panel body 
    &-body {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        //Not first element --> show rule
        &:not(:first-child) {
            margin-top: 10px;
            padding-top: 20px;
            border-top: 1px solid siimple-default-color("light", "dark");
        }
    }
    //Panel collapsed
    //&--collapsed &-body {
    //    display: none;
    //}
    //Panel title
    &-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1px;
    }
    //Panel description
    &-description {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        color: siimple-default-color("dark", "light");
        margin-bottom: 10px;
    }
    //Panel label
    &-label {
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
        line-height: 1;
        border-radius: 20px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        color: siimple-default-color("dark", "light");
        background-color: rgba(#ffffff, 0.8);
    }
}

