//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Blockquote variables
$siimple-blockquote-color: siimple-default-color("dark", "light");

//Blockquote class
.siimple-blockquote {
    display: block;
    //font-family: $siimple-default-text-font;
    color: $siimple-blockquote-color;
    font-size: $siimple-default-font-size;
    line-height: $siimple-default-line-height;
    border-left: 4px solid $siimple-blockquote-color;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: $siimple-default-margin-bottom;
    //Fix default margin values in blockquote element
    margin-left: 0px;
    margin-right: 0px;
}

