//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Code variables
$siimple-code-font-size: 13px;
$siimple-code-background: siimple-default-color("light");
$siimple-code-color: siimple-default-color("error");
$siimple-code-padding-top: 2px;
$siimple-code-padding-bottom: 2px;
$siimple-code-padding-left: 5px;
$siimple-code-padding-right: 5px;

//Code class
.siimple-code {
    color: $siimple-code-color;
    text-decoration: none;
    font-size: $siimple-code-font-size;
    background-color: $siimple-code-background;
    border-radius: $siimple-default-border-radius;
    padding: {
        top: $siimple-code-padding-top;
        bottom: $siimple-code-padding-bottom;
        left: $siimple-code-padding-left;
        right: $siimple-code-padding-right;
    }

    &--dark {
        background-color: siimple-default-color("dark") !important;
        color: $siimple-default-white;
    }
}

