//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Heading variables
$siimple-heading-padding: 0px;
$siimple-heading-sizes:
(
  (1, 45px, 51px, 20px, 28px),
  (2, 35px, 40px, 20px, 28px),
  (3, 25px, 29px, 18px, 28px),
  (4, 22px, 25px, 16px, 28px),
  (5, 20px, 22px, 14px, 28px),
  (6, )
);

//Heading base
@mixin siimple-heading
{
  //Each heading
  @each $h-number, $h-size, $h-line, $h-top, $h-bottom in $siimple-heading-sizes
  {
    //Add this heading style
    &#{$h-number}
    {
      display: block;
      font-size: $h-size;
      font-family: $siimple-default-text-font;
      font-weight: bold;
      line-height: $h-line;
      color: $siimple-default-text-color;

      padding: $siimple-heading-padding;
      margin-bottom: $h-bottom;

      //Not first child
      &:not(:first-child){ margin-top: $h-top; }
    }
  }
}
