//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Heading base
@mixin siimple-heading
{
  display: block;
  @include siimple-font;
  font-weight: bold;
  color: $siimple-navy;
  padding: 0px;
}

//Heading 1
@mixin siimple-heading-1
{
  @include siimple-heading;
  font-size: 45px;
  line-height: 51px;
  margin-bottom: 20px;

  //Not first child
  &:not(:first-child){ margin-top: 28px; }
}

//Heading 2
@mixin siimple-heading-2
{
  @include siimple-heading;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 20px;

  //Not first child
  &:not(:first-child){ margin-top: 28px; }
}

//Heading 3
@mixin siimple-heading-3
{
  @include siimple-heading;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 18px;

  //Not first child
  &:not(:first-child){ margin-top: 28px; }
}

//Heading 4
@mixin siimple-heading-4
{
  @include siimple-heading;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 16px;

  //Not first child
  &:not(:first-child){ margin-top: 28px; }
}

//Heading 5
@mixin siimple-heading-5
{
  @include siimple-heading;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 14px;

  //Not first child
  &:not(:first-child){ margin-top: 28px; }
}

//Heading 6
@mixin siimple-heading-6
{
  @include siimple-heading;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 12px;
}
