//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Link variables
$siimple-link-color: siimple-default-color("primary");
$siimple-link-color-hover: siimple-default-color("primary", "dark");

//Link class
.siimple-link {
    //font-family: $siimple-default-text-font;
    color: $siimple-link-color;
    //font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: $siimple-link-color-hover;
    }
}

