//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//List style
@mixin siimple-list
{
  //Line height
  line-height: $siimple-lh;

  //Text
  @include siimple-font; 

  //Margin
  margin: { bottom: 16px; top: 0px; }

  //Li element
  li
  {
    //Line height
    line-height: $siimple-lh;
  }
}
