//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "siimple-colors/scss/_all.scss";
@import "../_variables.scss";

$siimple-small-text-size: 12px;

.siimple-small {
  //font-family: $siimple-default-text-font;
  font-size: $siimple-small-text-size;
  color: $siimple-navy-4;
}
