//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "siimple-colors/scss/_all.scss";
@import "../_variables.scss";

$siimple-tag-height: 19px;
$siimple-tag-border-radius: 4px;
$siimple-tag-text-size: 10px;
$siimple-tag-padding-left: 6px;
$siimple-tag-padding-right: 6px;
$siimple-tag-margin-right: 1px;
$siimple-tag-margin-bottom: 8px;

.siimple-tag {
  display: inline-block;
  //height: $siimple-tag-height;
  font-size: $siimple-tag-text-size;
  font-weight: bold;
  text-decoration: none;
  line-height: $siimple-tag-height;
  border-radius: $siimple-tag-border-radius;
  padding: {
    left: $siimple-tag-padding-left;
    right: $siimple-tag-padding-right;
  }
  margin-right: $siimple-tag-margin-right;
  //margin-bottom: $siimple-tag-margin-bottom;

  @each $color, $value in $siimple-default-colors {
    &#{&}--#{$color} {
      background-color: siimple-color-base($color);
      color: siimple-color-over($color);
    }
  }
}
