//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Box variables
$siimple-box-padding: 15px;
$siimple-box-title-font-size: 40px;
$siimple-box-title-margin-top: 20px;
$siimple-box-title-margin-bottom: 10px;
$siimple-box-subtitle-font-size: 30px;
$siimple-box-subtitle-margin-top: 10px;
$siimple-box-subtitle-margin-bottom: 10px;
$siimple-box-subtitle-title-margin: -12px;
$siimple-box-detail-margin-bottom: 10px;

//Box style
.siimple-box {
    display: block;
    vertical-align: top;
    width: calc(100% - #{2 * $siimple-box-padding});
    //background-color: $siimple-grey;
    //font-family: $siimple-default-text-font;
    font-size: $siimple-default-text-size;
    //color: $siimple-default-text-color;
    border-radius: $siimple-default-border-radius;
    padding: $siimple-box-padding;
    margin: {
        bottom: $siimple-default-margin-bottom;
    }
    
    //Box title
    &-title {
        display: block;
        font-weight: bold;
        font-size: $siimple-box-title-font-size;
        text-decoration: none;
        margin: {
            top: $siimple-box-title-margin-top;
            bottom: $siimple-box-title-margin-bottom;
        }
        &:last-child {
            margin-bottom: $siimple-box-title-margin-top;
        }
    }

    //Box subtitle
    &-subtitle {
        display: block;
        font-weight: bold;
        font-size: $siimple-box-subtitle-font-size;
        text-decoration: none;
        margin: {
            top: $siimple-box-subtitle-margin-top;
            bottom: $siimple-box-subtitle-margin-bottom;
        }
        &:first-child {
            margin-top: $siimple-box-title-margin-top;
        }
        &:last-child {
            margin-bottom: $siimple-box-title-margin-top;
        }
    }

    //Subtitle after a title
    &-title + &-subtitle {
        margin-top: $siimple-box-subtitle-title-margin;
    }

    &-detail {
        display: block;
        margin-bottom: $siimple-box-detail-margin-bottom;
        &:first-child {
            margin-top: $siimple-box-title-margin-top;
        }
        &:last-child {
            margin-bottom: $siimple-box-title-margin-top;
        }
    }
    
    //Box colors
    @each $color in $siimple-default-colors {
        &#{&}--#{$color} {
            background-color: siimple-default-color($color);
            color: siimple-default-color($color, "over");
        }
    }

    //Legacy box colors
    //To be deprecated in future major release
    @each $color in $siimple-legacy-colors {
        &#{&}--#{$color} {
            background-color: siimple-color-base($color);
            color: siimple-color-over($color);
        }
    }
}
