//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "siimple-colors/scss/_all.scss";
@import "../_variables.scss";
@import "./size.scss";

//Footer variables
$siimple-footer-padding-top: 50px;
$siimple-footer-padding-bottom: 80px;

.siimple-footer {
  display: block;
  padding-top: $siimple-footer-padding-top;
  padding-bottom: $siimple-footer-padding-bottom;

  //Footer sizes
  @include siimple-size();

  @each $color, $value in $siimple-default-colors {
    &#{&}--#{$color} {
      background-color: $value;
      color: siimple-color-over($color);
    }
  }
}
