//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";
@import "../_utils.scss";

//Jumbotron variables
$siimple-jumbotron-padding: 85px;

//Jumbotron class
.siimple-jumbotron {
    display: block;
    //font-family: $siimple-default-text-font;
    padding-top: $siimple-jumbotron-padding;
    padding-bottom: $siimple-jumbotron-padding;
    @include siimple-sizing();
    //Common styles
    &-title, 
    &-subtitle,
    &-detail {
        display: block;
        text-decoration: none;
    }
    //Jumbotron title
    &-title {
        //line-height: 60px;
        font-weight: bold;
        font-size: 40px;
        //margin-top: 0px;
        //margin-bottom: 0px;
    }
    //Jumbotron subtitle
    &-subtitle {
        //line-height: 40px;
        font-size: 24px;
        font-weight: 600;
        opacity: 0.8;
        //margin-top: 10px;
        //margin-bottom: 10px;
    }
    //Jumbotron detail
    &-detail {
        line-height: 22px;
        font-size: 16px;
        opacity: 0.6;
        //margin-top: 10px;
        //margin-bottom: 10px;
    }
    &-title + &-subtitle,
    &-title + &-detail,
    &-subtitle + &-detail {
        margin-top: 5px;
    }
    ////Light jumbotron
    //&--light {
    //    background-color: siimple-default-color("light");
    //    color: siimple-default-color("dark");
    //}
    ////Dark jumbotron
    //&--dark {
    //    background-color: siimple-default-color("dark");
    //    color: siimple-default-color("white");
    //}
    //Jumbotron colors
    @each $color in $siimple-default-colors {
        &#{&}--#{$color} {
            background-color: siimple-default-color($color);
            color: siimple-default-color($color, "over");
        }
    }
    //Legacy jumbotron colors
    //To be deprecated in future major release
    @each $color in $siimple-legacy-colors {
        &#{&}--#{$color} {
            background-color: siimple-legacy-color($color, "base");
            color: siimple-legacy-color($color, "over");
        }
    }
}

