//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";
@import "./size.scss";

//Jumbotron class
.siimple-jumbotron {
    display: block;
    //font-family: $siimple-default-text-font;
    padding-top: 120px;
    padding-bottom: 120px;
    //Legacy jumbotron sizes
    //To be deprecated in a fueture major release
    @include siimple-size();
    //Jumbotron title
    &-title {
        display: block;
        text-decoration: none;
        line-height: 60px;
        font-weight: bold;
        font-size: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    //Jumbotron subtitle
    &-subtitle {
        display: block;
        text-decoration: none;
        line-height: 40px;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    //Jumbotron detail
    &-detail {
        display: block;
        text-decoration: none;
        line-height: 30px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    //Jumbotron colors
    @each $color in $siimple-default-colors {
        &#{&}--#{$color} {
            background-color: siimple-default-color($color);
            color: siimple-default-color($color, "over");
        }
    }
    //Legacy jumbotron colors
    //To be deprecated in future major release
    @each $color in $siimple-legacy-colors {
        &#{&}--#{$color} {
            background-color: siimple-legacy-color($color, "base");
            color: siimple-legacy-color($color, "over");
        }
    }
}

