//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";
@import "./size.scss";

//Navbar default variables
$siimple-navbar-zindex: 3;
$siimple-navbar-height: 30px;
$siimple-navbar-margin: 0px;
$siimple-navbar-padding-top: 15px;
$siimple-navbar-padding-bottom: 15px;

//Navbar item variables
$siimple-navbar-item-margin-left: 0px;
$siimple-navbar-item-margin-right: 0px;
$siimple-navbar-item-padding-left: 15px;
$siimple-navbar-item-padding-right: 15px;
$siimple-navbar-item-font-weight: bold;

//Navbar title variables
$siimple-navbar-title-font-size: 21px;
$siimple-navbar-title-font-weight: bold;
$siimple-navbar-title-padding-left: 0px;
$siimple-navbar-title-padding-right: 0px;

//Navbar subtitle variables
$siimple-navbar-subtitle-font-size: 16px;
$siimple-navbar-subtitle-font-weight: bold;
$siimple-navbar-subtitle-padding-left: 15px;
$siimple-navbar-subtitle-opacity: 0.6;

//Navbar class
.siimple-navbar {
    display: block;
    //position: absolute; top: 0px; left: 0px;
    z-index: $siimple-navbar-zindex;
    //width: 100%;
    height: $siimple-navbar-height;
    //font-family: $siimple-default-text-font;
    //margin: $siimple-navbar-margin;
    padding: {
        top: $siimple-navbar-padding-top;
        bottom: $siimple-navbar-padding-bottom;
    }
    //vertical-align: middle;

    @include siimple-size();

    //Navbar title
    &-title {
        display: inline-block;
        height: $siimple-navbar-height;
        //line-height: $siimple-navbar-title-line-height;
        text-decoration: none;
        font-weight: $siimple-navbar-title-font-weight;
        font-size: $siimple-navbar-title-font-size;
        padding: {
            left: $siimple-navbar-title-padding-left;
            right: $siimple-navbar-title-padding-right;
        }
        transition: all 0.3s;
        cursor: pointer;
        //vertical-align: middle;
    }

    //Navbar subtitle
    &-subtitle {
        display: inline-block;
        height: $siimple-navbar-height;
        line-height: $siimple-navbar-height;
        font-size: $siimple-navbar-subtitle-font-size;
        font-weight: $siimple-navbar-subtitle-font-weight;
        text-decoration: none;
        cursor: pointer;
        //vertical-align: middle;
        opacity: $siimple-navbar-subtitle-opacity;
        &::before {
            display: inline-block;
            content: "";
            width: 2px;
            height: calc(#{$siimple-navbar-height} - 10px);
            float: left;
            margin: {
                top: 4px;
                left: 4px;
                right: 6px;
            }
            //vertical-align: middle;
            opacity: 0.4;
        }
    }

    //Navbar item
    &-item, 
    &-link {
        display: inline-block;
        height: $siimple-navbar-height;
        line-height: $siimple-navbar-height;
        margin: {
            left: $siimple-navbar-item-margin-left;
            right: $siimple-navbar-item-margin-right;
        }
        padding: {
            left: $siimple-navbar-item-padding-left;
            right: $siimple-navbar-item-padding-right;
        }
        text-decoration: none;
        text-align: center;
        font-weight: $siimple-navbar-item-font-weight;
        font-size: $siimple-default-font-size;
        transition: all 0.3s;
        cursor: pointer;
        opacity: 0.8;
        //vertical-align: middle;
        &:hover {
            opacity: 1.0;
        }
    }

    //Navbar colors 
    @each $color in $siimple-default-colors {
        &#{&}--#{$color} {
            background-color: siimple-default-color($color);
            color: siimple-default-color($color, "over");
        }
        &#{&}--#{$color} &-title {
            color: siimple-default-color($color, "over");
        }
        &#{&}--#{$color} &-subtitle {
            color: siimple-default-color($color, "over");
            &::before {
                background-color: siimple-default-color($color, "over");
            }
        }
        &#{&}--#{$color} &-link, 
        &#{&}--#{$color} &-item {
            color: siimple-default-color($color, "over");
        }
    }


    //Legacy colors
    //To be deprecated in future major release
    @each $color in $siimple-legacy-colors {
        &#{&}--#{$color} {
            background-color: siimple-color-base($color);
            color: siimple-color-over($color);
        }
        &#{&}--#{$color} &-title {
            color: siimple-color-over($color);
        }
        &#{&}--#{$color} &-subtitle {
            color: siimple-color-over($color);
            &::before {
                background-color: siimple-color-over($color);
            }
        }
        &#{&}--#{$color} &-link, &#{&}--#{$color} &-item {
            color: siimple-color-over($color);
        }
    }
}

