//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "siimple-colors/scss/_all.scss";
@import "../_variables.scss";
@import "./size.scss";

//Navbar default variables
$siimple-navbar-zindex: 3;
$siimple-navbar-height: 30px;
$siimple-navbar-margin: 0px;
$siimple-navbar-padding: 15px;

//Navbar item variables
$siimple-navbar-item-margin: 0px;
$siimple-navbar-item-padding: 15px;

//Navbar title variables
$siimple-navbar-title-size: 22px;
$siimple-navbar-title-padding: 15px;

.siimple-navbar {
  display: block;
  //position: absolute; top: 0px; left: 0px;
  z-index: $siimple-navbar-zindex;
  //width: 100%;
  height: $siimple-navbar-height;
  //font-family: $siimple-default-text-font;
  //margin: $siimple-navbar-margin;
  padding: {
    top: $siimple-navbar-padding;
    bottom: $siimple-navbar-margin;
  }
  vertical-align: middle;

  @include siimple-size();

  &-title {
    display: inline-block;
    height: $siimple-navbar-height;
    line-height: $siimple-navbar-height;
    text-decoration: none;
    font-weight: bold;
    font-size: $siimple-navbar-title-size;
    padding-left: $siimple-navbar-title-padding;
    padding-right: $siimple-navbar-title-padding;
    transition: all 0.3s;
    cursor: pointer;
  }

  &-item, &-link {
    display: inline-block;
    height: $siimple-navbar-height;
    line-height: $siimple-navbar-height;
    margin-left: $siimple-navbar-item-margin;
    margin-right: $siimple-navbar-item-margin;
    padding-left: $siimple-navbar-item-padding;
    padding-right: $siimple-navbar-item-padding;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: $siimple-default-text-weight;
    transition: all 0.3s;
    cursor: pointer;
  }

  @each $color, $value in $siimple-default-colors {
    &#{&}--#{$color} {
      background-color: $value;
      color: siimple-color-over($color);
    }
    &#{&}--#{$color} &-title {
      color: siimple-color-over($color);
      &:hover {
        //background-color: siimple-color($color, 1);
        color: siimple-color-over($color);
      }
    }
    &#{&}--#{$color} &-link, &#{&}--#{$color} &-item {
      color: siimple-color-over($color);
      &:hover {
        background-color: siimple-color($color, 1);
        color: siimple-color-over($color);
      }
    }
  }
}
