//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Menu variables
//$siimple-menu-font-size: $siimple-default-font-size;
$siimple-menu-margin-top: 0px;
$siimple-menu-margin-bottom: $siimple-default-margin-bottom;
$siimple-menu-padding: 0px;

//Menu group variables
$siimple-menu-group-height: 25px;
$siimple-menu-group-line-height: $siimple-menu-group-height;
$siimple-menu-group-margin-top: 10px;
$siimple-menu-group-font-size: 15px;
$siimple-menu-group-font-weight: bold;
$siimple-menu-group-color: siimple-default-color("dark", "light");

//Menu item variables
$siimple-menu-item-height: 34px;
$siimple-menu-item-line-height: $siimple-menu-item-height;
$siimple-menu-item-border-radius: $siimple-default-border-radius;
$siimple-menu-item-padding-left: 10px;
$siimple-menu-item-padding-right: 10px;
$siimple-menu-item-font-size: 14px;
$siimple-menu-item-font-weight: 400;
$siimple-menu-item-color: siimple-default-color("dark", "base");
$siimple-menu-item-background-color: siimple-default-color("light", "base");
$siimple-menu-item-margin-bottom: 5px;

//Menu submenu variables
$siimple-menu-submenu-margin-top: 5px;
$siimple-menu-submenu-margin-bottom: 5px;
$siimple-menu-submenu-margin-left: 10px;
$siimple-menu-submenu-padding-left: 10px;

//Menu class
.siimple-menu {
    display: block;
    width: 100%;
    //font-family: $siimple-default-text-font;
    //font-size: $siimple-menu-font-size;
    margin: {
        top: $siimple-menu-margin-top;
        bottom: $siimple-menu-margin-bottom;
    }
    padding: $siimple-menu-padding;

    //Menu group
    &-group {
        display: block;
        width: 100%;
        height: $siimple-menu-group-height;
        line-height: $siimple-menu-group-line-height;
        transition: color 0.3s;
        font-size: $siimple-menu-group-font-size;
        font-weight: $siimple-menu-group-font-weight;
        text-decoration: none;
        color: $siimple-menu-group-color;

        //Menu group not first margin top
        &:not(:first-child) {
            margin-top: $siimple-menu-group-margin-top;
        }

        //Menu group hover
        &:hover {
            text-decoration: none !important;
            color: $siimple-menu-group-color;
        }
    }

    //Menu item
    &-item {
        display: block;
        height: $siimple-menu-item-height;
        line-height: $siimple-menu-item-line-height;
        //border: 0px;
        border-radius: $siimple-menu-item-border-radius;
        font-size: $siimple-menu-item-font-size;
        font-weight: $siimple-menu-item-font-weight;
        color: rgba($siimple-menu-item-color, 0.7);
        text-decoration: none;
        padding: {
            left: $siimple-menu-item-padding-left;
            right: $siimple-menu-item-padding-right;
        }
        margin: {
            bottom: $siimple-menu-item-margin-bottom;
        }
        background-color: rgba($siimple-menu-item-background-color, 0);
        //opacity: 1.0;
        transition: all ease 0.3s;
        cursor: pointer;
        //Hover styles
        &:not(#{&}--selected):hover {
            background-color: $siimple-menu-item-background-color;
            text-decoration: none !important;
            color: $siimple-menu-item-color;
        }
        //Selected item
        &--selected {
            background-color: siimple-default-color("primary", "base");
            color: siimple-default-color("primary", "over");
        }
    }
    //Submenu
    &-sub, 
    &-submenu {
        display: block;
        padding: {
            left: $siimple-menu-submenu-padding-left;
        }
        margin: {
            left: $siimple-menu-submenu-margin-left;
            top: $siimple-menu-submenu-margin-top;
            bottom: $siimple-menu-submenu-margin-bottom;
        }
        border-left: 1px solid siimple-default-color("light", "dark");
    }
}

