@use "@siimple/lib" as siimple;

//Neutrine toolbar style
.neutrine__toolbar {
    display: block;
    position: fixed;
    width: calc(260px - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    transition: all 0.3s;
    top: 0px !important;
    left: 0px;
    background-color: siimple.color("light");
    color: siimple-default-color("dark");
    overflow-x: hidden;
    overflow-y: auto;
    //Toolbar wrapper
    &-wrapper {
        display: block;
        //min-height: 100%;
        padding-left: 260px;
        transition: all 0.3s;
        position: relative;
    }
    //Toolbar group
    &-group {
        display: block;
        //color: rgba(siimple.color("white"), 0.6);
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-top: 10px;
        font-weight: 600;
        transition: all 0.3s;
        overflow: hidden;
        color: rgba(siimple.color("dark"), 0.6);
    }
    //Toolbar item and brand common styles
    &-item,
    &-brand {
        display: block;
        padding-left: 36px;
        padding-right: 10px;
        min-height: 36px;
        line-height: 36px;
        margin-bottom: 5px;
        border-radius: 3px;
        transition: background-color 0.3s;
        cursor: pointer;
        text-overflow: clip;
        overflow: hidden;
    }
    //Toolbar item
    &-item {
        position: relative;
        font-size: 14px;
        color: siimple.color-lighter("dark");
        //Item hover
        &:hover {
            background-color: rgba(siimple.color("primary"), 0.1);
        }
        //Link icons
        &-icon {
            position: absolute;
            left: 8px;
            font-size: 20px;
            line-height: 36px !important;
            font-weight: normal !important;
        }
        //Text props
        &-text {
            line-height: 36px;
            //height: 40px;
        }
        //Item active
        &--active {
            font-weight: 600;
            color: siimple.color("primary") !important;
            background-color: rgba(siimple.color("primary"), 0.2) !important;
        }
    }
    //Toolbar brand
    &-brand {
        font-size: 16px;
        font-weight: bold;
        background-position: 6px 11px;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-image: url("./images/logo.png");
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(siimple.color-darker("light"), 0.2);
    }
    //Toolbar separator
    &-separator {
        display: block;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: siimple.color-darker("light");
    }
    //Toggle button
    &-toggle {
        display: block;
        //position: fixed;
        //position: sticky;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        //line-height: 30px;
        top: 20px;
        //left: 0px;
        //margin-left: -15px;
        cursor: pointer;
        transition: all 0.3s;
        //opacity: 0.5;
        color: rgba(siimple.color("dark"), 0.8);
        background-color: siimple.color("light");
        &:hover {
            //opacity: 1.0;
            color: siimple.color("primary");
            background-color: rgba(siimple.color("primary"), 0.3);
        }
        //Toggle icon
        &-icon {
            //position: absolute;
            //left: 13px;
            font-size: 18px;
            line-height: 30px !important;
            font-weight: normal !important;
            transition: all 0.3s;
        }
    }
    //Sidebar collapsed --> rotate toggle icon
    &-wrapper--collapsed &-toggle-icon {
        transform: rotate(180deg);
    }
    //Collapsed toolbar
    &-wrapper--collapsed & {
        width: 0px !important;    
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    &-wrapper--collapsed {
        //padding-left: 15px;
        padding-left: 0px !important;
    }
}

