//Import dependencies
@import "@siimple/css/scss/variables.scss";

//Neutrine toolbar style
.neutrine-toolbar {
    display: block;
    position: fixed;
    width: calc(260px - 30px);
    height: calc(100% - 20px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    top: 0px !important;
    left: 0px;
    //Light toolbar
    &--light {
        background-color: siimple-default-color("light");
        color: siimple-default-color("dark");
    }
    //Dark toolbar
    &--dark {
        background-color: siimple-default-color("dark");
        color: #ffffff;
    }
    //Toolbar wrapper
    &-wrapper {
        display: block;
        //min-height: 100%;
        margin-left: 260px;
        transition: all 0.3s;
        position: relative;
    }
    //Toolbar group
    &-group {
        display: block;
        //color: rgba(siimple-default-color("white"), 0.6);
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-top: 10px;
        font-weight: 600;
        transition: all 0.3s;
        overflow: hidden;
    }
    //Light toolbar --> change group color
    &--light &-group {
        color: rgba(siimple-default-color("dark"), 0.6);
    }
    //Dark toolbar --> change group color
    &--dark &-group {
        color: rgba(siimple-default-color("white"), 0.6);
    }
    //Toolbar item
    &-item {
        display: block;
        position: relative;
        padding-left: 40px;
        padding-right: 10px;
        min-height: 40px;
        line-height: 40px;
        font-size: 14px;
        margin-bottom: 5px;
        border-radius: 3px;
        transition: background-color 0.3s;
        cursor: pointer;
        text-overflow: clip;
        overflow: hidden;
        //Active item
        &--active {
            font-weight: 600;
        }
        //Link icons
        &-icon {
            position: absolute;
            left: 8px;
            font-size: 24px;
            line-height: 40px;
            font-weight: normal !important;
        }
    }
    //Light toolbar
    &--light &-item {
        color: siimple-default-color("dark","light");
        //Item hover
        &:hover {
            background-color: rgba(siimple-default-color("primary"), 0.1);
        }
        //Item active
        &--active {
            color: siimple-default-color("primary") !important;
            background-color: rgba(siimple-default-color("primary"), 0.2) !important;
        }
    }
    //Dark sidebar
    &--dark &-item {
        color: rgba(#ffffff, 0.6);
        //Item hover 
        &:hover {
            background-color: rgba(#ffffff, 0.1);
        }
        //Item active
        &--active {
            color: #ffffff !important;
            background-color: rgba(#ffffff, 0.2) !important;
        }
    }
    //Toolbar separator
    &-separator {
        display: block;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    //Light toolbar --> change separator color
    &--light &-separator {
        background-color: siimple-default-color("light", "dark");
    }
    //Dark toolbar --> change separator color
    &--dark &-separator {
        background-color: rgba(#ffffff, 0.3);
    }
    //Toggle button
    &-toggle {
        display: block;
        position: absolute;
        height: 40px;
        line-height: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s;
        opacity: 0.5;
        &:hover {
            opacity: 1.0;
        }
        //Toggle icon
        &-icon {
            //position: absolute;
            //left: 13px;
            font-size: 24px;
            line-height: 40px;
            font-weight: normal !important;
            transition: all 0.3s;
        }
    }
    //Light toolbar --> change toggle color
    &--light &-toggle {
        color: rgba(siimple-default-color("dark"), 0.8);
        background-color: rgba(siimple-default-color("dark"), 0.1);
    }
    //Dark toolbar --> change toggle color
    &--dark &-toggle {
        color: rgba(siimple-default-color("white"), 0.8);
        background-color: rgba(siimple-default-color("white"), 0.1);
    }
    //Sidebar collapsed --> rotate toggle icon
    &-wrapper--collapsed &-toggle-icon {
        transform: rotate(180deg);
    }
    //Collapsed toolbar
    &-wrapper--collapsed & {
        width: 40px !important;    
        //margin-left: 0px !important;
    }
    &-wrapper--collapsed &-item {
        width: 0px !important;
        //color: transparent !important;
        padding-right: 0px !important;
    }
    &-wrapper--collapsed &-group {
        height: 0px !important;
        opacity: 0 !important;
    }
    &-wrapper--collapsed {
        margin-left: 70px;
    }
}

