//Import dependencies
@import "@siimple/css/scss/variables.scss";

//Toolbar variables
$neutrine-layout-toolbar-width: 300px;
$neutrine-layout-toolbar-padding: 15px;

//Neutrine layout toolbar style
.neutrine-toolbar {
    display: block;
    position: fixed;
    width: calc(#{$neutrine-layout-toolbar-width} - 2 * #{$neutrine-layout-toolbar-padding});
    height: 100%;
    padding-left: $neutrine-layout-toolbar-padding;
    padding-right: $neutrine-layout-toolbar-padding;
    background-color: siimple-default-color("primary");
    transition: all 0.3s;
    color: siimple-default-color("white");
    top: 0px !important;
    left: 0px;
    //Layout toolbar container
    &-container {
        display: block;
        min-height: 100%;
        margin-left: $neutrine-layout-toolbar-width;
        transition: all 0.3s;
        position: relative;
    }
    //Toolbar group
    &-group {
        display: block;
        color: rgba(siimple-default-color("white"), 0.6);
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-top: 10px;
        font-weight: 600;
        transition: all 0.3s;
        overflow: hidden;
    }
    //Toolbar item
    &-item {
        display: block;
        padding-left: 40px;
        padding-right: 10px;
        min-height: 40px;
        line-height: 40px;
        font-size: 14px;
        margin-bottom: 5px;
        border-radius: 3px;
        transition: background-color 0.3s;
        background-position: 8px 8px;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-image: url("../images/applications.png");
        cursor: pointer;
        text-overflow: clip;
        overflow: hidden;
        //Hover and active item
        &:hover,
        &--active {
            background-color: rgba(siimple-default-color("white"), 0.2);
        }
    }
    //Toolbar toggle button
    &-toggle {
        display: block;
        position: absolute;
        height: 50px;
        line-height: 50px;
        color: rgba(siimple-default-color("white"), 0.8);
        font-size: 14px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s;
        background-color: rgba(siimple-default-color("dark"), 0.1);
        &:hover {
            background-color: rgba(siimple-default-color("dark"), 0.2);
        }
        //Toggle arrow icon
        &::before {
            display: block;
            content: "";
            width: 24px;
            height: 24px;
            background-image: url("../images/arrow.png");
            background-size: 24px 24px;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 13px;
            left: calc(50% - 12px);
            transition: all 0.3s;
        }
    }
    //Toolbar layout content
    &-content {
        //display: block;
        //margin-left: $neutrine-layout-toolbar-width;
        //min-height: 100%;
        //transition: all 0.3s;
    }
    //Collapsed toolbar
    &-container--collapsed & {
        width: 40px !important;    
        //margin-left: 0px !important;
    }
    &-container--collapsed &-item {
        width: 0px !important;
        color: transparent !important;
        padding-right: 0px !important;
    }
    &-container--collapsed &-group {
        height: 0px !important;
        opacity: 0 !important;
    }
    &-container--collapsed &-toggle {
        &::before {
            transform: rotate(180deg);
        }
    }
    &-container--collapsed {
        margin-left: calc(40px + 2 * #{$neutrine-layout-toolbar-padding});
    }
}

