@use "./scales.scss" as scales;

// @description Add body base styles
@mixin body () {
    body {
        @include scales.use-scale("background-color", "body");
        @include scales.use-scale("color", "body");
        @include scales.use-scale("font-family", "body");
        @include scales.use-scale("font-size", "body");
        @include scales.use-scale("font-weight", "body");
        @include scales.use-scale("line-height", "body");
    }
}

// @description add reboot styles
@mixin reboot () {
    //Reset box sizing of all elements
    *, *:before, *:after {
        box-sizing: inherit;
    }
    //Set default html style
    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    //Set default body style
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        //text-rendering: optimizeSpeed;
    }
    //Reset margins on lists
    ul, ol, dl {
        margin-top: 0;
        margin-bottom: 1rem; //lib.$margin-bottom;
    }
    //Reset margins on paragraphs
    p {
        margin-top: 0;
        margin-bottom: 1rem; //lib.$margin-bottom;
    }
    //Fix bold weight (in firefox)
    strong, b {
        font-weight: bold;
    }
    //Make images and videos responsive by default
    img, video {
        max-width: 100%;
        height: auto;
        display: block;
    }
    //Remove border from iframe
    iframe {
        border: 0;
    }
    //Reset table border
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    //td, th {
    //    padding: 0;
    //}
}

