//
// @siimple/lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "./variables.scss" as variables;
@use "./lists.scss" as lists;
@use "./utils.scss" as utils;

//Get a color from the color palette
@function color ($color: "dark") {
    //Check for white color
    @if $color == "white" {
        @return variables.$white;
    }
    //Return the base color from the list of colors
    @return utils.get(lists.$colors, "#{$color}");
}

//Make a color darker
@function color-darker ($color: "dark") {
    @return utils.darken(color($color), variables.$darker-amount);
}

//Make a color lighter
@function color-lighter ($color: "dark") {
    @return utils.lighten(color($color), variables.$lighter-amount);
}

//Invert a color
@function color-invert ($color) {
    @if utils.is-string($color) == true {
        $color: color($color); //Get siimple color
    }
    @if utils.luminance($color) > 0.55 {
        @return variables.$dark; //Return dark color
    } @else {
        @return variables.$white; //Default: white color
    }
}

//Get a breakpoint value by name
@function breakpoint ($name) {
    @return utils.get(lists.$breakpoints, $name);
}



