//
// @siimple/lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "./variables.scss" as variables;
@use "./utils.scss" as utils;

//Grey color palette
$greys: (
    "grey1": variables.$grey1,
    "grey2": variables.$grey2,
    "grey3": variables.$grey3,
    "grey4": variables.$grey4,
    "grey5": variables.$grey5,
    "grey6": variables.$grey6,
    "grey7": variables.$grey7,
    "grey8": variables.$grey8,
    "grey9": variables.$grey9
) !default;

//Default color palette
$colors: (
    "primary": variables.$primary,
    "secondary": variables.$secondary,
    "success": variables.$success,
    "warning": variables.$warning,
    "error": variables.$error,
    "dark": variables.$dark,
    "light": variables.$light
) !default;

//Status colors
$status-colors: (
    "success": variables.$success,
    "warning": variables.$warning,
    "error": variables.$error
) !default;

//Default theming colors
$theme-colors: (
    "light": variables.$light,
    "dark": variables.$dark
) !default;

//Default breakpoints map
$breakpoints: (
    "xl": variables.$breakpoint-xl,
    "lg": variables.$breakpoint-lg,
    "md": variables.$breakpoint-md,
    "sm": variables.$breakpoint-sm
) !default;

//Default content sizes map
$contents: (
    "small": variables.$content-small,
    "medium": variables.$content-medium,
    "large": variables.$content-large,
    "xlarge": variables.$content-xlarge
) !default;

