//
// @siimple/lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "./variables.scss" as variables;
@use "./utils.scss" as utils;

//Gray color palette
$grays: (
    "gray0": variables.$gray0,
    "gray1": variables.$gray1,
    "gray2": variables.$gray2,
    "gray3": variables.$gray3,
    "gray4": variables.$gray4,
    "gray5": variables.$gray5,
    "gray6": variables.$gray6,
    "gray7": variables.$gray7,
    "gray8": variables.$gray8,
    "gray9": variables.$gray9
) !default;

//Default color palette
$colors: (
    "primary": variables.$primary,
    "secondary": variables.$secondary,
    "success": variables.$success,
    "warning": variables.$warning,
    "error": variables.$error,
    "dark": variables.$dark,
    "light": variables.$light
) !default;

//Status colors
$status-colors: (
    "success": variables.$success,
    "warning": variables.$warning,
    "error": variables.$error
) !default;

//Default theming colors
$theme-colors: (
    "light": variables.$light,
    "dark": variables.$dark
) !default;

//Default breakpoints map
$breakpoints: (
    "xl": variables.$breakpoint-xl,
    "lg": variables.$breakpoint-lg,
    "md": variables.$breakpoint-md,
    "sm": variables.$breakpoint-sm
) !default;

//Default content sizes map
$contents: (
    "small": variables.$content-small,
    "medium": variables.$content-medium,
    "large": variables.$content-large,
    "xlarge": variables.$content-xlarge
) !default;

