@use "./sheet.scss" as sheet;

// Register reboot styles
@function register-reboot-styles ($sheet, $options) {
    //Reset box sizing of all elements
    $sheet: sheet.add-styles-to-sheet($sheet, "*, *:before, *:after", (
        "box-sizing": "inherit",
    ));
    //Set default html style
    $sheet: sheet.add-styles-to-sheet($sheet, "html", (
        "box-sizing": "border-box",
        "scroll-behavior": "smooth",
    ));
    //Set default body style
    $sheet: sheet.add-styles-to-sheet($sheet, "body", (
        "-moz-osx-font-smoothing": "grayscale",
        "-webkit-font-smoothing": "antialiased",
        "font-smooth": "antialiased",
        "margin": "0",
        "min-height": "100vh",
        "padding": "0",
        "text-rendering": "optimizeLegibility",
    ));
    //Reset margins on lists
    $sheet: sheet.add-styles-to-sheet($sheet, "ul, ol, dl", (
        "margin-bottom": "1rem",
        "margin-top": "0",
    ));
    //Reset margins on paragraphs
    $sheet: sheet.add-styles-to-sheet($sheet, "p", (
        "margin-bottom": "1rem",
        "margin-top": "0",
    ));
    //Fix bold weight (in firefox)
    $sheet: sheet.add-styles-to-sheet($sheet, "strong, b", (
        "font-weight": "bold",
        //"font-weight": constants.$font-weight-bold,
    ));
    //Make images and videos responsive by default
    $sheet: sheet.add-styles-to-sheet($sheet, "img, video", (
        "display": "block",
        "height": "auto",
        "max-width": "100%",
    ));
    //Remove border from iframe
    $sheet: sheet.add-styles-to-sheet($sheet, "iframe", (
        "border": "0",
    ));
    //Reset table border
    $sheet: sheet.add-styles-to-sheet($sheet, "table", (
        "border-collapse": "collapse",
        "border-spacing": "0",
    ));
    // Return updated sheet
    @return $sheet;
}

