//
// @siimple/lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

//Default class prefix
$name: "siimple" !default;

//Darker/lighter color amount
$darker-amount: 20% !default;
$lighter-amount: 20% !default;

//Default colors
$white: #ffffff !default;
$primary: #4e91e4 !default;
$secondary: #4ccdac !default;
$success: #4acf7f !default;
$warning: #fbc850 !default;
$error: #ee675d !default;
$dark: #34495e !default;
$light: #eef2f7 !default; //Light color
$light2: #cbd8e6 !default; //Second light color
$light3: #dde5ee !default; //Third light color

//Default breakpoints variables
$gap: 20px !default; //Gap for breakpoints
$breakpoint-fluid: 100% !default;
$breakpoint-xsmall: 480px !default;
$breakpoint-small: 600px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 960px !default;
$breakpoint-xlarge: 1280px !default;
$breakpoint-xsmall-enabled: true !default; //Extra-small breakpoint is enabled
$breakpoint-xlarge-enabled: true !default; //Extra-large breakpoint is enabled

//Default font variables
$font-url: "https://fonts.googleapis.com/css?family=Roboto:400,700" !default;
$font-default: "Roboto", sans-serif !default;
$font-monospace: monospace !default;

//Weight values
$weight-normal: 400 !default;
$weight-bold: 600 !default;

//Default text properties
$text-size-small: 12px !default; //Small text size
$text-size: 15px !default;
$text-color: $dark !default;
$text-font: $font-default !default;
$text-weight: $weight-normal !default;

//Line height values
$line-height-small: 18px !default;
$line-height: 22px !default;

//Default border values
$border-radius: 5px !default;

//Default margin values
$margin-top: 0px !default;
$margin-bottom: 15px !default;

