//
// @siimple/lib - core scss library for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/develop/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

//Default class prefix
$name: "siimple" !default;
$prefix: $name + "-" !default;
$prefix-helpers: $name + "--" !default;

//Darker/lighter color amount
$darker-amount: 20% !default;
$lighter-amount: 20% !default;

//Gray color schema
$gray0: #f6f6f9 !default;
$gray1: #edeff3 !default;
$gray2: #e1e5ea !default;
$gray3: #cbd1d7 !default;
$gray4: #abb3ba !default;
$gray5: #6a727c !default;
$gray6: #58606a !default;
$gray7: #434c56 !default;
$gray8: #2f363d !default;
$gray9: #24292e !default;

//Default colors
$white: #ffffff !default;
$primary: #4e91e4 !default;
$secondary: #4ccdac !default;
$success: #4acf7f !default;
$warning: #fbc850 !default;
$error: #ee675d !default;
$light: $gray1 !default;
$muted: $gray5 !default;
$dark: $gray7 !default;
$black: #000000 !default;

//Code colors (only for internal use)
$code-blue: #9be0fd !default;
$code-green: #b4f4a4 !default;
$code-red: #ff9999 !default;
$code-yellow: #ffe999 !default;
$code-purple: #d199ff !default;
$code-black: #2d3648 !default;
$code-white: #ffffff !default;

//Default content sizes variables
$content-gap: 20px !default; //Gap for breakpoints
//$content-fluid: 100% !default;
$content-small: 600px !default;
$content-medium: 768px !default;
$content-large: 1024px !default;
$content-xlarge: 1280px !default;

//Breakpoint variables
$breakpoint-sm: 544px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1024px !default;
$breakpoint-xl: 1280px !default;

//Default font variables
$font-url: "https://fonts.googleapis.com/css?family=Roboto:400,700" !default;
$font-default: "Roboto", sans-serif !default;
$font-monospace: monospace !default;

//Weight values
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-bold: 700 !default;

//Default text properties
$text-size-small: 14px !default; //Small text size
$text-size-large: 20px !default; //Large text size
$text-size: 16px !default;
$text-color: $gray7 !default; //$dark !default;
$text-font: $font-default !default;
$text-weight: $weight-normal !default;

//Line height values
//$line-height-small: 20px !default;
$line-height: 1.5 !default; //24px !default;

//Default border values
$border-radius: 8px !default;

//Default margin values
$margin-top: 0px !default;
$margin-bottom: 15px !default;

//Screen sizes
$mobile: 600px;
$desktop: 1024px;

