//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Alert element
@mixin siimple-alert
{
  display: block;
  width: calc(100% - 30px);
  @include siimple-font;
  color: $siimple-navy;
  line-height: $siimple-lh;
  font-size: $siimple-font-normal;

  border-radius: $siimple-border-radius;
  background-color: $siimple-grey;

  padding: 15px;
  margin: { top: 0px; bottom: $siimple-margin-bottom; }

  //Warning alert
  &--warning
  {
    background-color: $siimple-yellow !important;
    color: $siimple-white !important;
  }

  //Error alert
  &--error
  {
    background-color: $siimple-red !important;
    color: $siimple-white !important;
  }

  //Done alert
  &--done
  {
    background-color: $siimple-green !important;
    color: $siimple-white !important;
  }

  //Info alert
  &--info
  {
    background-color: $siimple-blue !important;
    color: $siimple-white !important;
  }
}
