//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";

//Paragraph class
.siimple-paragraph, 
.siimple-p {
    display: block;
    //font-family: $siimple-default-text-font;
    line-height: $siimple-default-line-height;
    font-size: $siimple-default-font-size;
    margin-top: 0px;
    margin-bottom: $siimple-default-margin-bottom;
    //Paragraph lead modifier
    &--lead {
        font-size: 20px;
        line-height: 30px;
    }
}

