//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Blockquote class
.#{siimple.$prefix}blockquote {
    display: block;
    //font-family: $siimple-default-text-font;
    color: siimple.color-lighter("dark");
    //font-size: $siimple-default-font-size;
    //line-height: $siimple-default-line-height;
    border-left: 4px solid siimple.color-lighter("dark");
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: siimple.$margin-bottom;
    //Fix default margin values in blockquote element
    margin-left: 0px;
    margin-right: 0px;
}

