//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Code variables
$code-text-size: 13px !default;

//Code class
.#{siimple.$name}-code {
    color: siimple.color("error");
    text-decoration: none;
    font-size: $code-text-size;
    font-weight: 600;
    font-family: siimple.$font-monospace;
    //background-color: siimple.color("light");
    //border-radius: 3px;
    //padding-top: 2px;
    //padding-bottom: 2px;
    //padding-left: 5px;
    //padding-right: 5px;
}

