//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;
@use "../variables.scss" as variables;

//Headings default variables
$heading-margin-bottom: 0.5em !default;

//Heading class
.#{siimple.$prefix}h {
    @each $heading-name,$heading in variables.$headings {
        //Add this heading size
        &#{$heading-name} {
            display: block;
            font-size: siimple.utils-get($heading, "size");
            //font-family: $siimple-default-text-font;
            font-weight: siimple.$weight-bold;
            line-height: siimple.utils-get($heading, "line-height");
            //color: $siimple-default-color;
            padding: 0px;
            margin-bottom: $heading-margin-bottom;
            //Not first child
            &:not(:first-child) {
                margin-top: siimple.utils-get($heading, "margin-top");
            }
        }
    }
}

