//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

$lead-text-size: 20px !default;
$lead-line-height: 30px !default;
$lead-color: siimple.color-lighter("dark") !default;

//Paragraph lead class
.#{siimple.$prefix}lead {
    display: block;
    font-size: $lead-text-size;
    line-height: $lead-line-height;
    font-weight: siimple.$weight-bold;
    color: $lead-color;
    margin-top: 0px;
    margin-bottom: siimple.$margin-bottom;
}

