//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Link class
.#{siimple.$name}-link {
    //font-family: $siimple-default-font-size;
    color: siimple.color("primary");
    font-weight: siimple.$weight-bold;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
        //text-decoration: underline;
        //cursor: pointer;
        color: siimple.color-darker("primary");
    }
}

