//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

$link-color: siimple.color("primary");
$link-color-hover: siimple.color-darker("primary");

//Link class
.#{siimple.$prefix}link {
    //font-family: $siimple-default-font-size;
    color: $link-color;
    //font-weight: siimple.$weight-bold;
    text-decoration: none;
    //transition: color 0.3s;
    cursor: pointer;
    &:hover {
        //cursor: pointer;
        text-decoration: underline;
        color: $link-color-hover;
        transition: color 0.3s;
    }
}

