//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Paragraph class
.#{siimple.$name}-paragraph, 
.#{siimple.$name}-p {
    display: block;
    //font-family: $siimple-default-text-font;
    //line-height: siimple.$line-height;
    //font-size: siimple.$text-size;
    margin-top: 0px;
    margin-bottom: siimple.$margin-bottom;
    //Paragraph lead modifier
    &--lead {
        font-size: 20px;
        line-height: 30px;
    }
}

