//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Pre vriables
$pre-text-size: 13px !default;
$pre-line-height: 18px !default;
$pre-padding-left: 20px !default;
$pre-padding-right: 20px !default;
$pre-padding-top: 15px !default;
$pre-padding-bottom: 15px !default;
$pre-color: siimple.color("white");
$pre-background: siimple.color("dark");

//Pre class
.#{siimple.$prefix}pre {
    display: block;
    overflow-x: auto;
    width: calc(100% - #{$pre-padding-left} - #{$pre-padding-right});
    color: $pre-color;
    line-height: $pre-line-height;
    font-size: $pre-text-size;
    font-family: siimple.$font-monospace;
    background-color: $pre-background;
    border-radius: siimple.$border-radius;
    padding-top: $pre-padding-top;
    padding-bottom: $pre-padding-bottom;
    padding-left: $pre-padding-left;
    padding-right: $pre-padding-right;
    margin-bottom: siimple.$margin-bottom;
    margin-top: 0px;
    //Pre dark mode
    //&--dark {
    //    background-color: siimple.color("dark") !important;
    //    color: siimple.color("white");
    //}
}

