//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Pre vriables
$pre-text-size: 14px !default;
$pre-line-height: 20px !default;
$pre-padding: 15px !default;

//Pre class
.#{siimple.$name}-pre {
    display: block;
    overflow-x: auto;
    width: calc(100% - 2 * #{$pre-padding});
    color: siimple.color("dark");
    line-height: $pre-line-height;
    font-size: $pre-text-size;
    background-color: siimple.color("light");
    border-radius: siimple.$border-radius;
    padding: $pre-padding;
    margin-bottom: siimple.$margin-bottom;
    margin-top: 0px;
    //Pre dark mode
    &--dark {
        background-color: siimple.color("dark") !important;
        color: siimple.$white;
    }
}

