//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Small text variables
$small-text-size: siimple.$text-size-small !default;

//Small class
.#{siimple.$name}-small {
    font-size: $small-text-size;
    color: siimple.color-lighter("dark");
}

