@use "@siimple/lib" as siimple;

//SplitPanel styles
.neutrine__splitpanel {
    display: flex;
    flex: 1;
    height: 100%;
    //position: absolute;
    outline: none;
    overflow: hidden;
    //Vertical splitpanel
    &--vertical {
        flex-direction: row;
        left: 0;
        right: 0;
    }
    //Horizontal splitpanel
    &--horizontal {
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        top: 0;
        bottom: 0;
    }
    //SplitPanel item
    &-item {
        display: block;
    }
    //SplitPanel separator
    &-separator {
        display: block;
        background-color: siimple.color("light");
        //Vertical separator
        &--vertical {
            width: 5px;
            height: 100%;
            cursor: col-resize;
        }
        //Horizontal separator
        &--horizontal {
            width: 100%;
            height: 5px;
            cursor: row-resize;
        }
    }
}

