<!-- Footer -->
<div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
        <div class="siimple-footer-title siimple">siimple</div>
    </div>
    <!-- Getting started -->
    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
        <div class="siimple-footer-group">Getting started</div>
        <!-- Documentation link -->
        <a href="#" class="siimple-footer-link" target="">
            Documentation
            <div class="siimple-footer-link-description">
                Read the official docs of <strong>siimple</strong>
            </div>
        </a>
    </div>
    <!-- Community -->
    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
        <div class="siimple-footer-group">Community</div>
        <!-- Repository -->
        <a href="https://github.com/siimple/siimple" class="siimple-footer-link" target="_blank">
            GitHub
            <div class="siimple-footer-link-description">
                Star our repository on GitHub
            </div>
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com/siimplecss" class="siimple-footer-link" target="_blank">
            Twitter
            <div class="siimple-footer-link-description">
                Follow <strong>@siimplecss</strong> on Twitter
            </div>
        </a>
        <!-- Gitter chat -->
        <a href="https://gitter.im/siimple" class="siimple-footer-link" target="_blank">
            Gitter
            <div class="siimple-footer-link-description">
                Join our chat room on Gitter
            </div>
        </a>
    </div>
    <!-- Support -->
    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
        <div class="siimple-footer-group">Support</div>
        <!-- Report a bug -->
        <a href="https://github.com/siimple/siimple/issues/new?template=BUG_REPORT.md" class="siimple-footer-link" target="_blank">
            Report a bug
            <div class="siimple-footer-link-description">
                Create an issue for a bug
            </div>
        </a>
        <!-- Request a feature -->
        <a href="https://github.com/siimple/siimple/issues/new?template=FEATURE_REQUEST.md" class="siimple-footer-link" target="_blank">
            Request a feature
            <div class="siimple-footer-link-description">
                Suggest an idea for <strong>siimple</strong>
            </div>
        </a>
    </div>
</div>

