<div class="siimple-footer siimple-footer--light siimple-footer--large siimple--py-5">
    <!-- Footer -->
    <div class="siimple-row">
        <div class="siimple-column siimple-column--3 siimple-column--sm-12">
            <div class="siimple-h5 siimple--text-dark">siimple</div>
        </div>
        <!-- Getting started -->
        <div class="siimple-column siimple-column--3 siimple-column--sm-12">
            <div class="siimple--mb-1">Getting started</div>
            <a href="/docs/index.html" class="siimple-footer-link">Documentation</a>
            <div class="siimple-small">
                Read the official docs of <strong>siimple</strong>
            </div>
        </div>
        <!-- Community -->
        <div class="siimple-column siimple-column--3 siimple-column--sm-12">
            <div class="siimple--mb-1">Community</div>
            <a href="https://github.com/siimple/siimple" class="siimple-footer-link" target="_blank">GitHub</a>
            <div class="siimple-small">Star our repository on GitHub</div>
            <a href="https://twitter.com/siimplecss" class="siimple-footer-link" target="_blank">Twitter</a>
            <div class="siimple-small">Follow <strong>@siimplecss</strong> on Twitter</div>
            <a href="https://gitter.im/siimple" class="siimple-footer-link" target="_blank">Gitter</a>
            <div class="siimple-small">Join our chat room on Gitter</div>
        </div>
        <!-- Support -->
        <div class="siimple-column siimple-column--3 siimple-column--sm-12">
            <div class="siimple--mb-1">Support</div>
            <a href="https://github.com/siimple/siimple/issues/new?template=BUG_REPORT.md" class="siimple-footer-link" target="_blank">
                Report a bug
            </a>
            <div class="siimple-small">Create an issue for a bug</div>
            <a href="https://github.com/siimple/siimple/issues/new?template=FEATURE_REQUEST.md" class="siimple-footer-link" target="_blank">
                Request a feature
            </a>
            <div class="siimple-small">Suggest an idea for <strong>siimple</strong></div>
        </div>
    </div>
    <div class="siimple-rule"></div>
    <div class="siimple-row">
        <div class="siimple-column siimple-column--6 siimple-column--sm-12" align="left">
            {{{ site.copyright }}}
        </div>
        <div class="siimple-column siimple-column--6 siimple-column--sm-hide" align="right">
            <div class="siimple--display-inline-block">
                <a href="/index.html" class="siimple-footer-link">siimple.xyz</a>
            </div>
            <div class="siimple--display-inline-block siimple--pl-2">
                <a href="/privacy.html" class="siimple-footer-link">privacy</a>
            </div>
        </div>
    </div>
</div>
<!-- TODO: import analytics -->

