<!-- Navbar -->
<div class="siimple-navbar siimple--bg-light siimple-navbar--large">
    <a class="siimple-navbar-brand siimple--text-primary" href="/index.html">
        <strong class="siimple">siimple</strong>
    </a>
    <!-- Navbar toggle -->
    <div class="siimple-navbar-toggle" tabindex="0"></div>
    <!-- Right menu -->
    <div class="siimple-navbar-menu">
        {{#each site.navbarLinks }}
        <div class="siimple-navbar-item">
            <a class="siimple-navbar-link siimple--text-primary {{#startsWith this.startsWith ../page.url}}siimple-navbar-link--active{{/startsWith}}" href="{{this.url}}">{{this.name}}</a>
        </div>
        {{/each}}
    </div>
</div>

