@import "@siimple/css/scss/variables.scss";

//Fake checkbox styles
.neutrine-check {
    width: 18px;
    height: 18px;
    margin: 3px;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    background-color: siimple-default-color("light");
    transition: background-color 0.3s;
    //Tick
    &::after {
        content: "";
        opacity: 0.2;
        width: 8px;
        height: 4px;
        transform: rotate(-45deg);
        top: 5px;
        left: 4px;
        background: transparent;
        border: 2px solid siimple-default-color("dark");
        border-top: 0px;
        border-right: 0px;
        position: absolute;
    }
    //Checked
    &--checked {
        background-color: siimple-default-color("primary");
    }
    &--checked::after {
        opacity: 1.0;
        border-color: #ffffff;
    }
}

