//Import dependencies and mixins
//@import "siimple/scss/_variables.scss";
@import "../../scss/colors.scss";

//Documentation styles
.docs {
    //Colors cheatshett
    &-colors {
        //@include siimple-utils-clear;
        display: inline-block;
        width: 215px;
        margin: 10px;
        border-radius: 5px;
        &-item {
            display: block;
            //width: calc(20% - 35px);
            //float: left;
            padding: 10px;
            //margin: 5px;
            //border-radius: 5px;
            &:first-child {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            //Item name 
            &-name {
                display: block;
                font-weight: 600;
                font-size: 14px;
            }
            //Item color hex
            &-hex {
                display: block;
                font-size: 12px;
            }
        }
        //Colors items
        @each $color, $list in $siimple-colors {
            @each $color-id, $color-hex in $list {
                &-#{$color}-#{$color-id} {
                    background-color: #{$color-hex};
                    color: siimple-color-invert($color-hex);
                }
                //Item hex
                &-#{$color}-#{$color-id} &-item-hex::before {
                    content: quote(inspect($color-hex));
                }
            }
        }
    }
}
