@use "sass:list";
@use "../constants.scss" as constants;
@use "../plugins.scss" as plugins;
@use "../utils.scss" as utils;

@function plugin-overflow-helper() {
    $overflow-helpers: utils.empty-list();
    @each $name,$value in constants.$overflow-properties {
        $p: plugins.create-helper-plugin((
            // "enabled": lib.is-enabled($name, $include, $exclude),
            "name": $value,
            "states": ("default"),
            "properties": ($value),
            "values": constants.$overflow-values,
        ));
        $overflow-helpers: list.append($overflow-helpers, $p);
    }
    // Return overflow helpers
    @return $overflow-helpers;
}
