@use "sass:list";
@use "../constants.scss" as constants;
@use "../plugins.scss" as plugins;
@use "../utils.scss" as utils;

// @description Generate positioning helpers
@function plugin-positioning-helper() {
    $position-helpers: (
        plugins.create-helper-plugin((
            // "enabled": lib.is-enabled("position", $include, $exclude),
            "name": "float",
            "states": ("default"),
            "responsive": true,
            "properties": ("float"),
            "values": constants.$float-values,
        )),
        plugins.create-helper-plugin((
            // "enabled": lib.is-enabled("position", $include, $exclude),
            "name": "position",
            "states": ("default"),
            "responsive": true,
            "properties": ("position"),
            "values": constants.$position-values,
        )),
    );
    // Register placement helpers
    @each $name,$props in constants.$placement-properties {
        $p: plugins.create-helper-plugin((
            "name": utils.get-in($props, "name"),
            "states": ("default"),
            "responsive": true,
            "properties": utils.get-in($props, "properties", ()),
            "values": constants.$placement-values,
        ));
        $position-helpers: list.append($position-helpers, $p);
    }
    // Return position helpers
    @return $position-helpers;
}
