@use "sass:list";
@use "sass:map";
@use "../constants.scss" as constants;
@use "../plugins.scss" as plugins;
@use "../utils.scss" as utils;

@function plugin-sizing-helper() {
    $sizing-helpers: utils.empty-list();
    @each $name,$props in constants.$sizing-properties {
        $sizing-extra-values: (
            "auto": auto,
            "full": 100%,
            "half": 50%,
            "none": 0px,
            "one": 1px,
        );
        // Check for height sizing (height, height.min and height.max)
        @if utils.starts-with($name, "height") {
            $sizing-extra-values: map.set($sizing-extra-values, "screen", 100vh);
        }
        // Check for width sizing (width, width.min and width.max)
        @if utils.starts-with($name, "width") {
            $sizing-extra-values: map.set($sizing-extra-values, "screen", 100vw);
        }
        $p: plugins.create-helper-plugin((
            // "enabled": lib.is-enabled($name, $include, $exclude),
            "name": utils.get-in($props, "name"),
            "states": ("default"),
            "responsive": true,
            "properties": utils.get-in($props, "properties", ()),
            // "scale": "sizes",
            "values": map.merge(constants.$sizes, $sizing-extra-values),
        ));
        $sizing-helpers: list.append($sizing-helpers, $p);
    }
    // Return sizing helpers
    @return $sizing-helpers;
}
