//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Box variables
$siimple-box-padding: 30px;

//Box style
.siimple-box {
    display: block;
    vertical-align: top;
    width: calc(100% - #{2 * $siimple-box-padding});
    background-color: siimple-default-color("light");
    //font-family: $siimple-default-text-font;
    //font-size: $siimple-default-font-size;
    //color: $siimple-default-color;
    border-radius: $siimple-default-border-radius;
    padding: $siimple-box-padding;
    margin-bottom: $siimple-default-margin-bottom;
    //Common styles
    &-title,
    &-subtitle,
    &-detail {
        display: block;
        text-decoration: none;
    }
    //Box title
    &-title {
        font-weight: bold;
        font-size: 35px;
        //margin-top: 20px;
        //margin-bottom: 10px;
    }
    //Box subtitle
    &-subtitle {
        font-weight: 600;
        font-size: 22px;
        opacity: 0.75;
        //margin-top: 10px;
        //margin-bottom: 10px;
    }
    //Box detail
    &-detail {
        font-size: 16px;
        line-height: 22px;
        opacity: 0.5;
        //margin-bottom: 10px;
    }
    &-title + &-subtitle,
    &-subtitle + &-detail,
    &-title + &-detail {
        margin-top: 5px;
    }
    ////Light box
    //&--light {
    //    background-color: siimple-default-color("light");
    //    color: siimple-default-color("dark");
    //}
    ////Dark box
    //&--dark {
    //    background-color: siimple-default-color("dark");
    //    color: siimple-default-color("white");
    //}
    //Box colors
    @each $color in $siimple-default-colors {
        &#{&}--#{$color} {
            background-color: siimple-default-color($color);
            color: siimple-default-color($color, "over");
        }
    }
    //Legacy box colors
    //To be deprecated in future major release
    @each $color in $siimple-legacy-colors {
        &#{&}--#{$color} {
            background-color: siimple-legacy-color($color, "base");
            color: siimple-legacy-color($color, "over");
        }
    }
}

