//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

$content-padding: 40px;

//Content class
.#{siimple.$prefix}content {
    display: block;
    padding-top: $content-padding;
    padding-bottom: $content-padding;
    //Default content size
    @include siimple.content-fluid();
    //Content sizes
    @each $size in siimple.utils-keys(siimple.$contents) {
        &--#{$size} {
            @include siimple.content-size($size);
        }
    }
}

