//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Content class
.#{siimple.$name}-content {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    //Default content size
    @include siimple.fluid();
    //Content sizes
    @each $size in siimple.utils-keys(siimple.$breakpoints) {
        &--#{$size} {
            @include siimple.sizing($size);
        }
    }
}

