//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Footer variables
$footer-background: siimple.color("white");
$footer-padding-top: 40px;
$footer-padding-bottom: 80px;
$footer-text-size: 14px;
$footer-line-height: 20px;

//Footer class
.#{siimple.$prefix}footer {
    display: block;
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
    font-size: $footer-text-size;
    line-height: $footer-line-height;
    background-color: $footer-background;
    @include siimple.content-fluid(); //Default footer size
    //Footer text link
    &-link {
        display: block;
        text-decoration: none;
        font-weight: siimple.$weight-bold;
        //transition: color 0.3s;
        //transition: opacity 0.3s;
        cursor: pointer;
        //opacity: 0.80;
        //Hover link
        &:hover {
            color: siimple.color("primary");
            text-decoration: underline;
            transition: all 0.3s;
            //opacity: 1.0;
        }
    }
    //Light footer
    &--light {
        //TODO
    }
    //Dark footer
    &--dark {
        //TODO
    }
    //Footer sizes
    @each $size in siimple.utils-keys(siimple.$contents) {
        &--#{$size} {
            @include siimple.content-size($size);
        }
    }
}

