//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Footer variables
$footer-light-text: siimple.utils-lighten(siimple.color("dark"), 40%);
$footer-padding: 50px;
$footer-text-size: 14px;
$footer-line-height: 20px;

//Footer class
.#{siimple.$name}-footer {
    display: block;
    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
    font-size: $footer-text-size;
    line-height: $footer-line-height;
    @include siimple.fluid(); //Default footer size
    //Footer title
    &-title {
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        line-height: 30px;
    }
    //Footer subtitle
    &-subtitle {
        display: block;
        font-size: siimple.$text-size;
        line-height: siimple.$line-height;
        opacity: 0.8;
        text-decoration: none;
    }
    //Footer group
    &-group {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-size: siimple.$text-size;
        line-height: siimple.$line-height;
        font-weight: bold;
        margin-bottom: 5px;
    }
    //Footer text link
    &-link {
        display: block;
        text-decoration: none;
        font-weight: 600;
        //transition: color 0.3s;
        transition: opacity 0.3s;
        cursor: pointer;
        opacity: 0.85;
        //Hover link
        &:hover {
            opacity: 1.0;
        }
    }
    //Footer rule
    &-rule {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 0.6;
        background-color: siimple.color-darker("light");
    }
    //Footer colors
    @each $color in siimple.utils-keys(siimple.$colors) {
        //Footer color
        &--#{$color} {
            background-color: siimple.color($color);
            color: siimple.color-invert($color);
        }
        //Rule color
        &--#{$color} &-rule {
            background-color: rgba(siimple.color-invert($color), 0.8);
        }
    }
    //Footer sizes
    @each $size in siimple.utils-keys(siimple.$breakpoints) {
        &--#{$size} {
            @include siimple.sizing($size);
        }
    }
}

