//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Jumbotron variables
$jumbotron-padding: 85px;
$jumbotron-title-text-size: 40px;
$jumbotron-title-line-height: 48px;
$jumbotron-subtitle-text-size: 24px;
$jumbotron-subtitle-line-height: 29px;

//Jumbotron class
.#{siimple.$name}-jumbotron {
    display: block;
    //font-family: $siimple-default-text-font;
    padding-top: $jumbotron-padding;
    padding-bottom: $jumbotron-padding;
    @include siimple.fluid(); //Default jumbotron size
    //Common styles
    &-title, 
    &-subtitle,
    &-text {
        display: block;
        text-decoration: none;
    }
    //Jumbotron title
    &-title {
        line-height: $jumbotron-title-line-height;
        font-size: $jumbotron-title-text-size;
        font-weight: bold;
    }
    //Jumbotron subtitle
    &-subtitle {
        line-height: $jumbotron-subtitle-line-height;
        font-size: $jumbotron-subtitle-text-size;
        font-weight: bold;
        opacity: 0.8;
    }
    //Jumbotron text
    &-text {
        line-height: siimple.$line-height;
        font-size: siimple.$text-size;
        opacity: 0.6;
        //margin-top: 10px;
        //margin-bottom: 10px;
    }
    &-title + &-subtitle,
    &-title + &-text,
    &-subtitle + &-text {
        margin-top: 8px;
    }
    //Colored jumbotron
    @each $color in siimple.utils-keys(siimple.$colors) {
        &--#{$color} {
            background-color: siimple.color($color);
            color: siimple.color-invert($color);
        }
    }
    //Jumbotron sizes
    @each $size in siimple.utils-keys(siimple.$breakpoints) {
        &--#{$size} {
            @include siimple.sizing($size);
        }
    }
}

