//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Jumbotron variables
$jumbotron-padding: 85px;
$jumbotron-title-text-size: 50px;
$jumbotron-title-line-height: 50px;
$jumbotron-subtitle-text-size: 30px;
$jumbotron-subtitle-line-height: 30px;

//Jumbotron class
.#{siimple.$prefix}jumbotron {
    display: block;
    //font-family: $siimple-default-text-font;
    padding-top: $jumbotron-padding;
    padding-bottom: $jumbotron-padding;
    color: siimple.$text-color;
    background-color: siimple.color("white");
    @include siimple.content-fluid(); //Default jumbotron size
    //Jumbotron title
    &-title {
        display: block;
        line-height: $jumbotron-title-line-height;
        font-size: $jumbotron-title-text-size;
        font-weight: bold;
        text-decoration: none;
    }
    //Jumbotron subtitle
    &-subtitle {
        display: block;
        line-height: $jumbotron-subtitle-line-height;
        font-size: $jumbotron-subtitle-text-size;
        font-weight: bold;
        opacity: 0.8;
        text-decoration: none;
    }
    &-title + &-subtitle {
        margin-top: 8px;
    }
    //Colored jumbotron
    @each $color in siimple.utils-keys(siimple.$colors) {
        &--#{$color} {
            background-color: siimple.color($color);
            color: siimple.color-invert($color);
        }
    }
    //Jumbotron sizes
    @each $size in siimple.utils-keys(siimple.$contents) {
        &--#{$size} {
            @include siimple.content-size($size);
        }
    }
}

