//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../variables.scss";
@import "../functions.scss";
@import "../mixins.scss";

//Navbar class
.#{$siimple-prefix}-navbar {
    display: block;
    //position: absolute; top: 0px; left: 0px;
    z-index: 3;
    width: 100%;
    //max-width: calc(100% - 2 * #{$siimple-navbar-padding});
    min-height: 54px; 
    //font-family: $siimple-default-text-font;
    //margin: $siimple-navbar-margin;
    //padding-top: 15px;
    //padding-bottom: 15px;
    vertical-align: top;
    @include siimple-sizing();
    //Common navbar brand and navbar item styles
    &-brand,
    &-item {
        display: inline-block;
        height: 34px;
        line-height: 34px;
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
        vertical-align: top;
    }
    //Navbar brand (previous navbar-title)
    &-brand {
        //font-weight: bold;
        font-size: 20px;
        //transition: all 0.3s;
    }
    //Navbar item
    &-item {
        text-align: center;
        font-weight: 600;
        font-size: $siimple-default-font-size;
        transition: opacity 0.3s;
        //cursor: pointer;
        opacity: 0.7;
        //vertical-align: middle;
        &:hover {
            opacity: 1.0;
        }
    }
    //Light navbar
    &--light {
        color: siimple-default-color("dark");
        background-color: siimple-default-color("light");
    }
    &--light &-brand,
    &--light &-item {
        color: siimple-default-color("dark");
    }
    //Dark navbar
    &--dark {
        color: siimple-default-color("white");
        background-color: siimple-default-color("dark");
    }
    &--dark &-brand,
    &--dark &-item {
        color: siimple-default-color("white");
    }
}

