//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Navbar variables
$navbar-height: 30px;
$navbar-padding: 10px;
$navbar-breakpoint-desktop: 1024px;
$navbar-breakpoint-mobile: 1023px;

//Navbar class
.#{siimple.$name}-navbar {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    //position: absolute; top: 0px; left: 0px;
    z-index: 3;
    //width: 100%;
    //max-width: calc(100% - 2 * #{$siimple-navbar-padding});
    min-height: $navbar-height; 
    //font-family: $siimple-default-text-font;
    //margin: $siimple-navbar-margin;
    padding-top: $navbar-padding;
    padding-bottom: $navbar-padding;
    vertical-align: top;
    @include siimple.fluid(); //Default navbar size
    position: relative;
    //Common navbar brand and navbar link styles
    &-brand,
    &-link {
        display: block;
        //height: 34px;
        height: 30px;
        line-height: 30px;
        //padding: 10px;
        //vertical-align: top;
        text-decoration: none;
        cursor: pointer;
    }
    //Navbar brand (previous navbar-title)
    &-brand {
        //font-weight: bold;
        font-size: 18px;
        margin-right: 10px;
        //transition: all 0.3s;
    }
    //Navbar link
    &-link {
        display: block;
        //text-align: center;
        font-weight: bold;
        font-size: 14px; //siimple.$text-size;
        transition: opacity 0.3s;
        opacity: 0.6;
        //cursor: pointer;
        //vertical-align: middle;
        &:hover {
            opacity: 1.0;
        }
    }
    //Styles for desktop
    @media screen and (min-width: $navbar-breakpoint-desktop) {
        //Menu navbar
        &-menu {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end; //Right aligned
        }
        //Menu item
        &-item {
            padding-left: 8px;
            padding-right: 8px;
        }
        //Navbar toggle
        &-toggle {
            display: none !important;
        }
    }
    //Styles for mobile devices
    @media screen and (max-width: $navbar-breakpoint-mobile) {
        //Menu navbar for mobile devices
        &-menu {
            display: block;
            width: 100%;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.3s;
        }
        //Menu items
        &-item {
            padding-top: 10px;
        }
        //Navbar toggle
        &-toggle {
            display: block;
            width: 24px;
            height: 30px;
            //outline: 0;
            cursor: pointer;
        }
        //Toggle focus --> display navbarmenu
        &-toggle:focus + &-menu {
            display: block !important;
            max-height: 100vh;
        }
    }
    //Navigation hamburger icon
    &-icon,
    &-icon::before,
    &-icon::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background-color: siimple.color("dark"); //Default color
    }
    &-icon {
        position: relative;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    &-icon::before {
        position: absolute;
        top: -8px;
    }
    &-icon::after {
        position: absolute;
        bottom: -8px;
    }
    //Fixed navbar
    &--fixed-top,
    &--fixed-bottom {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 50;
    }
    //Fixed navbar to top
    &--fixed-top {
        top: 0;
    }
    //Fixed navbar to bottom
    &--fixed-bottom {
        bottom: 0;
    }
    //Colored navbar
    @each $color in siimple.utils-keys(siimple.$colors) {
        &--#{$color} {
            background-color: siimple.color($color);
            color: siimple.color-invert($color);
        }
        //Navicon color
        &--#{$color} &-icon,
        &--#{$color} &-icon::before,
        &--#{$color} &-icon::after {
            background-color: siimple.color-invert($color);
        }
    }
    //Navbar sizes
    @each $size in siimple.utils-keys(siimple.$breakpoints) {
        &--#{$size} {
            @include siimple.sizing($size);
        }
    }
}

