@use "@siimple/lib" as siimple;

//Test component
.neutrine-test {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    //Content
    &-content {
        display: flex;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        flex-wrap: wrap;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        min-width: 0px;
        max-width: 100%;
        padding: 15px;
        margin-right: 10px;
        border-radius: 5px;
        border: 2px solid siimple.color("light");
    }
    //Options section
    &-options {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        max-width: 300px;
        flex: 0 0 auto;
        border-radius: 5px;
        background-color: siimple.color("light");
        padding: 15px;
        //Control
        &-control {
            font-size: 14px;
            display: block;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

