//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@import "./variables.scss";
@import "./mixins.scss";

//Import font from Google Fonts
@import url(#{$siimple-default-font-url});

//Default html style
html {
    font-family: $siimple-default-font-family;
    font-weight: $siimple-default-font-weight;
    font-size: $siimple-default-font-size;
    color: $siimple-default-color;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

//Remove the margin in all browsers
body {
    margin: 0;
}

