//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Import font from Google Fonts
@import url(#{siimple.$font-url});

//Default html style
html {
    font-family: siimple.$font-default;
    font-weight: siimple.$text-weight;
    font-size: siimple.$text-size;
    color: siimple.$text-color;
    line-height: siimple.$line-height;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


