//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

//Get a color from the color palette
@function siimple-default-color($color, $index: "base") {
    //Check for white color
    @if $color == "white" {
        @return $siimple-default-white;
    }
    $list: map-get($siimple-default-palette, "#{$color}");
    $value: map-get($list, "#{$index}");
    @return $value;
}

//Legacy colors function [DEPRECATED]
//Will be removed in a future major release
@function siimple-legacy-color($color, $index: "base") {
    $list: map-get($siimple-legacy-palette, "#{$color}");
    $value: map-get($list, "#{$index}");
    @return $value;
}

