//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

@mixin variables-from-list ($prefix, $list) {
    @each $key,$value in $list {
        --siimple#{$prefix}-#{$key}: #{$value};
    }
}

:root {
    //Default colors
    @include variables-from-list("", siimple.$colors);
    --siimple-white: #{siimple.$white};
    --siimple-muted: #{siimple.$muted};
    --siimple-black: #{siimple.$black};
    //Gray colors
    @include variables-from-list("", siimple.$grays);
    //Breakpoints
    @include variables-from-list("-breakpoint", siimple.$breakpoints);
    @include variables-from-list("-content", siimple.$contents);
}

