//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

//Import dependencies
@import "./_functions.scss";

//Legacy colors [DEPRECATED]
//Will be removed in future major version
//@import "siimple-colors/scss/_all.scss";
$siimple-legacy-palette: (
    "navy": ("dark": #34414b, "base": #546778, "light": #788ea1, "over": #ffffff), 
    "green": ("dark": #6cb332, "base": #93d260, "light": #bce39c, "over": #ffffff), 
    "teal": ("dark": #32b393, "base": #60d2b6, "light": #9ce3d1, "over": #ffffff), 
    "blue": ("dark": #1e6ac8, "base": #4e91e4, "light": #90bbee, "over": #ffffff), 
    "purple": ("dark": #7c57db, "base": #ac94e8, "light": #ded5f6, "over": #ffffff), 
    "pink": ("dark": #db3d94, "base": #e77eb8, "light": #f3bedb, "over": #ffffff), 
    "red": ("dark": #e72618, "base": #ee675d, "light": #f5a8a3, "over": #ffffff), 
    "orange": ("dark": #f4490b, "base": #f78055, "light": #fab69e, "over": #ffffff), 
    "yellow": ("dark": #fab005, "base": #fbc850, "light": #fde09b, "over": #ffffff), 
    "grey": ("dark": #cbd8e6, "base": #dde5ee, "light": #eef2f7, "over": #546778)
);
$siimple-legacy-colors: ("navy", "green", "teal", "blue", "purple", "pink", "red", "orange", "yellow", "grey");

//Darker/lighter amount
$siimple-default-amount: 20% !default;

//Default colors
$siimple-default-white: #ffffff !default;
$siimple-default-navy: #546778 !default;
$siimple-default-primary: #4e91e4 !default;
$siimple-default-success: #4acf7f !default;
$siimple-default-warning: #fbc850 !default;
$siimple-default-error: #ee675d !default;

//Grey colors
$siimple-default-grey: #dde5ee !default;
$siimple-default-grey-dark: #cbd8e6 !default;
$siimple-default-grey-light: #eef2f7 !default;

//Default color palette
$siimple-default-palette: (
    "primary": (
        "dark": darken($siimple-default-primary, $siimple-default-amount), 
        "base": $siimple-default-primary, 
        "light": lighten($siimple-default-primary, $siimple-default-amount), 
        "over": $siimple-default-white
    ),
    "success": (
        "dark": darken($siimple-default-success, $siimple-default-amount), 
        "base": $siimple-default-success, 
        "light": lighten($siimple-default-success, $siimple-default-amount), 
        "over": $siimple-default-white
    ),
    "warning": (
        "dark": darken($siimple-default-warning, $siimple-default-amount), 
        "base": $siimple-default-warning, 
        "light": lighten($siimple-default-warning, $siimple-default-amount), 
        "over": $siimple-default-white
    ),
    "error": (
        "dark": darken($siimple-default-error, $siimple-default-amount), 
        "base": $siimple-default-error, 
        "light": lighten($siimple-default-error, $siimple-default-amount), 
        "over": $siimple-default-white
    ),
    "dark": (
        "dark": darken($siimple-default-navy, $siimple-default-amount), 
        "base": $siimple-default-navy, 
        "light": lighten($siimple-default-navy, $siimple-default-amount), 
        "over": $siimple-default-white
    ),
    "light": (
        "dark": $siimple-default-grey-dark, 
        "base": $siimple-default-grey, 
        "light":$siimple-default-grey-light, 
        "over": $siimple-default-navy
    ) 
);

//Default colors list
$siimple-default-colors: ("primary", "success", "warning", "error", "dark", "light");
$siimple-default-basic-colors: ("primary", "success", "warning", "error");

//Default breakpoints variables
$siimple-default-breakpoint-gap: 20px !default;
$siimple-default-breakpoint-fluid: 100% !default;
$siimple-default-breakpoint-extra-small: 480px !default;
$siimple-default-breakpoint-small: 600px !default;
$siimple-default-breakpoint-medium: 768px !default;
$siimple-default-breakpoint-large: 960px !default;
$siimple-default-breakpoint-extra-large: 1280px !default;

//Default breakpoints map
$siimple-default-breakpoint: (
    "xl": $siimple-default-breakpoint-extra-large,
    "lg": $siimple-default-breakpoint-large,
    "md": $siimple-default-breakpoint-medium,
    "sm": $siimple-default-breakpoint-small,
    "xs": $siimple-default-breakpoint-extra-small
);

//Default text color
$siimple-default-color: $siimple-default-navy !default;

//Default font variables
$siimple-default-font-url: "https://fonts.googleapis.com/css?family=Roboto:400,700";
$siimple-default-font-size: 16px !default;
$siimple-default-font-weight: 400 !default;
$siimple-default-font-family: "Roboto", sans-serif !default;

//Default line-height
$siimple-default-line-height: 24px !default;

//Default text variables
//TO_BE_DEPRECATED IN FUTURE VERSIONS
$siimple-default-text-size: $siimple-default-font-size;
$siimple-default-text-font: $siimple-default-font-family;
$siimple-default-text-line: $siimple-default-line-height;
$siimple-default-text-weight: $siimple-default-font-weight;
$siimple-default-text-color: $siimple-default-color;

//Default border values
$siimple-default-border-radius: 5px !default;

//Default margin values
$siimple-default-margin-top: 0px !default;
$siimple-default-margin-bottom: 20px !default;

//Default heading values
$siimple-default-headings: (
    "1": ("size": 40px, "line-height": 51px, "margin-bottom": 20px, "margin-top": 30px),
    "2": ("size": 32px, "line-height": 40px, "margin-bottom": 16px, "margin-top": 30px),
    "3": ("size": 28px, "line-height": 29px, "margin-bottom": 14px, "margin-top": 30px),
    "4": ("size": 24px, "line-height": 25px, "margin-bottom": 12px, "margin-top": 30px),
    "5": ("size": 20px, "line-height": 22px, "margin-bottom": 10px, "margin-top": 30px),
    "6": ("size": 16px, "line-height": 20px, "margin-bottom": 8px, "margin-top": 30px)
);

//Default grid sizes
$siimple-default-grid: (
    "1": "8.33%", 
    "2": "16.66%",
    "3": "24.99%", 
    "4": "33.33%",
    "5": "41.66%", 
    "6": "49.99%",
    "7": "58.33%", 
    "8": "66.66%",
    "9": "74.99%", 
    "10": "83.33%",
    "11": "91.66%", 
    "12": "99.99%"
);

//Default percentages values 
$siimple-default-percentages : (
    "0": 0%,
    "25": 25%,
    "50": 50%,
    "75": 75%,
    "100": 100%
);

//Default spacing variables
$siimple-default-spacing: (
    "0": 0px,
    "1": 5px,
    "2": 10px,
    "3": 15px,
    "4": 25px,
    "5": 45px,
    "auto": auto
) !default;

//Form checked colors
$siimple-default-form-colors: ("success", "error", "warning");

