//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Breakpoints aliases
$breakpoints-alias: (
    "xl": siimple.$breakpoint-xlarge,
    "lg": siimple.$breakpoint-large,
    "md": siimple.$breakpoint-medium,
    "sm": siimple.$breakpoint-small,
    "xs": siimple.$breakpoint-xsmall
);

//Default heading values
$headings: (
    "1": ("size": 40px, "line-height": 50px, "margin-bottom": 20px, "margin-top": 30px),
    "2": ("size": 32px, "line-height": 40px, "margin-bottom": 16px, "margin-top": 30px),
    "3": ("size": 28px, "line-height": 32px, "margin-bottom": 14px, "margin-top": 30px),
    "4": ("size": 24px, "line-height": 28px, "margin-bottom": 12px, "margin-top": 30px),
    "5": ("size": 20px, "line-height": 24px, "margin-bottom": 10px, "margin-top": 30px),
    "6": ("size": 16px, "line-height": 20px, "margin-bottom": 8px, "margin-top": 30px)
);

//Default grid sizes
$grid: (
    "1": "8.33%", 
    "2": "16.66%",
    "3": "24.99%", 
    "4": "33.33%",
    "5": "41.66%", 
    "6": "49.99%",
    "7": "58.33%", 
    "8": "66.66%",
    "9": "74.99%", 
    "10": "83.33%",
    "11": "91.66%", 
    "12": "99.99%"
);

//Default percentages values 
$percentages : (
    "0": 0%,
    "25": 25%,
    "50": 50%,
    "75": 75%,
    "100": 100%
);

//Default spacing variables
$spacing: (
    "0": 0px,
    "1": 5px,
    "2": 10px,
    "3": 15px,
    "4": 25px,
    "5": 45px,
    "auto": auto
);

