//Import dependencies
@import "@siimple/css/scss/variables.scss";

//DNA Loader variables
$neutrine-dna-loader-time: 2s;
$neutrine-dna-loader-time-delay: -0.9;
$neutrine-dna-loader-size: 6px;

//DNA Loader component 
.neutrine-dna-loader {
    display: block;   
    width: 90px;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px; 
    margin-left: auto;
    margin-right: auto;
    //transform: scale($neutrine-dna-loader-scale);
    //Nucleotide class
    &-nucleotide {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        &:not(:last-child) {
            margin-right: $neutrine-dna-loader-size * 1.62; 
        }
        //Stick element
        & div {
            display: inline-block;
            position: absolute;
            width: 2px;
            height: 4 * $neutrine-dna-loader-size;
            background-color: #ffffff;
            opacity: 0;
            left: 2px;
            top: -1.5 * $neutrine-dna-loader-size;
            z-index: 1;
        }
        &::before,
        &::after {
            content: "";
            display: inline-block;
            width: $neutrine-dna-loader-size;
            height: $neutrine-dna-loader-size;
            position: absolute;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 0.8;
        }
        //For each nucleotide 
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) div {
                animation: neutrine-dna-animation-stick $neutrine-dna-loader-time / 2 linear infinite;
            }
            &:nth-child(#{$i})::before {
                animation: neutrine-dna-animation-before $neutrine-dna-loader-time ease-in-out infinite;
            }
            &:nth-child(#{$i})::after {
                animation: neutrine-dna-animation-after $neutrine-dna-loader-time ease-in-out infinite;
            }
            &:nth-child(#{$i}) div,
            &:nth-child(#{$i})::before,
            &:nth-child(#{$i})::after {
                animation-delay: $i * $neutrine-dna-loader-time-delay * $neutrine-dna-loader-time;
            }
        }
    }
    //Colored loader
    @each $color in $siimple-default-colors {
        &--#{$color} &-nucleotide::before,
        &--#{$color} &-nucleotide::after,
        &--#{$color} &-nucleotide div {
            background-color: siimple-default-color($color, "base")
        }
    }
    //Display the stick
    &--stick &-nucleotide div {
        opacity: 0.4;
    }
}

//DNA loader animation stick
@keyframes neutrine-dna-animation-stick {
    50% {
        top: 0px;
        height: 0px;
    }
}

//DNA loader animation before
@keyframes neutrine-dna-animation-before {
    0% {
        top: -2 * $neutrine-dna-loader-size;
        z-index: 2;
    }
    25% {
        opacity: 0.8;
        transform: scale(1);
    }
    50% {
        top: $neutrine-dna-loader-size *2;
        z-index: 0;
    }
    75% {
        opacity: 0.4;
        transform: scale(0.6);
    }
    100% {
        top: $neutrine-dna-loader-size *-2;
        z-index: 0;
    }
}

//DNA loader animation after
@keyframes neutrine-dna-animation-after {
    0% {
        top: $neutrine-dna-loader-size *2;
        z-index: 0;
    }
    25% {
        opacity: 0.4;
        transform: scale(0.6);
    }
    50% {
        top: $neutrine-dna-loader-size *-2;
        z-index: 2;
    }
    75% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        top: $neutrine-dna-loader-size *2;
        z-index: 2;
    }
}

