@use "@siimple/lib" as siimple;

//Vertical step component
.neutrine__stepper {
    display: block;
    margin-bottom: 15px;
    //Stepper header
    &-header {
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 15px;
        height: 24px;
        opacity: 0.5;
        transition: opacity 0.3s;
        //Header icon
        &-icon {
            width: 24px;
            height: 24px;
            border-radius: 100px;
            margin-right: 16px;
            background-color: siimple.color("dark");
            color: siimple.color("white") !important;
            line-height: 24px;
            text-align: center;
            transition: background-color 0.3s;
            font-size: 14px;
            font-weight: bold;
        }
        //Header title
        &-title {
            height: 24px;
            line-height: 24px;
            font-weight: bold;
            font-size: 16px;
        }
    }
    //Stepper body content
    &-body {
        display: block;
        margin-left: 40px;
        //padding-bottom: 15px;
        position: relative;
        //Border
        &::before {
            content: "";
            display: none;
            position: absolute;
            border-left: 2px solid siimple.color("light");
            top: -5px;
            bottom: -5px;
            left: -29px;
        }
    }
    //Step item current or completed --> changed header opacity
    &-item--current &-header,
    &-item--completed &-header {
        opacity: 1.0;
    }
    //Step item current --> change header icon color
    &-item--current &-header-icon {
        background-color: siimple.color("primary") !important;
    }
    //Step item completed --> change header icon color
    &-item--completed &-header-icon {
        background-color: siimple.color("success") !important;
    }
    //Step item current --> display body border
    &-item--current &-body::before {
        display: block;
    }
    &-item--current &-body {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

