//
// @siimple/experiments - experimental css components based on siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Dropdown experimental component
.#{siimple.$prefix}dropdown {
    position: relative;
    //Dropdown toggle arrow
    &-toggle::after {
        display: inline-block;
        content: "";
        height: 0px;
        width: 0px;
        margin-left: 4px;
        border-top: 6px solid siimple.color("white");
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        vertical-align: middle;
    }
    //Toggle light color
    &-toggle--light::after {
        border-top-color: siimple.color("white");
    }
    //Toggle dark color
    &-toggle--dark::after {
        border-top-color: siimple.$text-color;
    }
    //Dropdown content
    &-content {
        display: none;
        position: absolute;
        top: calc(100% + 12px);
        left: 0px;
        min-width: 150px;
        color: siimple.$text-color;
        text-align: left;
        background-color: siimple.color("light");
        border-radius: siimple.$border-radius;
        //Dropdown arrow
        &:before {
            position: absolute;
            width: 0px;
            height: 0px;
            content: "";
            display: block;
            border: 7px solid transparent;
            border-bottom-color: siimple.color("light");
            top: -14px;
            right: 15px;
        }
    }
    //Visible dropdown container
    &--visible &-content {
        display: block;
    }
    //Dark dropdown item
    &--dark &-content {
        background-color: siimple.color("dark");
        //Dark theme arrow color
        &::before {
            border-bottom-color: siimple.color("dark");
        }
    }
    //Dropdown item 
    &-item {
        display: block;
        line-height: siimple.$line-height;
        font-size: siimple.$text-size;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        white-space: nowrap;
        cursor: pointer;
        transition: all 0.3s;
        //Dropdown item hover
        &:hover {
            background-color: siimple.color("primary");
            color: siimple.color("white");
        }
        //First item
        &:first-child {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        //Last item
        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    //Dark dropdown
    &--dark &-item {
        color: rgba(siimple.color("white"), 0.8);
        //Item hover
        &:hover {
            color: rgba(siimple.color("white"), 1.0);
        }
    }
    //Dropdown rule separator
    &-separator {
        display: block;
        height: 2px;
        background-color: siimple.color-darker("light");
        //margin-top: 5px;
        //margin-bottom: 5px;
    }
    //Dark separator
    &--dark &-separator {
        background-color: rgba(siimple.color("white"), 0.2);
    }
}

