//
// @siimple/experiments - experimental css components based on siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Progress variables 
$progress-height: 20px;
$progress-striped: siimple.color("white");

//Progress animation
@keyframes siimple-progress-animation {
    0% { 
        background-position: 0 0; 
    }
    100% { 
        background-position: 50px 50px; 
    }
}

//Progress class
.#{siimple.$name}-progress {
    display: block;
    width: 100%;
    height: $progress-height;
    padding: 0px !important;
    margin-top: 0px;
    margin-bottom: siimple.$margin-bottom;
    border-radius: siimple.$border-radius;
    background-color: siimple.color("light"); 
    overflow: hidden;
    //Disable default appearance in webkit and gecko
    -webkit-appearance: none;
    -mz-appearance: none;
    //Progress bar progress
    & > span {
        display: block;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s;
        position: relative;
        text-align: center;
        line-height: $progress-height;
        font-size: 12px;
    }
    //Striped progress bar
    &--striped > span::after, 
    &--striped-slow > span::after, 
    &--striped-fast > span::after  {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1px;
        background-size: 50px 50px;
        background-image : linear-gradient(-45deg, 
            rgba($progress-striped, 0.15) 25%, 
            transparent 25%, 
            transparent 50%, 
            rgba($progress-striped, 0.15) 50%, 
            rgba($progress-striped, 0.15) 75%, 
            transparent 75%, 
            transparent);
    }
    &--striped > span::after {
        animation: siimple-progress-animation 2.5s linear infinite;
    }
    &--striped-fast > span::after {
        animation: siimple-progress-animation 1s linear infinite;
    }
    &--striped-slow > span::after {
        animation: siimple-progress-animation 4s linear infinite;
    }
    //Colored progress bar
    @each $color in siimple.utils-keys(siimple.$colors) {
        &#{&}--#{$color} > span {
            background-color: siimple.color($color);
            color: siimple.color-invert($color);
        }
    }
    //Small progress bar
    &--small {
        height: 10px;
        //Progress bar style: remove text displayed
        & > span {
            line-height: 10px;
            font-size: 0px;
        }
    }
}

