//
// @siimple/experiments - experimental css components based on siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Steps class
.#{siimple.$name}-steps {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: flex-start;
    justify-content: center;
    //Steps item element
    &-item {
        flex-grow: 1;
        flex-basis: 0;
        position: relative;
        padding-top: 24px;
        //Step circle element
        &::after {
            content: "";
            background-color: siimple.color("primary");
            width: 18px;
            height: 18px;
            border-radius: 50px;
            position: absolute;
            left: calc(50% - 9px);
            top: 0px;
            z-index: 2;
        }
        &:not(:first-child)::before {
            content: "";
            background-color: siimple.color("primary");
            width: 100%;
            height: 2px;
            position: absolute;
            left: -50%;
            top: 8px;
            z-index: 1;
        }
        //Checked item
        &--checked::after {
            content: "L";
            color: #ffffff;
            vertical-align: top;
            text-align: center;
            font-size: 11px;
            line-height: 17px;
            font-family: arial;
            font-weight: bold;
            transform: scaleY(-1) rotate(135deg);
        }
    }
    //Steps title
    &-title {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
        line-height: 23px;
        font-weight: 700;
        color: siimple.color("dark");
        opacity: 0.4;
        text-align: center;
    }
    //Steps description
    &-description {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
        line-height: 20px;
        color: siimple.color-lighter("dark");
        opacity: 0.4;
        text-align: center;
    }
    //Current item
    &-item--current ~ &-item::after,
    &-item--current ~ &-item::before {
        background-color: siimple.color("light") !important;
    }
    &-item--current &-title, 
    &-item--current &-description {
        opacity: 1.0;
    }
    //Colored steps
    @each $color in siimple.utils-keys(siimple.$colors) {
        @if $color != "dark" and $color != "light" {
            &--#{$color} &-item::after,
            &--#{$color} &-item::before {
                background-color: siimple.color($color);
            }
        }
    }
}

