//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Alert variables
$siimple-alert-padding-top: 10px;
$siimple-alert-padding-bottom: 10px;
$siimple-alert-padding-left: 10px;
$siimple-alert-padding-right: 30px;

$siimple-alert-margin-top: 0px;
$siimple-alert-margin-bottom: $siimple-default-margin-bottom;

//Alert element
@mixin siimple-alert
{
  display: block;
  width: calc(100% - #{$siimple-alert-padding-left} - #{$siimple-alert-padding-right});
  @include siimple-font;
  color: $siimple-navy;
  line-height: $siimple-lh;
  font-size: $siimple-font-normal;

  border-radius: $siimple-border-radius;
  background-color: $siimple-grey;

  padding-top: $siimple-alert-padding-top;
  padding-bottom: $siimple-alert-padding-bottom;
  padding-left: $siimple-alert-padding-left;
  padding-right: $siimple-alert-padding-right;

  margin-top: $siimple-alert-margin-top;
  margin-bottom: $siimple-alert-margin-bottom;

  //Warning alert
  &--warning
  {
    background-color: $siimple-yellow !important;
    color: $siimple-white !important;
  }

  //Error alert
  &--error
  {
    background-color: $siimple-red !important;
    color: $siimple-white !important;
  }

  //Done alert
  &--done
  {
    background-color: $siimple-green !important;
    color: $siimple-white !important;
  }

  //Info alert
  &--info
  {
    background-color: $siimple-blue !important;
    color: $siimple-white !important;
  }
}
