//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "siimple-colors/scss/_all.scss";
@import "../_variables.scss";

$siimple-alert-padding-top: 10px;
$siimple-alert-padding-bottom: 10px;
$siimple-alert-padding-left: 10px;
$siimple-alert-padding-right: 30px;

$siimple-alert-margin-top: 0px;
$siimple-alert-margin-bottom: $siimple-default-margin-bottom;

.siimple-alert {
  display: block;
  width: calc(100% - #{$siimple-alert-padding-left} - #{$siimple-alert-padding-right});
  color: $siimple-navy;
  line-height: $siimple-default-text-line;
  font-size: $siimple-default-text-size;
  //font-family: $siimple-default-text-font;
  position: relative;
  border-radius: $siimple-default-border-radius;
  background-color: $siimple-grey;
  padding-top: $siimple-alert-padding-top;
  padding-bottom: $siimple-alert-padding-bottom;
  padding-left: $siimple-alert-padding-left;
  padding-right: $siimple-alert-padding-right;
  margin-top: $siimple-alert-margin-top;
  margin-bottom: $siimple-alert-margin-bottom;

  @each $color, $value in $siimple-default-colors {
    &#{&}--#{$color} {
      background-color: siimple-color-light($color);
      color: siimple-color-dark($color);
    }
  }
}

//Alert with close button
.siimple-alert .siimple-close {
  position: absolute !important;
  right: 5px !important;
  top: 5px !important;
}
