//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_utils.scss";

$siimple-btn-height: 30px;
$siimple-btn-padding-left: 10px;
$siimple-btn-padding-right: 10px;
$siimple-btn-opacity: 0.8;

$siimple-btn-disabled-opacity: 0.6;

.siimple-btn {
  display: inline-block;
  height: $siimple-btn-height;
  transition: opacity 0.3s;
  cursor: pointer;
  line-height: $siimple-btn-height;
  text-align: center;
  text-decoration: none;
  //font-family: $siimple-default-text-font;
  font-size: $siimple-default-text-size;
  font-weight: bold;
  padding-left: $siimple-btn-padding-left;
  padding-right: $siimple-btn-padding-right;
  border-radius: $siimple-default-border-radius;

  //Disable default button element borders
  //https://github.com/siimple/siimple/pull/17
  border: none;

  //Disable user selection
  @include siimple-utils-select(none);

  &:hover {
    text-decoration: none;
    opacity: $siimple-btn-opacity;
  }

  @each $color, $value in $siimple-default-colors {
    &#{&}--#{$color} {
      background-color: $value;
      color: siimple-color-over($color);
    }
  }

  &--disabled {
    //background-color: $siimple-btn-disabled-background !important;
    //color: rgba($siimple-btn-disabled-color, $siimple-btn-disabled-color-alpha) !important;
    opacity: $siimple-btn-disabled-opacity !important;
    cursor: not-allowed !important;
  }

  &--fluid {
    width: calc(100% - #{$siimple-btn-padding-left} - #{$siimple-btn-padding-right});
  }
}
