//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";
@import "../_utils.scss";

//Button variables
$siimple-btn-height: 34px;
$siimple-btn-padding-left: 15px;
$siimple-btn-padding-right: 15px;

//Button class
.siimple-btn {
    display: inline-block;
    height: $siimple-btn-height;
    transition: opacity 0.3s;
    cursor: pointer;
    line-height: $siimple-btn-height;
    text-align: center;
    text-decoration: none;
    //font-family: $siimple-default-text-font;
    font-size: $siimple-default-font-size;
    //font-weight: bold;
    padding-left: $siimple-btn-padding-left;
    padding-right: $siimple-btn-padding-right;
    border-radius: $siimple-default-border-radius;
    //Disable default button element borders
    //https://github.com/siimple/siimple/pull/17
    border: 0px;
    //Disable user selection
    @include siimple-utils-select(none);
    //Button hover style
    &:hover {
        text-decoration: none;
        opacity: 0.8;
    }
    //Button colors
    @each $color in $siimple-default-colors {
        &#{&}--#{$color} {
            background-color: siimple-default-color($color, "base");
            color: siimple-default-color($color, "over");
        }
    }
    //Legacy colors
    //To be deprecated in future major release
    @each $color in $siimple-legacy-colors {
        &#{&}--#{$color} {
            background-color: siimple-legacy-color($color, "base");
            color: siimple-legacy-color($color, "over");
        }
    }
    //Disabled button
    &--disabled {
        //background-color: $siimple-btn-disabled-background !important;
        //color: rgba($siimple-btn-disabled-color, $siimple-btn-disabled-color-alpha) !important;
        opacity: 0.6 !important;
        cursor: not-allowed !important;
    }
    //Fluid button
    &--fluid {
        width: calc(100% - #{$siimple-btn-padding-left} - #{$siimple-btn-padding-right});
    }
}

