//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "siimple-colors/scss/_all.scss";
@import "../_variables.scss";
@import "../_utils.scss";

$siimple-list-item-padding: 10px;

.siimple-list {
    display: block;
    width: 100%;
    margin: {
        bottom: $siimple-default-margin-bottom;
    }

    //List item 
    &-item {
        display: block;
        padding: $siimple-list-item-padding;
        background-color: $siimple-grey-light;
        transition: all 0.3s ease;
    }
    &-item:not(:last-child) {
        border-bottom: 1px solid $siimple-grey;
    }
    &--hover &-item:hover {
        background-color: $siimple-grey;
    }
}

