//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_utils.scss";

//Progress variables 
$siimple-progress-height: 20px;
$siimple-progress-font-size: 12px;

@keyframes siimple-progress-animation {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}

.siimple-progress {
    display: block;
    width: 100%;
    height: $siimple-progress-height;
    padding: 0px !important;
    margin: {
        top: $siimple-default-margin-top;
        bottom: $siimple-default-margin-bottom;
    };
    border-radius: $siimple-default-border-radius;
    background-color: $siimple-grey-light;
    overflow: hidden;

    //Disable default appearance in webkit and gecko
    -webkit-appearance: none;
    -mz-appearance: none;
    
    & > span {
        display: block;
        height: 100%;
        overflow: hidden;
        transition: all 0.3s;
        position: relative;
        text-align: center;
        line-height: $siimple-progress-height;
        font-size: $siimple-progress-font-size;
    }
    
    //Striped progress bar
    &--striped > span::after, 
    &--striped-slow > span::after, 
    &--striped-fast > span::after  {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1px;
        background-size: 50px 50px;
        background-image : linear-gradient(-45deg, 
            rgba($siimple-white, 0.15) 25%, 
            transparent 25%, 
            transparent 50%, 
            rgba($siimple-white, 0.15) 50%, 
            rgba($siimple-white, 0.15) 75%, 
            transparent 75%, 
            transparent);
    }
    &--striped > span::after {
        animation: siimple-progress-animation 2.5s linear infinite;
    }
    &--striped-fast > span::after {
        animation: siimple-progress-animation 1s linear infinite;
    }
    &--striped-slow > span::after {
        animation: siimple-progress-animation 4s linear infinite;
    }

    //Colored progress bar
    @each $color, $value in $siimple-default-colors {
        &#{&}--#{$color} > span {
            background-color: siimple-color-base($color);
            color: siimple-color-over($color);
        }
    }
}

