//////////////////////////////////////////////////////////////////////////////////
//  Siimple - Minimal CSS framework for flat and clean designs.
//  http://siimple.github.io
//  Under the MIT License
//////////////////////////////////////////////////////////////////////////////////

//Default alert style
.alert
{
	//Alert style
	display: block;  width: calc(100% - 30px); font-weight: 300; font-size: 16px; text-align: left;

	//Alert padding
	padding: { left: 14px; right: 14px; top: 16px; bottom: 16px; }

	//Alert margin
	margin: { top: 0px; bottom: 20px; }

	//Alert border
	border: { radius: 5px; width: 1px; style: solid; }

	//Alert links
	a { text-decoration: none; font-weight: normal; }

	//Default alert color
	background-color: $alert-default-bg; color: $alert-default; border-color: $alert-default-border;

	//Error alert
	&-error { color: $alert-error; background-color: $alert-error-bg; border-color: $alert-error-border; }

	//Warning alert
	&-warning { background-color: $alert-warning-bg; color: $alert-warning; border-color: $alert-warning-border; }

	//Done alert
	&-done { background-color: $alert-done-bg; color: $alert-done; border-color: $alert-done-border; }
}
