//////////////////////////////////////////////////////////////////////////////////
//  Siimple - Minimal CSS framework for flat and clean designs.
//  http://siimple.github.io
//  Under the MIT License
//////////////////////////////////////////////////////////////////////////////////

//Default font block
@mixin defaultFont { font: { family: 'OpenSans', 'Open Sans'; size: 16px; weight: 300; } }

//Heart
.heart{ &:after { content: "\2764"; color: #f45660; } }

//Body
body { color: $grey1; margin: 0px; padding: 0px; @include defaultFont; background-color: $white; }

//Blockquote
blockquote { border: { left: 4px solid $grey2; } padding: { left: 20px; right: 5px; bottom: 5px; top: 5px; } }
