//Siimple color palette
$siimple-palette:
(
  navy:    #57607c,
  grey:    #bac4da,
  green:   #1add9f,
  teal:    #18d2ba,
  blue:    #4C98F2,
  purple:  #b490f5,
  magenta: #f45b93,
  red:     #ff1a4f,
  orange:  #ff8463,
  yellow:  #ffc107,
  white:   #ffffff
);

//navy color
$siimple-navy: map-get($siimple-palette, navy);

//Grey color
$siimple-grey: map-get($siimple-palette, grey);

//Green color
$siimple-green: map-get($siimple-palette, green);

//Teal color
$siimple-teal: map-get($siimple-palette, teal);

//Blue color
$siimple-blue: map-get($siimple-palette, blue);

//Purple color
$siimple-purple: map-get($siimple-palette, purple);

//Magenta color
$siimple-magenta: map-get($siimple-palette, magenta);

//Read color
$siimple-red: map-get($siimple-palette, red);

//Orange color
$siimple-orange: map-get($siimple-palette, orange);

//Yellow color
$siimple-yellow: map-get($siimple-palette, yellow);

//White color
$siimple-white: map-get($siimple-palette, white);
