//////////////////////////////////////////////////////////////////////////////////
//  Siimple - Minimal CSS framework for flat and clean designs.
//  http://siimple.github.io
//  Under the MIT License
//////////////////////////////////////////////////////////////////////////////////

//Grey colors
$grey1: #526475; //Used as default text color
$grey2: #6a7e95; //Used as small text color
$grey3: #f1f5fa; //Used for blocks background

//Blue colors
$blue1: #09a0f6;
$blue2: #d1e1e8;

//Default colors
$white: #ffffff;

//Default alert color
$alert-default: #03A9F4;
$alert-default-bg: #E1F5FE;
$alert-default-border: #03A9F4;

//Error alert color
$alert-error: #D32F2F;
$alert-error-bg: #FFEBEE;
$alert-error-border: #F44336;

//Warning alert color
$alert-warning: #FF8F00;
$alert-warning-bg: #FFF8E1;
$alert-warning-border: #FFC107;

//Done alert color
$alert-done: #388E3C;
$alert-done-bg: #E8F5E9;
$alert-done-border: #4CAF50;
