//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Siimple color palette
$siimple-palette:
(
  navy:    #57607c,
  green:   #1add9f,
  teal:    #18d2ba,
  blue:    #4c98f2,
  purple:  #b490f5,
  pink:    #f45b93,
  red:     #ff1a4f,
  orange:  #ff8463,
  yellow:  #ffc107,
  white:   #ffffff,
  grey:    #e9effb
);

//navy color
$siimple-navy: map-get($siimple-palette, navy);

//Green color
$siimple-green: map-get($siimple-palette, green);

//Teal color
$siimple-teal: map-get($siimple-palette, teal);

//Blue color
$siimple-blue: map-get($siimple-palette, blue);

//Purple color
$siimple-purple: map-get($siimple-palette, purple);

//Pink color
$siimple-pink: map-get($siimple-palette, pink);

//Read color
$siimple-red: map-get($siimple-palette, red);

//Orange color
$siimple-orange: map-get($siimple-palette, orange);

//Yellow color
$siimple-yellow: map-get($siimple-palette, yellow);

//White color
$siimple-white: map-get($siimple-palette, white);

//Grey color
$siimple-grey: map-get($siimple-palette, grey);

//Colors mixin
@mixin siimple-colors
{
  //For each color in the list
  @each $color,$hex in $siimple-palette
  {
    //Color class
    &--#{$color}
    {
      //Set the background color
      background-color: $hex;

      //Check the text color
      @if $color == grey or $color == white
      {
        //Set the navy text color
        color: $siimple-navy;
      }
      @else
      {
        //Set the white text color
        color: $siimple-white;
      }
    }
  }
}

//Background colors mixin
@mixin siimple-colors-background
{
  //For each color in the list
  @each $color,$hex in $siimple-palette
  {
    //Set the background color
    &--#{$color}{ background-color: $hex; }
  }
}

//Text color mixin
@mixin siimple-colors-text
{
  //For each color in the list
  @each $color,$hex in $siimple-palette
  {
    //Set the color
    &--#{$color}{ color: $hex; }
  }
}
