//////////////////////////////////////////////////////////////////////////////////
//  Siimple - Minimal CSS framework for flat and clean designs.
//  http://siimple.github.io
//  Under the MIT License
//////////////////////////////////////////////////////////////////////////////////

//Form default style
@mixin defaultForm
{
	//Default font style
	@include defaultFont;

	//Form display
	display: inline-block; width: 100%; transition: all 0.3s;

	//Form text style
	color: $grey1;

	//Form margin and padding
	padding: 10px; margin: { top: 0px; bottom: 20px; left: 5px; right: 5px; }

	//Form border
	border: 1px solid $blue2; border-radius: 5px; outline: 0px;

	//Size bug fix
	box-sizing: border-box;

	//Focus
	&:focus { border: 1px solid $blue1; }
}

//Form
.form
{
	//Form input
	&-input
	{
		//Form input
		&[type="text"], &[type="password"], &[type="number"] { @include defaultForm; line-height: 40px; height: 40px; }

		//Form input date
		&[type="date"] { @include defaultForm; width: auto !important; height: 40px; }

		//Form input disabled
		&[disabled] { @include defaultForm; cursor: not-allowed; background-color: $blue2; height: 40px; }

		//Form input submit
		&[type="submit"], &[type="button"]
		{
			//Load the default button style
			@include defaultBtn;

			//Button style
			color: $white; background-color: $blue1; border: 0px;

			//Hover
			&:hover { opacity: 0.8; }
		}
	}

	//Form select
	&-select { @include defaultForm; padding-top: 6px; height: 40px; background-color: $white; }

	//Form textarea
	&-textarea { @include defaultForm;resize: vertical; }

	//Form width auto
	&-auto { width: auto !important; }
}
