//////////////////////////////////////////////////////////////////////////////////
//  Siimple - Minimal CSS framework for flat and clean designs.
//  http://siimple.github.io
//  Under the MIT License
//////////////////////////////////////////////////////////////////////////////////

//Default grid
.grid
{
  //Grid style
  display: block; width: 960px; margin: { left: auto; right: auto; } min-height: 40px;

  //Grid media
  @media (max-width: 960px){ width: 94%; }

  //Grid fluid
  &-fluid { width: 100%; }
}

//Grid row
.row
{
  //Row style
  display: block; width: 100%; margin: { left: 0px; right: 0px; }

  //Row after
  &:after { content: " "; clear: both; display: table; line-height: 0; }
}

//Grid columns list
$cols: (1,6.33),(2,14.66),(3,22.99),(4,31.33),(5,39.66),(6,47.99),(7,56.33),
       (8,64.66),(9,72.99),(10,81.33),(11,89.66),(12,97.99);

//Read all the list
@each $i,$w in $cols
{
  //Add the column style
	.col-#{$i}
  {
    //Default column style
    width: #{$w}%; display: inline-block; vertical-align: top; float: left; padding: 1%;

    //Media style
    @media(max-width: 500px){ width: 98%; }
  }
}
