//////////////////////////////////////////////////////////////////////////////////
//  Siimple - Minimal CSS framework for flat and clean designs.
//  http://siimple.github.io
//  Under the MIT License
//////////////////////////////////////////////////////////////////////////////////

//Disable selection
@mixin no-select($select)
{
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}
