//////////////////////////////////////////////////////////////////////////////////
//  Siimple - Minimal CSS framework for flat and clean designs.
//  http://siimple.github.io
//  Under the MIT License
//////////////////////////////////////////////////////////////////////////////////

//Links
a
{
	//Default link style
	color: $blue1; font-weight: normal; text-decoration: none; transition: all 0.3s;

	//Link hover style
	&:hover { text-decoration: underline; cursor: hand; }
}

//Paragraph
p { line-height: 28px; margin: { bottom: 20px; top: 0px; } display: block; }

//Lists
ul, ol { line-height: 28px; margin: { bottom: 16px; top: 0px; } li { line-height: 28px; } }

//Small text
small { color: $grey2; font-size: 14px; }

//Headings list
$headings: (1,36,50),(2,32,46),(3,28,42),(4,24,38),(5,20,34),(6,16,30);

//Common headings
h1, h2, h3, h4, h5, h6
{
	//Font
	font-weight: 300;

	//Color
	color: $grey1;

	//Display
	display: block;

	//Margins
	margin: { bottom: 20px; top: 0px; }
}

//Build all the headings
@each $i,$fs,$lh in $headings
{
	//Add the heading style
	h#{$i} { font-size: #{$fs}px; line-height: #{$lh}px; }
}
