//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Default border radius
$siimple-border-radius: 5px;

//Deault normal font size
$siimple-font-normal: 16px;

//Default small font size
$siimple-font-small: 14px;

//Default element margin top
$siimple-margin-top: 0px;

//Default element margin bottom
$siimple-margin-bottom: 10px;

//Default line height
$siimple-lh: 26px; 
