//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Default border radius
$siimple-border-radius: 5px;

//Deault normal font size
$siimple-font-normal: 16px;

//Default small font size
$siimple-font-small: 14px;

//Blockquote padding
$siimple-blockquote-padding-top: 10px;
$siimple-blockquote-padding-bottom: 10px;
$siimple-blockquote-padding-left: 20px;
$siimple-blockquote-padding-right: 10px;

//Blockquote margin
$siimple-blockquote-margin-top: 0px;
$siimple-blockquote-margin-bottom: 10px;

//Pre element padding
$siimple-pre-padding: 10px;

//Pre element margin
$siimple-pre-margin-top: 0px;
$siimple-pre-margin-bottom: 10px;

//Pre element line height
$siimple-pre-line: 20px;
