/* Siimple - Alerts module */

/* Basic alert */
.alert { display: block;  width: calc(100% - 30px); padding: 14px; margin-top: 0px; }
.alert { margin-bottom: 20px; font-weight: 300; font-size: 16px; }
.alert { text-align: left; border: 0px; border-radius: 5px; }
.alert { padding-top: 16px; padding-bottom: 16px; border: 1px solid; }

/* Alert links */
.alert a { text-decoration: none; font-weight: bold; }

/* Default alert */
.alert { background-color: #E1F5FE; color: #03A9F4; border-color: #03A9F4; }
.alert a { color: #03A9F4; }

/* Error alert */
.alert-error { background-color: #FFEBEE; color: #D32F2F; border-color: #F44336; }
.alert-error a { color: #D32F2F; }

/* Warning alert */
.alert-warning { background-color: #FFF8E1; color: #FF8F00; border-color: #FFC107; }
.alert-warning a { color: #FF8F00; }

/* Done alert */
.alert-done { background-color: #E8F5E9; color: #388E3C; border-color: #4CAF50; }
.alert-done a { color: #388E3C; }
