/* Siimple - Alerts module */

/* Basic alert */
.alert { display: block;  width: calc(100% - 30px); padding: 14px; margin-top: 0px; }
.alert { margin-bottom: 16px; color: #ffffff; font-weight: 300; font-size: 16px; }
.alert { text-align: left; border: 0px; border-radius: 5px; background-color: #09a0f6; }
.alert { padding-top: 16px; padding-bottom: 16px; }

/* Alert links */
.alert a { color: #ffffff; text-decoration: none; font-weight: bold; }
.alert a:hover { opacity: 0.8; }

/* Alert types */
.alert-error { background-color: #F44336; }
.alert-warning { background-color: #FFC107; }
.alert-done { background-color: #4cc159; }
