/* Siimple - Forms module */

/* Form default */
.form-input, .form-select, .form-textarea { display: inline-block; padding: 10px; color: #647781; }
.form-input, .form-select, .form-textarea { border: 1px solid #d1e1e8; outline: 0px; font-size: 16px; }
.form-input, .form-select, .form-textarea { font-family: 'OpenSans', 'Open Sans'; font-weight: 300; }
.form-input, .form-select, .form-textarea { margin-top: 10px; margin-bottom: 10px; border-radius: 5px; }
.form-input, .form-select, .form-textarea { transition: border 0.4s; background-color: #ffffff; }
.form-input:focus, .form-select:focus, .form-textarea:focus { border: 1px solid #09a0f6; }

/* Form input */
.form-input { width: 100%; height: 40px; }

/* Form input for date */
.form-input[type="date"] { width: auto; }

/* Form input submit */
.form-input[type="submit"] { width: auto; line-height: 15px; background-color: #09a0f6 }
.form-input[type="submit"] { color: #ffffff; border: 0px; cursor: hand; font-weight: 300; }
.form-input[type="submit"] { padding-left: 20px; padding-right: 20px; transition: opacity 0.3s; }
.form-input[type="submit"]:hover { opacity: 0.8; }

/* Form input disabled */
.form-input[disabled] { cursor: not-allowed; background-color: #c6d1dc; }

/* Form select */
.form-select { width: auto; padding-top: 6px; height: 40px; }

/* Form textarea */
.form-textarea { width: 100%; }
