/* Siimple - Miscellaneous module */

/* Heart */
.heart:after { content: "\2764"; color: #f45660; }

/* Box  */
.box { display: block; width: calc(100% - 30px); padding: 14px; border-radius: 5px; }
.box { border: 1px solid #d1e1e8; margin-top: 0px; margin-bottom: 16px; }

/* Box: remove last element margin bottom */
.box *:last-child { margin-bottom: 0px !important; }

/* Border box */
.border-box { border-radius: 5px; border: 1px solid #d1e1e8; }

/* Text color */
.color-blue { color: #09a0f6; }
.color-green { color: #4cc159; }
.color-orange { color: #FFC107; }
.color-red { color: #F44336; }
.color-purple { color: #a160ed; }
.color-white { color: #ffffff; }

/* Background */
.bg-blue { background-color: #09a0f6; }
.bg-green { background-color: #4cc159; }
.bg-orange { background-color: #FFC107; }
.bg-red { background-color: #F44336; }
.bg-purple { background-color: #a160ed; }
.bg-white { background-color: #ffffff; }
