//////////////////////////////////////////////////////////////////////////////////
//  Siimple - Minimal CSS framework for flat and clean designs.
//  http://siimple.github.io
//  Under the MIT License
//////////////////////////////////////////////////////////////////////////////////

//Import colors
@import "colors";

//Import the base
@import "base";

//Import typography: p, headings, links...
@import "typography";

//Import the alerts module
@import "alert";

//Import buttons
@import "btn";

//Import code boxes
@import "code";

//Import form module
@import "form";

//Import the grid system for siimple
@import "grid";

//Import the table module
@import "table";
