//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//
@import "../variables.scss";

//Colors helpers
.#{$siimple-prefix} {
    @each $color in $siimple-default-colors {
        //Text color
        &--color-#{$color},
        &--hcolor-#{$color}:hover {
            color: siimple-default-color($color, "base") !important;
        }
        //Background color
        &--bg-#{$color},
        &--hbg-#{$color}:hover {
            background-color: siimple-default-color($color, "base") !important;
        }
    }
    //White text color
    &--color-white,
    &--hcolor-white:hover {
        color: $siimple-default-white !important;
    }
    //White background color
    &--bg-white,
    &--hbg-white:hover {
        background-color: $siimple-default-white !important;
    }
}

