//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Colors helpers
.#{siimple.$name} {
    @each $color in siimple.utils-keys(siimple.$colors) {
        //Text color
        &--color-#{$color},
        &--hcolor-#{$color}:hover {
            color: siimple.color($color) !important;
        }
        //Background color
        &--bg-#{$color},
        &--hbg-#{$color}:hover {
            background-color: siimple.color($color) !important;
        }
    }
    //White text color
    &--color-white,
    &--hcolor-white:hover {
        color: siimple.color("white") !important;
    }
    //White background color
    &--bg-white,
    &--hbg-white:hover {
        background-color: siimple.color("white") !important;
    }
}

