//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Display mixin
@mixin helpers-display () {
    &-none {
        display: none !important;
    }
    &-block {
        display: block !important;
    }
    &-inline {
        display: inline !important;
    }
    &-inline-block {
        display: inline-block !important;
    }
    &-table {
        display: table !important;
    }
    &-table-cell {
        display: table-cell !important;
    }
    &-table-row {
        display: table-row !important;
    }
    &-flex {
        display: flex !important;
    }
    &-inline-flex {
        display: inline-flex !important;
    }
}

//Display helpers
.#{siimple.$name}--display {
    //Base display
    @include helpers-display();
    //Responsive display 
    //@each $name,$size in siimple.$breakpoints {
    //    @media (max-width: $size) {
    //        &-#{$name} {
    //            @include elpers-display();
    //        }
    //    }
    //}
}

