//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Float mixin
@mixin helpers-float {
    &-left {
        float: left !important;
    }
    &-right {
        float: right !important;
    }
    &-none {
        float: none !important;
    }
}

//Float helpers
.#{siimple.$name}--float {
    //Default float
    @include helpers-float();
    //Responsive float
    //@each $name, $size in siimple.$breakpoints {
    //    @media (max-width: $size) {
    //        &-#{$name} {
    //            @include helpers-float()
    //        }
    //    }
    //}
}

//Clear floated content
.#{siimple.$name}--clearfix {
    @include siimple.clearfix();
}

