//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;

//Miscellanea styles
.#{siimple.$name} {
    //Rounded corners
    &--rounded {
        border-radius: siimple.$border-radius;
    }
    //Pointer cursor
    &--pointer {
        cursor: pointer !important;
    }
    //Borders
    &--border-light {
        border: 2px solid siimple.color("light");
    }
    &--border-white {
        border: 2px solid siimple.color("white");
    }
    &--border-dark {
        border: 2px solid siimple.color("dark");
    }
    //Striped light background
    &--striped {
        @include siimple.striped-bg(siimple.color("light"), transparent);
    }
    //Line height
    &--lh {
        line-height: siimple.$line-height !important;
    }
    //Condensed line height
    &--lh-condensed {
        line-height: 18px !important;
    }
}

