//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@import "../variables.scss";
@import "../functions.scss";

//Miscellanea styles
.#{$siimple-prefix} {
    //Rounded corners
    &--rounded {
        border-radius: $siimple-default-border-radius;
    }
    //Pointer cursor
    &--pointer {
        cursor: pointer !important;
    }
    //Borders
    &--border-light {
        border: 2px solid siimple-default-color("light");
    }
    &--border-white {
        border: 2px solid siimple-default-color("white");
    }
    &--border-dark {
        border: 2px solid siimple-default-color("dark");
    }
    //Striped light background
    //&--striped-light {
    &--striped {
        background: repeating-linear-gradient(
            45deg,
            siimple-default-color("light"),
            siimple-default-color("light")  7px,
            transparent 7px,
            transparent 12px
        );
    }
    ////Striped dark background
    //&--striped-dark {
    //    background: repeating-linear-gradient(
    //        45deg,
    //        siimple-default-color("dark"),
    //        siimple-default-color("dark")  10px,
    //        siimple-default-color("dark", "light") 10px,
    //        siimple-default-color("dark", "light") 20px
    //    );
    //}
}

