//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//
@import "../variables.scss";

//Sizing helpers
.#{$siimple-prefix} {
    //Sizes 
    @each $key,$value in $siimple-default-percentages {
        &--width-#{$key} {
            width: $value !important;
        }
        &--mwidth-#{$key} {
            max-width: $value !important;
        }
        &--height-#{$key} {
            height: $value !important;
        }
        &--mheight-#{$key} {
            max-height: $value !important;
        }
    }
}

