//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;
@use "../variables.scss";

//Sizing helpers
.#{siimple.$prefix-helpers} {
    //Sizes 
    @each $key,$value in variables.$percentages {
        &width-#{$key} {
            width: $value !important;
        }
        &max-width-#{$key} {
            max-width: $value !important;
        }
        &height-#{$key} {
            height: $value !important;
        }
        &max-height-#{$key} {
            max-height: $value !important;
        }
    }
}

