//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//

@use "@siimple/lib" as siimple;
@use "../variables.scss";

$positions: (
    "t": "top",
    "b": "bottom",
    "l": "left",
    "r": "right"
);

//Spacing class
.#{siimple.$prefix-helpers} {
    @each $key,$value in variables.$spacing {
        //Margin positions
        @each $position-key, $position-value in $positions {
            &m#{$position-key}-#{$key} {
                margin-#{$position-value}: $value !important;
            }
        }
        //Margin left and right
        &mx-#{$key} {
            margin-left: $value !important;
            margin-right: $value !important;
        }
        //Margin top and bottom
        &my-#{$key} {
            margin-top: $value !important;
            margin-bottom: $value !important;
        }
        //Padding attributes only if key is not auto
        @if $key != "auto" {
            //Margin alias
            &m-#{$key} {
                margin: $value !important;
            }
            //Padding alias
            &p-#{$key} {
                padding: $value !important;
            }
            //Padding positions
            @each $position-key, $position-value in $positions {
                &p#{$position-key}-#{$key} {
                    position-#{$position-value}: $value !important;
                }
            }
            //Padding left and right
            &px-#{$key} {
                padding-left: $value !important;
                padding-right: $value !important;
            }
            //Padding top and bottom
            &py-#{$key} {
                padding-top: $value !important;
                padding-bottom: $value !important;
            }
        }
    }
}

