//
// @siimple/css - minimal css toolkit for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple/siimple
// Website:    https://www.siimple.xyz
//
@import "../variables.scss";

//Text helpers
.#{$siimple-prefix}--text {
    //Text alignment
    &-justify {
        text-align: justify !important;
    }
    &-left {
        text-align: left !important;
    }
    &-center {
        text-align: center !important;
    }
    &-right {
        text-align: right !important;
    }
    //Text transformation
    &-uppercase {
        text-transform: uppercase !important;
    }
    &-lowercase {
        text-transform: lowercase !important;
    }
    &-capitalize {
        text-transform: capitalize !important;
    }
    &-bold {
        font-weight: 700 !important;
    }
    &-italic {
        font-style: italic !important;
    }
    &-underline {
        text-decoration: underline !important;
    }
    &-normal {
        font-weight: 400 !important;
    }
    //Text sizes
    &-small {
        font-size: 14px !important; 
    }
}

