@import "@siimple/css/scss/variables.scss";

//Page header style
.root {
    display: flex;
    //background-color: darken(siimple-default-color("light"), 3%);
    //background-color: siimple-default-color("light");
    //border-bottom: 1px solid #ffffff;
    padding: 5px;
    padding-bottom: 10px;
    //padding-top: 10px;
    //padding-bottom: 10px;
    height: 34px;
    vertical-align: middle;
}
//Header url
.url {
    display: block;
    vertical-align: top;
    border-radius: 100px;
    background-color: #ffffff;
    width: 100%;
    vertical-align: middle;
    padding: 5px;
    height: 24px;
    line-height: 24px;
    //Url bar icon
    &Icon {
        vertical-align: middle;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 10px;
        opacity: 0.6;
    }
    //Url bar text
    &Text {
        vertical-align: middle;
        opacity: 0.6;
        font-size: 14px;
        //font-weight: bold;
    }
}
//Header button
.button {
    display: block;
    flex-basis: 0;
    width: 18px;
    height: 34px;
    line-height: 34px;
    margin-left: 5px;
    padding-left: 8px;
    padding-right: 8px;
    //background-color: darken(siimple-default-color("light"), 0%); 
    background-color: transparent;
    transition: all 0.3s;
    color: siimple-default-color("dark");
    border-radius: 5px;
    //Button hover
    &:hover {
        cursor: pointer;
        color: siimple-default-color("primary") !important;
        background-color: rgba(siimple-default-color("primary"), 0.1);
    }
    //Button icon
    &Icon {
        font-size: 18px;
    }
}

