//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

$siimple-field-margin-top: 0px;
$siimple-field-margin-bottom: $siimple-default-margin-bottom;

$siimple-field-label-font-size: 14px;
$siimple-field-label-color: $siimple-default-text-color;
$siimple-field-label-margin-top: 0px;
$siimple-field-label-margin-bottom: 5px;

$siimple-field-helper-font-size: 13px;
$siimple-field-helper-color: siimple-default-color("dark", "light");
$siimple-field-helper-margin-top: 5px;
$siimple-field-helper-margin-bottom: 15px;

//The class siimple-form-field will be deprecated
//Use siimple-field istead!
.siimple-field, 
.siimple-form-field {
    display: block;
    vertical-align: top;
    margin-bottom: $siimple-field-margin-bottom;
    margin-top: $siimple-field-margin-top;
    //Field label
    &-label {
        display: block;
        //width: 100%;
        vertical-align: top;
        font-weight: 600;
        font-size: 14px;
        color: $siimple-default-color;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    &-helper {
        display: block;
        vertical-align: top;
        font-weight: normal;
        font-size: $siimple-field-helper-font-size;
        color: $siimple-field-helper-color;
        margin: {
            top: $siimple-field-helper-margin-top;
            bottom: $siimple-field-helper-margin-bottom;
        }
    }
}

