//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    http://siimple.juanes.xyz
//

//Input element
@mixin siimple-input
{
  //Display
  display: inline-block;

  //Size
  height: 30px; line-height: 30px;

  //Font
  font-family: $siimple-default-text-font;
  font-size: $siimple-default-text-size; color: $siimple-navy;

  //Padding
  padding: { left: 10px; right: 10px; top: 0px; bottom: 0px; }

  //Input border
  border: 0px; border-radius: $siimple-default-border-radius; outline: 0px;

  //Input background
  background-color: $siimple-grey;

  //Fluid input
  &--fluid { width: 100%; }
}
