//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://wwww.siimple.xyz
//
@import "siimple-colors/scss/_all.scss";
@import "../_variables.scss";

$siimple-input-height: 34px;
$siimple-input-padding: 10px;
$siimple-input-radius: $siimple-default-border-radius;

.siimple-input {
  display: inline-block;
  height: $siimple-input-height;
  line-height: $siimple-input-height;
  //font-family: $siimple-default-text-font;
  font-size: $siimple-default-text-size;
  color: $siimple-navy;
  padding: {
    left: $siimple-input-padding;
    right: $siimple-input-padding;
    top: 0px;
    bottom: 0px;
  }
  border: 0px;
  border-radius: $siimple-input-radius;
  outline: 0px;
  background-color: $siimple-grey;
  vertical-align: top;

  &--fluid {
    width: 100%;
  }

  &--light {
    background-color: $siimple-white;
  }

  &--dark {
    background-color: $siimple-navy;
    color: $siimple-white;
  }
}
