//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Label class
.siimple-label {
    display: inline-block;
    //height: 34px;
    min-height: 34px;
    line-height: 34px;
    //font-size: $siimple-default-font-size;
    font-size: 15px;
    color: $siimple-default-color;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 0px;
    vertical-align: top;
    //Light label style
    &--light {
        color: $siimple-default-white;
    }
    //Dark label style
    &--dark {
        color: siimple-default-color("dark");
    }
}

