//
// Siimple - minimal css framework for flat and clean websites
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple/blob/master/LICENSE.md
// Repository: https://github.com/siimple
// Website:    https://www.siimple.xyz
//
@import "../_variables.scss";
@import "../_functions.scss";

//Select variables
$siimple-select-height: 34px;
$siimple-select-line-height: $siimple-select-height;
$siimple-select-padding: 10px;
$siimple-select-color: $siimple-default-color;
$siimple-select-font-size: 14px;
$siimple-select-font-weight: normal;
$siimple-select-border: 0px;
$siimple-select-border-radius: $siimple-default-border-radius;
$siimple-select-background-color: siimple-default-color("light");
$siimple-select-outline: 0px;

//Select class
.siimple-select {
    display: inline-block;
    height: $siimple-select-height;
    line-height: $siimple-select-line-height;
    //font-family: $siimple-default-text-font;
    font-size: $siimple-select-font-size;
    font-weight: $siimple-select-font-weight;
    color: $siimple-select-color;
    padding: {
        left: $siimple-select-padding;
        right: $siimple-select-padding;
        top: 0px;
        bottom: 0px;
    }
    border: $siimple-select-border;
    border-radius: $siimple-select-border-radius;
    outline: $siimple-select-outline;
    background-color: $siimple-select-background-color;
    vertical-align: top;

    //Disable default appearance
    //-webkit-appearance: none;
    //-moz-appearance: none;
    
    //Fluid select
    &--fluid {
        width: 100%;
    }

    //Light select style
    &--light {
        background-color: $siimple-default-white;
    }

    //Dark select style
    &--dark {
        background-color: siimple-default-color("dark");
        color: $siimple-default-white;
    }
}

