name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: npm
      - run: npm install
      - run: npm run build
      - uses: actions/upload-artifact@v2
        with:
          name: siimple-build
          path: dist
          retention-days: 1

  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: npm
      - uses: actions/download-artifact@v2
        with:
          name: siimple-build
          path: dist
      - run: npm install
      - run: npm run test

#  stylelint:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions/setup-node@v2
#        with:
#          node-version: 14
#          cache: npm
#      - run: npm install
#      - run: npm run stylelint --fix
  
  deploy-docs:
    name: Build and deploy documentation site
    needs: [test]
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: npm
      - uses: actions/download-artifact@v2
        with:
          name: siimple-build
          path: dist
      - run: npm install
      - run: npm run docs
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          projectId: "${{ secrets.FIREBASE_PROJECT }}"
          channelId: live
          target: "${{ secrets.FIREBASE_TARGET_DEV }}"
