name: Deploy Website

on:
  push:
    branches: [main]
  release:
    types: [created]

jobs:
  website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: yarn install
      - run: yarn run build
      - run: yarn run website:build && yarn run website:copy

      - name: Add configuration (devel)
        if: github.event_name == 'push'
        run: 'echo "$FIREBASE_CONFIG" > ./.firebaserc'
        shell: bash
        env:
          FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG_DEVEL }}

      - name: Add configuration (production)
        if: github.event_name == 'release'
        run: 'echo "$FIREBASE_CONFIG" > ./.firebaserc'
        shell: bash
        env:
          FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG_WEBSITE }}

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          projectId: "${{ secrets.FIREBASE_PROJECT }}"
          channelId: live
          target: website
